{% comment %}
  Renders a media element for the product gallery.
  Media types include: image, video, external_video and model.
  Accepts:
  - media: {Object} Media Liquid object (required)
  - featured_media: {Object} Media Liquid object (required) - featured media of a given product or variant
  - height: {Number} Maximum height of the gallery (required)
  - image_zoom_size: {String} Size of the zoomed image (e.g., '1024x1024') (required for media type image)
  - enable_image_zoom: {Boolean} Image zoom setting (required for media type image)
  - image_scale:  {String} Image scale (e.g., '2') (required for media type image)

  Usage:
  {%- for media in product.media -%}
    {% include 'media', media: media, featured_media: featured_media, height: height %}
  {%- endfor -%}

  {%- for media in product.media -%}
    {% include 'media', media: media, featured_media: featured_media, height: height,
     enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale %}
  {%- endfor -%}
{% endcomment %}

{% capture media_id %}FeaturedMedia-{{ section.id }}-{{ media.id }}{% endcapture %}
{% capture media_class %}product-featured-media{% endcapture %}
{% capture media_wrapper_id %}{{ media_id }}-wrapper{% endcapture %}

{%- comment -%}
  Load different poster image sizes depending on the product layout
{%- endcomment -%}
{% capture image_size %}{{ height }}x{{ height }}{% endcapture %}

<div id="{{ media_wrapper_id }}"
	 class="product-single__media-wrapper js"
	 data-product-single-media-wrapper
	 data-media-id="{{ section.id }}-{{ media.id }}"
	 tabindex="-1">
	{%- assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
	<img id="{{ media_id }}"
		 class="feature-row__image {{ media_class }} lazyload{% unless featured_media == media %} lazypreload{% endunless %}"
		 src="{{ media | img_url: '300x300' }}"
		 data-src="{{ img_url }}"
		 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
		 data-aspectratio="{{ media.preview_image.aspect_ratio }}"
		 data-sizes="auto"
		 alt="{{ media.alt | escape }}">
</div>
