<iframe width="100%" height="100%" frameborder="0" data-pagefly-popup="true" allowfullscreen="allowfullscreen" src="https://truesons.com/pages/how-true-sons-is-different" style="visibility: visible;" srcdoc="
<!doctype html>
<html class=&quot;no-js&quot; lang=&quot;en&quot;>
<head>


  <!-- Global site tag (gtag.js) - Google Ads: 622217124 -->
<script async src=&quot;https://www.googletagmanager.com/gtag/js?id=AW-622217124&quot;></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-622217124');
</script>

  <meta charset=&quot;utf-8&quot;>
  <meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge,chrome=1&quot;>
  <meta name=&quot;viewport&quot; content=&quot;width=device-width,initial-scale=1&quot;>
  <meta name=&quot;theme-color&quot; content=&quot;#3a3a3a&quot;>
  <link rel=&quot;canonical&quot; href=&quot;https://truesons.com/pages/how-true-sons-is-different&quot;><link rel=&quot;shortcut icon&quot; href=&quot;//cdn.shopify.com/s/files/1/1600/5339/files/favicon-WHITE-new_32x32.png?v=1529667994&quot; type=&quot;image/png&quot;><title>How True Sons is Different</title><!-- /snippets/social-meta-tags.liquid -->




<meta property=&quot;og:site_name&quot; content=&quot;True Sons&quot;>
<meta property=&quot;og:url&quot; content=&quot;https://truesons.com/pages/how-true-sons-is-different&quot;>
<meta property=&quot;og:title&quot; content=&quot;How True Sons is Different&quot;>
<meta property=&quot;og:type&quot; content=&quot;website&quot;>
<meta property=&quot;og:description&quot; content=&quot;The only hair &amp; beard dye foam for men. The innovative hair dye gets delivered to door, so you can dye like a man &amp; look like you, only better.&quot;>





<meta name=&quot;twitter:card&quot; content=&quot;summary_large_image&quot;>
<meta name=&quot;twitter:title&quot; content=&quot;How True Sons is Different&quot;>
<meta name=&quot;twitter:description&quot; content=&quot;The only hair &amp; beard dye foam for men. The innovative hair dye gets delivered to door, so you can dye like a man &amp; look like you, only better.&quot;>


  <link href=&quot;//cdn.shopify.com/s/files/1/1600/5339/t/55/assets/theme.scss.css?v=5794880896211729525&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; media=&quot;all&quot; />
  <script>
    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: &quot;Add to cart&quot;,
        soldOut: &quot;Sold out&quot;,
        unavailable: &quot;Unavailable&quot;,
        regularPrice: &quot;Regular price&quot;,
        salePrice: &quot;Sale price&quot;,
        sale: &quot;Sale&quot;,
        fromLowestPrice: &quot;from [price]&quot;,
        vendor: &quot;Vendor&quot;,
        showMore: &quot;Show More&quot;,
        showLess: &quot;Show Less&quot;,
        searchFor: &quot;Search for&quot;,
        addressError: &quot;Error looking up that address&quot;,
        addressNoResults: &quot;No results for that address&quot;,
        addressQueryLimit: &quot;You have exceeded the Google API usage limit. Consider upgrading to a \u003ca href=\&quot;https:\/\/developers.google.com\/maps\/premium\/usage-limits\&quot;\u003ePremium Plan\u003c\/a\u003e.&quot;,
        authError: &quot;There was a problem authenticating your Google Maps account.&quot;,
        newWindow: &quot;Opens in a new window.&quot;,
        external: &quot;Opens external website.&quot;,
        newWindowExternal: &quot;Opens external website in a new window.&quot;,
        removeLabel: &quot;Remove [product]&quot;,
        update: &quot;Update&quot;,
        quantity: &quot;Quantity&quot;,
        discountedTotal: &quot;Discounted total&quot;,
        regularTotal: &quot;Regular total&quot;,
        priceColumn: &quot;See Price column for discount details.&quot;,
        quantityMinimumMessage: &quot;Quantity must be 1 or more&quot;,
        cartError: &quot;There was an error while updating your cart. Please try again.&quot;,
        removedItemMessage: &quot;Removed \u003cspan class=\&quot;cart__removed-product-details\&quot;\u003e([quantity]) [link]\u003c\/span\u003e from your cart.&quot;,
        unitPrice: &quot;Unit price&quot;,
        unitPriceSeparator: &quot;per&quot;,
        oneCartCount: &quot;1 item&quot;,
        otherCartCount: &quot;[count] items&quot;,
        quantityLabel: &quot;Quantity: [count]&quot;,
        products: &quot;Products&quot;,
        loading: &quot;Loading&quot;,
        number_of_results: &quot;[result_number] of [results_count]&quot;,
        number_of_results_found: &quot;[results_count] results found&quot;,
        one_result_found: &quot;1 result found&quot;
      },
      moneyFormat: &quot;${{amount}}&quot;,
      moneyFormatWithCurrency: &quot;${{amount}} USD&quot;,
      settings: {
        predictiveSearchEnabled: true,
        predictiveSearchShowPrice: false,
        predictiveSearchShowVendor: false
      }
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script><script src=&quot;//cdn.shopify.com/s/files/1/1600/5339/t/55/assets/lazysizes.js?v=9422402313628365795&quot; async=&quot;async&quot;></script>
  <script src=&quot;//cdn.shopify.com/s/files/1/1600/5339/t/55/assets/vendor.js?v=8583346420283214553&quot; defer=&quot;defer&quot;></script>
  <script src=&quot;//cdn.shopify.com/s/files/1/1600/5339/t/55/assets/theme.js?v=2919355524455617394&quot; defer=&quot;defer&quot;></script>
  <script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js&quot;></script>


  <script>window.performance &amp;&amp; window.performance.mark &amp;&amp; window.performance.mark('shopify.content_for_header.start');</script><meta name=&quot;google-site-verification&quot; content=&quot;3x4ml4JNPDupTFlFMN_rgwZXAYe0JewWk_2C4OnVoRE&quot;>
<meta id=&quot;shopify-digital-wallet&quot; name=&quot;shopify-digital-wallet&quot; content=&quot;/16005339/digital_wallets/dialog&quot;>
<meta name=&quot;shopify-checkout-api-token&quot; content=&quot;a854d698fd1c249f38b980e7bf331efc&quot;>
<meta id=&quot;in-context-paypal-metadata&quot; data-shop-id=&quot;16005339&quot; data-venmo-supported=&quot;true&quot; data-environment=&quot;production&quot; data-locale=&quot;en_US&quot; data-paypal-v4=&quot;true&quot; data-currency=&quot;USD&quot;>
<link href=&quot;https://monorail-edge.shopifysvc.com&quot; rel=&quot;dns-prefetch&quot;>
<script id=&quot;apple-pay-shop-capabilities&quot; type=&quot;application/json&quot;>{&quot;shopId&quot;:16005339,&quot;countryCode&quot;:&quot;US&quot;,&quot;currencyCode&quot;:&quot;USD&quot;,&quot;merchantCapabilities&quot;:[&quot;supports3DS&quot;],&quot;merchantId&quot;:&quot;gid:\/\/shopify\/Shop\/16005339&quot;,&quot;merchantName&quot;:&quot;True Sons&quot;,&quot;requiredBillingContactFields&quot;:[&quot;postalAddress&quot;,&quot;email&quot;],&quot;requiredShippingContactFields&quot;:[&quot;postalAddress&quot;,&quot;email&quot;],&quot;shippingType&quot;:&quot;shipping&quot;,&quot;supportedNetworks&quot;:[&quot;visa&quot;,&quot;masterCard&quot;,&quot;amex&quot;,&quot;discover&quot;,&quot;elo&quot;],&quot;total&quot;:{&quot;type&quot;:&quot;pending&quot;,&quot;label&quot;:&quot;True Sons&quot;,&quot;amount&quot;:&quot;1.00&quot;}}</script>
<script id=&quot;shopify-features&quot; type=&quot;application/json&quot;>{&quot;accessToken&quot;:&quot;a854d698fd1c249f38b980e7bf331efc&quot;,&quot;betas&quot;:[&quot;rich-media-storefront-analytics&quot;],&quot;domain&quot;:&quot;truesons.com&quot;,&quot;predictiveSearch&quot;:true,&quot;shopId&quot;:16005339,&quot;smart_payment_buttons_url&quot;:&quot;https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js&quot;,&quot;dynamic_checkout_cart_url&quot;:&quot;https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js&quot;,&quot;locale&quot;:&quot;en&quot;}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = &quot;true-sons-tl.myshopify.com&quot;;
Shopify.locale = &quot;en&quot;;
Shopify.currency = {&quot;active&quot;:&quot;USD&quot;,&quot;rate&quot;:&quot;1.0&quot;};
Shopify.theme = {&quot;name&quot;:&quot;Copy of live Dev New Store with Wholesale Landing&quot;,&quot;id&quot;:83232653391,&quot;theme_store_id&quot;:null,&quot;role&quot;:&quot;unpublished&quot;};
Shopify.theme.handle = &quot;null&quot;;
Shopify.theme.style = {&quot;id&quot;:null,&quot;handle&quot;:null};
Shopify.cdnHost = &quot;cdn.shopify.com&quot;;</script>
<script type=&quot;module&quot;>!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script>
<script>window.ShopifyPay = window.ShopifyPay || {};
window.ShopifyPay.apiHost = &quot;pay.shopify.com&quot;;</script>
<script>(function() {
  function asyncLoad() {
    var urls = [&quot;https:\/\/cdn.shopify.com\/s\/files\/1\/1600\/5339\/t\/10\/assets\/zendesk-embeddable.js?10278493707956029292\u0026shop=true-sons-tl.myshopify.com&quot;,&quot;https:\/\/static.klaviyo.com\/onsite\/js\/klaviyo.js?company_id=MQXvKS\u0026shop=true-sons-tl.myshopify.com&quot;,&quot;https:\/\/s3.amazonaws.com\/yo-apps\/thank-you-page\/3096bb4ba27b0ef40c64edd3d514f2c6\/bootstrap.js?v=202008071596815195\u0026shop=true-sons-tl.myshopify.com&quot;,&quot;https:\/\/track.klickly.com\/track.bundle.js?shop=true-sons-tl.myshopify.com&quot;];
    for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
  };
  if(window.attachEvent) {
    window.attachEvent('onload', asyncLoad);
  } else {
    window.addEventListener('load', asyncLoad, false);
  }
})();</script>
<script id=&quot;__st&quot;>var __st={&quot;a&quot;:16005339,&quot;offset&quot;:-14400,&quot;reqid&quot;:&quot;4fcd5c10-e917-466f-8ae7-407277c7eea5&quot;,&quot;pageurl&quot;:&quot;truesons.com\/pages\/how-true-sons-is-different&quot;,&quot;s&quot;:&quot;pages-51700596815&quot;,&quot;t&quot;:&quot;prospect&quot;,&quot;u&quot;:&quot;a3ce94cc846b&quot;,&quot;p&quot;:&quot;page&quot;,&quot;rtyp&quot;:&quot;page&quot;,&quot;rid&quot;:51700596815};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'USD';
var meta = {&quot;page&quot;:{&quot;pageType&quot;:&quot;page&quot;,&quot;resourceType&quot;:&quot;page&quot;,&quot;resourceId&quot;:51700596815}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
  ga('create', 'UA-120474774-1', 'auto', {allowLinker: true});
ga('require', 'linker');
ga('linker:autoLink', ['truesons.com', 'true-sons-tl.myshopify.com', 'recurringcheckout.com'], false, true);


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src=“https://www.googletagmanager.com/ns.html?id=GTM-5P2KLRT”
height=“0&quot; width=“0” style=“display:none;visibility:hidden”></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
};
</script>
<script class=&quot;analytics&quot;>(window.gaDevIds=window.gaDevIds||[]).push('BwiEti');


(function () {
  var customDocumentWrite = function(content) {
    var jquery = null;

    if (window.jQuery) {
      jquery = window.jQuery;
    } else if (window.Checkout &amp;&amp; window.Checkout.$) {
      jquery = window.Checkout.$;
    }

    if (jquery) {
      jquery('body').append(content);
    }
  };

  var isDuplicatedThankYouPageView = function() {
    return document.cookie.indexOf('loggedConversion=' + window.location.pathname) !== -1;
  }

  var setCookieIfThankYouPage = function() {
    if (window.location.pathname.indexOf('/checkouts') !== -1 &amp;&amp;
        window.location.pathname.indexOf('/thank_you') !== -1) {

      var twoMonthsFromNow = new Date(Date.now());
      twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);

      document.cookie = 'loggedConversion=' + window.location.pathname + '; expires=' + twoMonthsFromNow;
    }
  }

  var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
  if (trekkie.integrations) {
    return;
  }
  trekkie.methods = [
    'identify',
    'page',
    'ready',
    'track',
    'trackForm',
    'trackLink'
  ];
  trekkie.factory = function(method) {
    return function() {
      var args = Array.prototype.slice.call(arguments);
      args.unshift(method);
      trekkie.push(args);
      return trekkie;
    };
  };
  for (var i = 0; i < trekkie.methods.length; i++) {
    var key = trekkie.methods[i];
    trekkie[key] = trekkie.factory(key);
  }
  trekkie.load = function(config) {
    trekkie.config = config;
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onerror = function(e) {      var Monorail = {
      produce: function produce(monorailDomain, schemaId, payload) {
        var currentMs = new Date().getTime();
        var event = {
          schema_id: schemaId,
          payload: payload,
          metadata: {
            event_created_at_ms: currentMs,
            event_sent_at_ms: currentMs
          }
        };
        return Monorail.sendRequest(&quot;https://&quot; + monorailDomain + &quot;/v1/produce&quot;, JSON.stringify(event));
      },
      sendRequest: function sendRequest(endpointUrl, payload) {
        // Try the sendBeacon API
        if (window &amp;&amp; window.navigator &amp;&amp; typeof window.navigator.sendBeacon === 'function' &amp;&amp; typeof window.Blob === 'function' &amp;&amp; !Monorail.isIos12()) {
          var blobData = new window.Blob([payload], {
            type: 'text/plain'
          });

          if (window.navigator.sendBeacon(endpointUrl, blobData)) {
            return true;
          } // sendBeacon was not successful

        } // XHR beacon

        var xhr = new XMLHttpRequest();

        try {
          xhr.open('POST', endpointUrl);
          xhr.setRequestHeader('Content-Type', 'text/plain');
          xhr.send(payload);
        } catch (e) {
          console.log(e);
        }

        return false;
      },
      isIos12: function isIos12() {
        return window.navigator.userAgent.lastIndexOf('iPhone; CPU iPhone OS 12_') !== -1 || window.navigator.userAgent.lastIndexOf('iPad; CPU OS 12_') !== -1;
      }
    };
    Monorail.produce('monorail-edge.shopifysvc.com',
      'trekkie_storefront_load_errors/1.0',
      {shop_id: 16005339,
      theme_id: 83232653391,
      app_name: &quot;storefront&quot;});

      (new Image()).src = '//v.shopify.com/internal_errors/track?error=trekkie_load';
    };
    script.async = true;
    script.src = 'https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2020.07.13.1';
    var first = document.getElementsByTagName('script')[0];
    first.parentNode.insertBefore(script, first);
  };
  trekkie.load(
    {&quot;Trekkie&quot;:{&quot;appName&quot;:&quot;storefront&quot;,&quot;development&quot;:false,&quot;defaultAttributes&quot;:{&quot;shopId&quot;:16005339,&quot;isMerchantRequest&quot;:null,&quot;themeId&quot;:83232653391,&quot;themeCityHash&quot;:&quot;16681405574884277185&quot;,&quot;contentLanguage&quot;:&quot;en&quot;,&quot;currency&quot;:&quot;USD&quot;},&quot;isServerSideCookieWritingEnabled&quot;:true,&quot;isPixelGateEnabled&quot;:true},&quot;Performance&quot;:{&quot;navigationTimingApiMeasurementsEnabled&quot;:true,&quot;navigationTimingApiMeasurementsSampleRate&quot;:1},&quot;Google Analytics&quot;:{&quot;trackingId&quot;:&quot;UA-120474774-1&quot;,&quot;domain&quot;:&quot;auto&quot;,&quot;siteSpeedSampleRate&quot;:&quot;10&quot;,&quot;enhancedEcommerce&quot;:true,&quot;doubleClick&quot;:true,&quot;includeSearch&quot;:true},&quot;Facebook Pixel&quot;:{&quot;pixelIds&quot;:[&quot;609785179905276&quot;,&quot;1109950875847158&quot;],&quot;agent&quot;:&quot;plshopify1.2&quot;},&quot;Session Attribution&quot;:{}}
  );

  var loaded = false;
  trekkie.ready(function() {
    if (loaded) return;
    loaded = true;

    window.ShopifyAnalytics.lib = window.trekkie;

      ga('require', 'linker');
      function addListener(element, type, callback) {
        if (element.addEventListener) {
          element.addEventListener(type, callback);
        }
        else if (element.attachEvent) {
          element.attachEvent('on' + type, callback);
        }
      }
      function decorate(event) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        if (target &amp;&amp; (target.getAttribute('action') || target.getAttribute('href'))) {
          ga(function (tracker) {
            var linkerParam = tracker.get('linkerParam');
            document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
          });
        }
      }
      addListener(window, 'load', function(){
        for (var i=0; i < document.forms.length; i++) {
          var action = document.forms[i].getAttribute('action');
          if(action &amp;&amp; action.indexOf('/cart') >= 0) {
            addListener(document.forms[i], 'submit', decorate);
          }
        }
        for (var i=0; i < document.links.length; i++) {
          var href = document.links[i].getAttribute('href');
          if(href &amp;&amp; href.indexOf('/checkout') >= 0) {
            addListener(document.links[i], 'click', decorate);
          }
        }
      });


    var originalDocumentWrite = document.write;
    document.write = customDocumentWrite;
    try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
    document.write = originalDocumentWrite;
      (function () {
        if (window.BOOMR &amp;&amp; (window.BOOMR.version || window.BOOMR.snippetExecuted)) {
          return;
        }
        window.BOOMR = window.BOOMR || {};
        window.BOOMR.snippetStart = new Date().getTime();
        window.BOOMR.snippetExecuted = true;
        window.BOOMR.snippetVersion = 12;
        window.BOOMR.application = &quot;core&quot;;
        window.BOOMR.shopId = 16005339;
        window.BOOMR.themeId = 83232653391;
        window.BOOMR.themeName = &quot;Debut&quot;;
        window.BOOMR.themeVersion = &quot;16.5.6&quot;;
        window.BOOMR.url =
          &quot;https://cdn.shopify.com/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js&quot;;
        var where = document.currentScript || document.getElementsByTagName(&quot;script&quot;)[0];
        var parentNode = where.parentNode;
        var promoted = false;
        var LOADER_TIMEOUT = 3000;
        function promote() {
          if (promoted) {
            return;
          }
          var script = document.createElement(&quot;script&quot;);
          script.id = &quot;boomr-scr-as&quot;;
          script.src = window.BOOMR.url;
          script.async = true;
          parentNode.appendChild(script);
          promoted = true;
        }
        function iframeLoader(wasFallback) {
          promoted = true;
          var dom, bootstrap, iframe, iframeStyle;
          var doc = document;
          var win = window;
          window.BOOMR.snippetMethod = wasFallback ? &quot;if&quot; : &quot;i&quot;;
          bootstrap = function(parent, scriptId) {
            var script = doc.createElement(&quot;script&quot;);
            script.id = scriptId || &quot;boomr-if-as&quot;;
            script.src = window.BOOMR.url;
            BOOMR_lstart = new Date().getTime();
            parent = parent || doc.body;
            parent.appendChild(script);
          };
          if (!window.addEventListener &amp;&amp; window.attachEvent &amp;&amp; navigator.userAgent.match(/MSIE [67]./)) {
            window.BOOMR.snippetMethod = &quot;s&quot;;
            bootstrap(parentNode, &quot;boomr-async&quot;);
            return;
          }
          iframe = document.createElement(&quot;IFRAME&quot;);
          iframe.src = &quot;about:blank&quot;;
          iframe.title = &quot;&quot;;
          iframe.role = &quot;presentation&quot;;
          iframe.loading = &quot;eager&quot;;
          iframeStyle = (iframe.frameElement || iframe).style;
          iframeStyle.width = 0;
          iframeStyle.height = 0;
          iframeStyle.border = 0;
          iframeStyle.display = &quot;none&quot;;
          parentNode.appendChild(iframe);
          try {
            win = iframe.contentWindow;
            doc = win.document.open();
          } catch (e) {
            dom = document.domain;
            iframe.src = &quot;javascript:var d=document.open();d.domain='&quot; + dom + &quot;';void(0);&quot;;
            win = iframe.contentWindow;
            doc = win.document.open();
          }
          if (dom) {
            doc._boomrl = function() {
              this.domain = dom;
              bootstrap();
            };
            doc.write(&quot;<body onload='document._boomrl();'>&quot;);
          } else {
            win._boomrl = function() {
              bootstrap();
            };
            if (win.addEventListener) {
              win.addEventListener(&quot;load&quot;, win._boomrl, false);
            } else if (win.attachEvent) {
              win.attachEvent(&quot;onload&quot;, win._boomrl);
            }
          }
          doc.close();
        }
        var link = document.createElement(&quot;link&quot;);
        if (link.relList &amp;&amp;
          typeof link.relList.supports === &quot;function&quot; &amp;&amp;
          link.relList.supports(&quot;preload&quot;) &amp;&amp;
          (&quot;as&quot; in link)) {
          window.BOOMR.snippetMethod = &quot;p&quot;;
          link.href = window.BOOMR.url;
          link.rel = &quot;preload&quot;;
          link.as = &quot;script&quot;;
          link.addEventListener(&quot;load&quot;, promote);
          link.addEventListener(&quot;error&quot;, function() {
            iframeLoader(true);
          });
          setTimeout(function() {
            if (!promoted) {
              iframeLoader(true);
            }
          }, LOADER_TIMEOUT);
          BOOMR_lstart = new Date().getTime();
          parentNode.appendChild(link);
        } else {
          iframeLoader(false);
        }
        function boomerangSaveLoadTime(e) {
          window.BOOMR_onload = (e &amp;&amp; e.timeStamp) || new Date().getTime();
        }
        if (window.addEventListener) {
          window.addEventListener(&quot;load&quot;, boomerangSaveLoadTime, false);
        } else if (window.attachEvent) {
          window.attachEvent(&quot;onload&quot;, boomerangSaveLoadTime);
        }
        if (document.addEventListener) {
          document.addEventListener(&quot;onBoomerangLoaded&quot;, function(e) {
            e.detail.BOOMR.init({
              producer_url: &quot;https://monorail-edge.shopifysvc.com/v1/produce&quot;,
              ResourceTiming: {
                enabled: true,
                trackedResourceTypes: [&quot;script&quot;, &quot;img&quot;, &quot;css&quot;]
              },
            });
            e.detail.BOOMR.t_end = new Date().getTime();
          });
        } else if (document.attachEvent) {
          document.attachEvent(&quot;onpropertychange&quot;, function(e) {
            if (!e) e=event;
            if (e.propertyName === &quot;onBoomerangLoaded&quot;) {
              e.detail.BOOMR.init({
                producer_url: &quot;https://monorail-edge.shopifysvc.com/v1/produce&quot;,
                ResourceTiming: {
                  enabled: true,
                  trackedResourceTypes: [&quot;script&quot;, &quot;img&quot;, &quot;css&quot;]
                },
              });
              e.detail.BOOMR.t_end = new Date().getTime();
            }
          });
        }
      })();


    if (!isDuplicatedThankYouPageView()) {
      setCookieIfThankYouPage();

        window.ShopifyAnalytics.lib.page(
          null,
          {&quot;pageType&quot;:&quot;page&quot;,&quot;resourceType&quot;:&quot;page&quot;,&quot;resourceId&quot;:51700596815}
        );


    }
  });


      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = &quot;//cdn.shopify.com/s/assets/shop_events_listener-d81deda6557a113fbcc6a993184828adcef6f241e4ca52b6a21169cb03169317.js&quot;;
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

})();</script>
<script>!function(e){e.addEventListener(&quot;DOMContentLoaded&quot;,function(){var t;null!==e.querySelector('form[action^=&quot;/contact&quot;] input[name=&quot;form_type&quot;][value=&quot;contact&quot;]')&amp;&amp;(window.Shopify=window.Shopify||{},window.Shopify.recaptchaV3=window.Shopify.recaptchaV3||{siteKey:&quot;6LcCR2cUAAAAANS1Gpq_mDIJ2pQuJphsSQaUEuc9&quot;},(t=e.createElement(&quot;script&quot;)).setAttribute(&quot;src&quot;,&quot;https://cdn.shopify.com/shopifycloud/storefront-recaptcha-v3/v0.1/index.js&quot;),e.body.appendChild(t))})}(document);</script>
<script>document.addEventListener('DOMContentLoaded', function() {
  const previewBarInjector = new Shopify.PreviewBarInjector({
    targetNode: document.body,
    iframeRoot: 'https://truesons.com',
    iframeSrc: 'https://truesons.com/preview_bar',
    previewToken: 'pf28s2wchyfwb8g5',
    themeStoreId: '',
    permanentDomain: 'true-sons-tl.myshopify.com',
  });
  previewBarInjector.init();
});</script>
<script integrity=&quot;sha256-GkS6D0JfVvFoaxmvX+T8Owz974xJVdRRDQbxbJf9Nmg=&quot; crossorigin=&quot;anonymous&quot; data-source-attribution=&quot;shopify.loadfeatures&quot; defer=&quot;defer&quot; src=&quot;//cdn.shopify.com/s/assets/storefront/load_feature-1a44ba0f425f56f1686b19af5fe4fc3b0cfdef8c4955d4510d06f16c97fd3668.js&quot;></script>
<script crossorigin=&quot;anonymous&quot; defer=&quot;defer&quot; src=&quot;//cdn.shopify.com/s/assets/shopify_pay/storefront-21b5dddfc8b64c1ad68cee3ba7448d1ffa15c24e969ebc1fbccf1a3784b659ad.js?v=20190107&quot;></script>
<script integrity=&quot;sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=&quot; data-source-attribution=&quot;shopify.dynamic-checkout&quot; defer=&quot;defer&quot; src=&quot;//cdn.shopify.com/s/assets/storefront/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js&quot; crossorigin=&quot;anonymous&quot;></script>
<script defer=&quot;defer&quot; src=&quot;//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-99e991855b3d8ddc69e625c68ab0579dd9927b611c2ec4943d396c72e3af0849.js&quot;></script>
<script integrity=&quot;sha256-HjpxOt032ssmooRgVOW/c8loNAwGy026qLmF3OAx9M0=&quot; crossorigin=&quot;anonymous&quot; defer=&quot;defer&quot; src=&quot;//cdn.shopify.com/s/assets/storefront/bars/preview_bar_injector-1e3a713add37dacb26a2846054e5bf73c968340c06cb4dbaa8b985dce031f4cd.js&quot;></script>


<style id=&quot;shopify-dynamic-checkout-cart&quot;>@media screen and (min-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 240px;
  }
}
</style><script>window.performance &amp;&amp; window.performance.mark &amp;&amp; window.performance.mark('shopify.content_for_header.end');</script>
<script>window.BOLD = window.BOLD || {};
    window.BOLD.common = window.BOLD.common || {};
    window.BOLD.common.Shopify = window.BOLD.common.Shopify || {};
    window.BOLD.common.Shopify.shop = {
      domain: 'truesons.com',
      permanent_domain: 'true-sons-tl.myshopify.com',
      url: 'https://truesons.com',
      secure_url: 'https://truesons.com',
      money_format: &quot;${{amount}}&quot;,
      currency: &quot;USD&quot;
    };
    window.BOLD.common.Shopify.customer = {
      id: null,
      tags: null,
    };
    window.BOLD.common.Shopify.cart = {&quot;note&quot;:&quot;&quot;,&quot;attributes&quot;:{},&quot;original_total_price&quot;:12000,&quot;total_price&quot;:12000,&quot;total_discount&quot;:0,&quot;total_weight&quot;:0.0,&quot;item_count&quot;:1,&quot;items&quot;:[{&quot;id&quot;:32648548188239,&quot;properties&quot;:null,&quot;quantity&quot;:1,&quot;variant_id&quot;:32648548188239,&quot;key&quot;:&quot;32648548188239:f2d14d5595e572712dc1c5c14782446e&quot;,&quot;title&quot;:&quot;Medium Brown - 6&quot;,&quot;price&quot;:12000,&quot;original_price&quot;:12000,&quot;discounted_price&quot;:12000,&quot;line_price&quot;:12000,&quot;original_line_price&quot;:12000,&quot;total_discount&quot;:0,&quot;discounts&quot;:[],&quot;sku&quot;:&quot;&quot;,&quot;grams&quot;:0,&quot;vendor&quot;:&quot;True Sons&quot;,&quot;taxable&quot;:true,&quot;product_id&quot;:4807151321167,&quot;product_has_only_default_variant&quot;:false,&quot;gift_card&quot;:false,&quot;final_price&quot;:12000,&quot;final_line_price&quot;:12000,&quot;url&quot;:&quot;\/products\/medium-brown?variant=32648548188239&quot;,&quot;featured_image&quot;:{&quot;aspect_ratio&quot;:1.0,&quot;alt&quot;:&quot;Medium Brown&quot;,&quot;height&quot;:359,&quot;url&quot;:&quot;https:\/\/cdn.shopify.com\/s\/files\/1\/1600\/5339\/products\/medium_brown.png?v=1602261569&quot;,&quot;width&quot;:359},&quot;image&quot;:&quot;https:\/\/cdn.shopify.com\/s\/files\/1\/1600\/5339\/products\/medium_brown.png?v=1602261569&quot;,&quot;handle&quot;:&quot;medium-brown&quot;,&quot;requires_shipping&quot;:true,&quot;product_type&quot;:&quot;bundle&quot;,&quot;product_title&quot;:&quot;Medium Brown&quot;,&quot;product_description&quot;:&quot;&quot;,&quot;variant_title&quot;:&quot;6&quot;,&quot;variant_options&quot;:[&quot;6&quot;],&quot;options_with_values&quot;:[{&quot;name&quot;:&quot;Qty&quot;,&quot;value&quot;:&quot;6&quot;}],&quot;line_level_discount_allocations&quot;:[],&quot;line_level_total_discount&quot;:0}],&quot;requires_shipping&quot;:true,&quot;currency&quot;:&quot;USD&quot;,&quot;items_subtotal_price&quot;:12000,&quot;cart_level_discount_applications&quot;:[]};
    window.BOLD.common.template = 'page';window.BOLD.common.Shopify.formatMoney = function(money, format) {
        function n(t, e) {
            return &quot;undefined&quot; == typeof t ? e : t
        }
        function r(t, e, r, i) {
            if (e = n(e, 2),
                r = n(r, &quot;,&quot;),
                i = n(i, &quot;.&quot;),
            isNaN(t) || null == t)
                return 0;
            t = (t / 100).toFixed(e);
            var o = t.split(&quot;.&quot;)
                , a = o[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, &quot;$1&quot; + r)
                , s = o[1] ? i + o[1] : &quot;&quot;;
            return a + s
        }
        &quot;string&quot; == typeof money &amp;&amp; (money = money.replace(&quot;.&quot;, &quot;&quot;));
        var i = &quot;&quot;
            , o = /\{\{\s*(\w+)\s*\}\}/
            , a = format || window.BOLD.common.Shopify.shop.money_format || window.Shopify.money_format || &quot;$ {{ amount }}&quot;;
        switch (a.match(o)[1]) {
            case &quot;amount&quot;:
                i = r(money, 2, &quot;,&quot;, &quot;.&quot;);
                break;
            case &quot;amount_no_decimals&quot;:
                i = r(money, 0, &quot;,&quot;, &quot;.&quot;);
                break;
            case &quot;amount_with_comma_separator&quot;:
                i = r(money, 2, &quot;.&quot;, &quot;,&quot;);
                break;
            case &quot;amount_no_decimals_with_comma_separator&quot;:
                i = r(money, 0, &quot;.&quot;, &quot;,&quot;);
                break;
            case &quot;amount_with_space_separator&quot;:
                i = r(money, 2, &quot; &quot;, &quot;,&quot;);
                break;
            case &quot;amount_no_decimals_with_space_separator&quot;:
                i = r(money, 0, &quot; &quot;, &quot;,&quot;);
                break;
            case &quot;amount_with_apostrophe_separator&quot;:
                i = r(money, 2, &quot;'&quot;, &quot;.&quot;);
                break;
        }
        return a.replace(o, i);
    };
    window.BOLD.common.Shopify.saveProduct = function (handle, product) {
      if (typeof handle === 'string' &amp;&amp; typeof window.BOLD.common.Shopify.products[handle] === 'undefined') {
        if (typeof product === 'number') {
          window.BOLD.common.Shopify.handles[product] = handle;
          product = { id: product };
        }
        window.BOLD.common.Shopify.products[handle] = product;
      }
    };
    window.BOLD.common.Shopify.saveVariant = function (variant_id, variant) {
      if (typeof variant_id === 'number' &amp;&amp; typeof window.BOLD.common.Shopify.variants[variant_id] === 'undefined') {
        window.BOLD.common.Shopify.variants[variant_id] = variant;
      }
    };window.BOLD.common.Shopify.products = window.BOLD.common.Shopify.products || {};
    window.BOLD.common.Shopify.variants = window.BOLD.common.Shopify.variants || {};
    window.BOLD.common.Shopify.handles = window.BOLD.common.Shopify.handles || {};window.BOLD.common.Shopify.saveProduct(null, null);window.BOLD.apps_installed = {&quot;Recurring Orders&quot;:1} || {};window.BOLD.common.Shopify.saveVariant(32648548188239, { product_id: 4807151321167, product_handle: &quot;medium-brown&quot;, price: 12000, group_id: '160309', csp_metafield: {}});window.BOLD.common.Shopify.metafields = window.BOLD.common.Shopify.metafields || {};window.BOLD.common.Shopify.metafields[&quot;bold_rp&quot;] = {&quot;recurring_type&quot;:2};window.BOLD.common.Shopify.metafields[&quot;bold_csp_defaults&quot;] = {};window.BOLD.common.cacheParams = window.BOLD.common.cacheParams || {};
window.BOLD.common.cacheParams.recurring_orders = 1602504573;
</script><script src=&quot;https://ro.boldapps.net/v2_ui/js/ro.js&quot; type=&quot;text/javascript&quot;></script><script>
  var BOLD = BOLD || {};
  BOLD.recurring_orders = BOLD.recurring_orders || {};
  if(typeof BOLD.recurring_orders.setSettings !== 'undefined') {
      BOLD.recurring_orders.setSettings({
        loadingEnabled: true
      },true);
   } else {
     BOLD.recurring_orders.settings = {
       loadingEnabled: true
     };
   }
  BOLD.recurring_orders.modes = {
    current_mode:2,
    recurring_cart:0,
    single_product:1,
    mixed_cart:2
  };
  BOLD.customer = BOLD.customer || {};
  BOLD.customer.id = null || '';
  BOLD.customer.email= null || '';
  BOLD.customer.address1= null || '';
  BOLD.customer.address = null || '';
  BOLD.customer.city = null || '';
  BOLD.customer.company = null || '';
  BOLD.customer.country = null || '';
  BOLD.customer.first_name = null || '';
  BOLD.customer.last_name = null || '';
  BOLD.customer.phone = null || '';
  BOLD.customer.province = null || '';
  BOLD.customer.zip = null || '';
  BOLD.customer.tags = null || '';


  window.mixed_cart = null;
</script><link href=&quot;//cdn.shopify.com/s/files/1/1600/5339/t/55/assets/bold-ro.css?v=4906079567190312967&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; media=&quot;all&quot; />

<script>window.__pagefly_analytics_settings__ = {&quot;acceptTracking&quot;:true};</script>
 <meta property=&quot;og:image&quot; content=&quot;https://cdn.shopify.com/s/files/1/1600/5339/files/footer-logo.png?height=628&amp;pad_color=fff&amp;v=1567695706&amp;width=1200&quot; />
<meta property=&quot;og:image:secure_url&quot; content=&quot;https://cdn.shopify.com/s/files/1/1600/5339/files/footer-logo.png?height=628&amp;pad_color=fff&amp;v=1567695706&amp;width=1200&quot; />
<meta property=&quot;og:image:width&quot; content=&quot;1200&quot; />
<meta property=&quot;og:image:height&quot; content=&quot;628&quot; />
</head>

<body class=&quot;template-page&quot;><div class=&quot;pagefly-container&quot;>
<link rel=&quot;stylesheet&quot; href=&quot;https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&amp;display=swap&quot;><link rel=&quot;stylesheet&quot; href=&quot;https://cdn.pagefly.io/pagefly/2.12.0/css/main-style.css?t=20200614110626&quot;><link rel=&quot;stylesheet&quot; href=&quot;//cdn.shopify.com/s/files/1/1600/5339/t/55/assets/pagefly.de4b9062.scss.css?v=12082358714776773229&quot;>
		  <div class=&quot;__pf&quot; id=&quot;__pf&quot;><div data-pf-type=&quot;Body&quot; class=&quot;sc-pRgDJ fzXWJx pf-e58fbea2&quot;><div data-pf-type=&quot;Layout&quot; class=&quot;pf-9b4833e5&quot;><div data-container=&quot;false&quot; class=&quot;sc-pZopv bjKdkd pf-55de4b90&quot; data-pf-type=&quot;Section&quot;><div class=&quot;sc-pQQXS iWCqut&quot;><div class=&quot;sc-qPjXN eYzxUD pf-4833e58f pf-r pf-r-eh&quot; style=&quot;--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:50px; --pf-s-xs:15px;&quot; data-pf-type=&quot;Row&quot;><div class=&quot;sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12&quot;><div class=&quot;sc-pkUyL fTyjzF pf-0655de4b&quot; data-pf-type=&quot;Column&quot;><div data-pf-type=&quot;Custom.HTML&quot; class=&quot;sc-pciXn kKVZfa pf-33e58fbe&quot;><h2 style=&quot;text-align:center;font-family:'Neutraface 2 Text';&quot;>How True Sons is Different</h2>
                  <div class=&quot;embed-container&quot;>
                  <style type=&quot;text/css&quot;>
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;margin-bottom: 35px;}
.tg td{font-family: 'Neutraface 2 Text Light';font-weight: bold;;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#000;font-weight:600;font-size:15px;background-color:#e8edff;}
.tg th{font-family: 'Neutraface 2 Text Light';font-weight: bold;;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
.tg .tg-1ozy{background-color:#ffffff;border-color:transparent;text-align:center;vertical-align:top}
.tg .tg-331y{background-color:#ffffff;color:#ff6868;border-color:transparent;text-align:center;vertical-align:top}
.tg .tg-kyw5{background-color:#ffffff;color:#397e21;border-color:transparent;text-align:center;vertical-align:top}
.tg .tg-wk8r{background-color:#ffffff;border-color:transparent;text-align:center;vertical-align:top}
.tg .tg-4eph{border-bottom: 1px solid #C4C4C4;border-top: 1px solid #C4C4C4;border-right: none;border-left: none;background-color:#ffffff;color:#000;text-align:right;vertical-align:top;font-weight:600;font-size:20px;padding-right:17px;}
.tg .tg-rdjq{border-bottom: 1px solid #C4C4C4;border-top: 1px solid #C4C4C4;border-right: none;border-left: none;background-color:#ffffff;color:#656565;text-align:left;vertical-align:top}
.tg .tg-yh44{border-bottom: 1px solid #C4C4C4;border-top: 1px solid #C4C4C4;border-right: none;border-left: none;background-color:#ffffff;color:#000;text-align:center;vertical-align:top;font-weight:600;font-size:20px;}
.tg .tg-enrs{padding-top: 25px;background: url(&quot;https://cdn.shopify.com/s/files/1/1600/5339/files/popup-img_aca5a565-5955-4186-b1ef-3f83dd1ee675.png?v=1582151450&quot;) no-repeat 80% 65% white;color:#ffffff;border-color:transparent;text-align:left;vertical-align:top}
.tg .tg-enrs-2{padding-top: 25px;background: url(&quot;https://cdn.shopify.com/s/files/1/1600/5339/files/Group_100.png?v=1580942546&quot;) no-repeat 0% 35% white;color:#ffffff;border-color:transparent;text-align:left;vertical-align:top}
.tg .tg-b3e6{background-color:#ffffff;color:#397e21;border-color:transparent;text-align:center;vertical-align:top}
.tg .tg-sz8d{background-color:#ffffff;color:#ff6868;border-color:transparent;text-align:center;vertical-align:top}
.tg .tg-1ozy-up, .tg .tg-kyw5-up, .tg .tg-331y-up {padding-top: 25px;}
</style>
<table class=&quot;tg&quot; style=&quot;undefined;table-layout: fixed; width: 962px&quot;>
<colgroup>
<col class=&quot;col_1&quot;>
<col class=&quot;col_2&quot;>
<col class=&quot;col_3&quot;>
<col class=&quot;col_4&quot;>
<col class=&quot;col_5&quot;>
</colgroup>
  <tbody><tr class=&quot;tg-row&quot;>
    <th class=&quot;tg-4eph&quot; colspan=&quot;2&quot;>True Sons</th>
    <th class=&quot;tg-rdjq&quot;></th>
    <th class=&quot;tg-yh44&quot;>Drugstore dye</th>
    <th class=&quot;tg-rdjq&quot;></th>
  </tr>
  <tr>
    <td class=&quot;tg-enrs&quot; rowspan=&quot;7&quot;></td>
    <td class=&quot;tg-kyw5 tg-kyw5-up&quot;>Yes</td>
    <td class=&quot;tg-1ozy tg-1ozy-up&quot;>Overdye Protection</td>
    <td class=&quot;tg-331y tg-331y-up&quot;>No</td>
    <td class=&quot;tg-enrs-2&quot; rowspan=&quot;7&quot;></td>
  </tr>
  <tr>
    <td class=&quot;tg-b3e6&quot;>Yes</td>
    <td class=&quot;tg-wk8r&quot;>Air Oxidizing Foam</td>
    <td class=&quot;tg-sz8d&quot;>No</td>
  </tr>
  <tr>
    <td class=&quot;tg-kyw5&quot;>Yes</td>
    <td class=&quot;tg-1ozy&quot;>No Mixing</td>
    <td class=&quot;tg-331y&quot;>No</td>
  </tr>
  <tr>
    <td class=&quot;tg-b3e6&quot;>Yes</td>
    <td class=&quot;tg-wk8r&quot;>Multi-Use</td>
    <td class=&quot;tg-sz8d&quot;>No</td>
  </tr>
  <tr>
    <td class=&quot;tg-kyw5&quot;>Yes</td>
    <td class=&quot;tg-1ozy&quot;>Wipes for easy clean up</td>
    <td class=&quot;tg-331y&quot;>No</td>
  </tr>
  <tr>
    <td class=&quot;tg-b3e6&quot;>Yes</td>
    <td class=&quot;tg-wk8r&quot;>Hand crafted shades*</td>
    <td class=&quot;tg-sz8d&quot;>No</td>
  </tr>
  <tr>
    <td class=&quot;tg-kyw5&quot;>Yes</td>
    <td class=&quot;tg-1ozy&quot;>Discreet Packaging</td>
    <td class=&quot;tg-331y&quot;>No</td>
  </tr>
</tbody></table>
           </div>
</div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={&quot;baseURL&quot;:&quot;https://apps.pagefly.io&quot;,&quot;analyticsURL&quot;:&quot;https://analytics.pagefly.io&quot;,&quot;isBackend&quot;:false,&quot;cdnURL&quot;:&quot;https://cdn.pagefly.io&quot;,&quot;pageflyVersion&quot;:&quot;2.12.0&quot;,&quot;shopDomain&quot;:&quot;true-sons-tl.myshopify.com&quot;,&quot;elementData&quot;:{},&quot;pageTitle&quot;:&quot;How True Sons is Different&quot;,&quot;pageType&quot;:&quot;page&quot;,&quot;pageId&quot;:&quot;de4b9062-2d84-4114-a98c-5488a24d4cee&quot;,&quot;lazyLoad&quot;:false,&quot;imageLazyLoad&quot;:false,&quot;nativeImageLazyLoad&quot;:true,&quot;trackingIDs&quot;:[]};
					window.__pagefly_setting__.moneyFormat = &quot;${{amount}}&quot;
				</script><script src=&quot;https://cdn.pagefly.io/pagefly/2.12.0/core/helper.js?t=20200614110626&quot; defer></script></div></body>
</html>
" class="animated fadeIn"></iframe>