<link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.12.0/css/main-style.css?t=20200611000625"><link rel="stylesheet" href="{{ 'pagefly.53357e37.scss.css' | asset_url }}">
		  {% if product_4549484380220 == null %}{%- assign product_4549484380220 = all_products['new-foam-hair-dye-for-men'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4549484380220"] = {
					id: {{product_4549484380220.id | json }},
					handle: {{product_4549484380220.handle | json }},
					title: {{product_4549484380220.title | json }},
					type: {{product_4549484380220.type | json }},
					url: {{product_4549484380220.url | json }},
					vendor: {{product_4549484380220.vendor | json }},
					variants: {{product_4549484380220.variants | json }},
					options: {{product_4549484380220.options | json }},
					media: {{product_4549484380220.media | json }},
					first_available_variant: {{product_4549484380220.first_available_variant | json }},
					has_only_default_variant: {{product_4549484380220.has_only_default_variant | json }},
					options_with_values: {{product_4549484380220.options_with_values | json }},
					selected_variant: {{product_4549484380220.selected_variant | json }},
					selected_or_first_available_variant: {{product_4549484380220.selected_or_first_available_variant | json }},
					tags: {{product_4549484380220.tags | json }},
					template_suffix: {{product_4549484380220.template_suffix | json }},
					featured_image: {{product_4549484380220.featured_image | json }},
					featured_media: {{product_4549484380220.featured_media | json }},
					images: {{product_4549484380220.images | json }}
				};
window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					first_available_variant: {{product.first_available_variant | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-255b0ffb"><div data-pf-type="Layout" class="pf-9e255b0f"><div data-container="false" class="sc-pZopv bjKdkd pf-07834124" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-65078341 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:0px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-a0650783" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-baa06507">{%- assign product_4549484380220 = all_products['new-foam-hair-dye-for-men'] -%}
<div class="steps">
  <div class="steps-line" style="width:100%;">
    <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
    </div>
    </div>
  </div>
  <ul class="points" style="width:70%;text-align: center">
    <li id="ow-step-1" class="tab-current" style="width:33.33%;">
	  <div class="point_text"> <span class="mobile_hide">Select</span> Shade</div>
	  <div class="point_one point_number">1</div>
	</li>
	<li id="ow-step-2" class="" style="width:33.33%;">
	  <div class="point_text"> <span class="mobile_hide">Select</span> Intensity</div>
	  <div class="point_two point_number">2</div>
	</li>
	<li id="ow-step-3" class="" style="width:33.33%;">
	  <div class="point_text"> <span class="mobile_hide">Select</span> Frequency</div>
	  <div class="point_three point_number">3</div>
	</li>
  </ul>
</div>
<style>
  .tab-current > .point_text {
    color: #051699;
}
  .tab-current > .point_number {
    color: #fff;
    background-color: #051699;
	border: 1px solid #051699;

}
 .point_text {
	font-family: "Neutraface 2 Text";
	font-size: 17px;
	margin-bottom: -20px;
	font-weight: bold;
}
.steps {
	position: relative;
	width: 100%;
	margin: 10px auto;
	padding: 0;
    display: flex;
    justify-content: center;
}

.steps-line {
	position: absolute;
	bottom: 10px;
}

ul.points {
	position: relative;
	width: 100%;
	background-color: transparent;
	color: #ccc;
	font-size: 12px;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	list-style: none;
}

ul.points > li {
    cursor: pointer;
    font-family: "Neutraface 2 Text";
	text-align: center;
	padding-bottom: 34px;
	display: inline-block;
    color: #ebebeb;
}

.point_one,.point_two, .point_three  {
	font-family: "Neutraface 2 Text";
	font-size: 17px;
	position: relative;
	top: 36px;
	border: 1px solid #ebebeb;
	height: 29px;
	width: 29px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 auto;
    color: #ebebeb;
}

.progress {
	height: 1px;
	margin-bottom: 2px;
	background-color: #ebebeb;
}

.progress-bar {
	background: #051699;
	border: 1px solid #051699;
  width: 26%;
}
</style>

</div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-e618818a" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-03576632 pf-r pf-r-eh pf-r-ew" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-32aa0eb3" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-83412403"><div class="ow-step-text ow-step-1-text heading_1">
            <h2 id="select_h2">Select Your Shade</h2>
  <span tooltip="True Sons custom shades are designed to look natural and subtle. Try to match your true hair color. Don’t go lighter. If you aren't sure, just select 'unknown' and one of our dye specialists will contact you to assist you in your selection.">
	<svg class="tooltip_info" width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="13.5" cy="14.5" r="12.5" stroke="#A7A7A7" stroke-width="2"></circle>
<path d="M11.5703 18.416C11.2656 18.416 11.0625 18.6445 11.0625 18.9238V20.1172C11.0625 20.4219 11.2656 20.625 11.5703 20.625H15.4297C15.709 20.625 15.9375 20.4219 15.9375 20.1172V18.9238C15.9375 18.6445 15.709 18.416 15.4297 18.416H14.9219V13.0078C14.9219 12.7285 14.6934 12.5 14.4141 12.5H11.5703C11.2656 12.5 11.0625 12.7285 11.0625 13.0078V14.2266C11.0625 14.5059 11.2656 14.7344 11.5703 14.7344H12.0781V18.416H11.5703ZM13.5 7.625C12.4844 7.625 11.6719 8.46289 11.6719 9.45312C11.6719 10.4688 12.4844 11.2812 13.5 11.2812C14.4902 11.2812 15.3281 10.4688 15.3281 9.45312C15.3281 8.46289 14.4902 7.625 13.5 7.625Z" fill="#A6A6A6"></path>
</svg></span>
            
          </div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-41240357"><div class="ow-step-text ow-step-2-text listitem2">
            <h2 id="select_h2">Select Your Intensity</h2>
            
          </div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-24035766"><div class="ow-step-text ow-step-3-text listitem3">
            <h2 class="select2_h2">Choose Your Frequency<span class="tooltip_2" tooltip="The average guy needs one multi-use bottle of True Sons per month and applies True Sons every 7-14 days. We offer two membership plans: a single plan so you can get the dye as you need it and a recurring plan to save the environment and your wallet."><svg class="tooltip_info_2" width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="13.5" cy="14.5" r="12.5" stroke="#A7A7A7" stroke-width="2"></circle>
<path d="M11.5703 18.416C11.2656 18.416 11.0625 18.6445 11.0625 18.9238V20.1172C11.0625 20.4219 11.2656 20.625 11.5703 20.625H15.4297C15.709 20.625 15.9375 20.4219 15.9375 20.1172V18.9238C15.9375 18.6445 15.709 18.416 15.4297 18.416H14.9219V13.0078C14.9219 12.7285 14.6934 12.5 14.4141 12.5H11.5703C11.2656 12.5 11.0625 12.7285 11.0625 13.0078V14.2266C11.0625 14.5059 11.2656 14.7344 11.5703 14.7344H12.0781V18.416H11.5703ZM13.5 7.625C12.4844 7.625 11.6719 8.46289 11.6719 9.45312C11.6719 10.4688 12.4844 11.2812 13.5 11.2812C14.4902 11.2812 15.3281 10.4688 15.3281 9.45312C15.3281 8.46289 14.4902 7.625 13.5 7.625Z" fill="#A6A6A6"></path>
</svg></span></h2>       
          </div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-6632a758 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-576632a7" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-49720039 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-a758f57e" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-32a758f5"><div class="container main_slider">
  <div class="row">
    <div class="col-sm-6">
      <div class="homeSlider">
        <div class="active item">
          <img class="img1" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9137_1_1_1.png?v=1590183406">
        </div>
        <div class="item">
          <img class="img2" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9032_1.png?v=1590183406">
        </div>
        <div class="item">
          <img class="img3" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9036_1.png?v=1590183406">
        </div>
        <div class="item">
          <img class="img4" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/TrueSons_Product_0084_1_2.png?v=1590171457">
        </div>
      </div>
      <div class="homeSliderNav">
        <div>
          <img class="img1" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9137_1_1_1.png?v=1590183406">
        </div>
        <div>
          <img class="img2" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9032_1.png?v=1590183406">
        </div>
        <div>
          <img class="img3" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9036_1.png?v=1590183406">
        </div>
        <div>
          <img class="img4" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/TrueSons_Product_0084_1_2.png?v=1590171457">
        </div>
      </div>
    </div>
  </div>
</div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-51497200" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-3f0d40dc listitem1"><a data-color="inherit" data-popup-content="shopify" data-src="https://truesons-dev.myshopify.com/pages/video-main-popup" href="#" data-action="modal" data-width="775px" data-height="578px" data-popup-animation="fadeIn"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f57eea51">Having trouble choosing your shade? Watch this video.</span></a></h3><div data-product-id="4549484380220" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-7eea5149" style="--pf-s-lg:100px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="4549484380220" name="id" class="pf-input-variant-4549484380220" type="hidden" value="{{ product.variants.first.id }}"></div><div data-product-id="4549484380220" data-default-variant="32178217386044" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-0d233457">{% assign defaultProduct = product %}{% assign product = product_4549484380220 %} {% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-cb0d2334" %}<div class="sc-qPjXN eYzxUD pf-50cb0d23 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-5730f4d1" data-pf-type="Column"><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-4c00f643">{% include 'subscription-product' %}</div></div></div></div>{% endform %}{% assign product = defaultProduct %}</div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-ea514972"><div class="tab-panels listitem3">
      <section class="tab-panel tab_1 show">
                <div id="Bi-Monthly" data-group="51167" data-freq="2" class="pickplan ow-step-freq-single ow-step-freq-two ow-freq-selected" data-freq-type="2" data-freq-text="SUBSCRIBE & SAVE <br> 2 bottles recurring" data-price="59.9">
                  <div class="selected"></div>
                  <p class="price_text">2 bottles recurring</p>
                  <p style="text-align: left;"><span class="price_number">$30 </span><em>(per bottle)</em> </p>  
                  <p class="sum_text">$59.99 per order. We ship 2 bottles every other month.</p>      
                </div>
      </section>
      <section class="tab-panel tab_2">
                <div id="onetime" data-group="51167" data-freq="1" class="pickplan ow-step-freq-single ow-step-freq-two" data-freq-type="2" data-freq-text="SINGLE PLAN <br> 2 bottles one-time purchase" data-price="89.9">
                  <div class="selected"></div>
                  <p class="price_text">2 bottles one-time purchase</p>
                  <p style="text-align: left;"><span class="price_number">$45 </span><em>(per bottle)</em></p> 
                  <p class="sum_text">$89.99. We ship 2 bottles in your order.</p>         
                  </div>
      </section>
    
    </div>

{% if product.available %}{% include 'subscription-product' %}{% endif %}</div></div></div></div><div class="sc-qPjXN eYzxUD pf-ec443da2 pf-r pf-r-eh listitem1" id="text_row_main" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-23913023" data-pf-type="Column"><div data-pf-scrolltop="false" data-multiple="false" data-pf-type="Accordion2" class="sc-pkfPC jHjrlE pf-d43c9896"><div class="sc-pJipy mZVAk pf-247e7d2a accordion__item" data-pf-type="Accordion2.Content.Wrapper"><button type="button" class="sc-pBlxj gYSgcm pf-703f9569 accordion__header pf-anchor" data-header-id="3f95695e-9d24-4841-a038-dae0ed13d43c" data-action="accordion2" data-preopen="false" data-active="false" data-pf-type="Accordion.Header"><i class="icon_position accordion__arrow fa fa-chevron-right"></i>Instructions + More Information</button><div class="sc-qYUWV exYsxy pf-1a247e7d accordion__content" mode="view" data-id="3f95695e-9d24-4841-a038-dae0ed13d43c" data-pf-type="Accordion2.Content" style="display: none;"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-9e1a247e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-399e1a24">True Sons is a subtle hair dye designed to boost your natural color. Do a patch test before using True Sons or any other hair dye.You can change your shade up to one week before your next order ships. Contact support@truesons.com</span></p></div></div><div class="sc-pJipy mZVAk pf-16239130 accordion__item" data-pf-type="Accordion2.Content.Wrapper"><button type="button" class="sc-pBlxj gYSgcm pf-416038da accordion__header pf-anchor" data-header-id="6038dae0-ed13-443c-9896-a092eec7cc3c" data-action="accordion2" data-preopen="false" data-active="false" data-pf-type="Accordion.Header"><i class="icon_position accordion__arrow fa fa-chevron-right"></i>Ingredients</button><div class="sc-qYUWV exYsxy pf-cd162391 accordion__content" mode="view" data-id="6038dae0-ed13-443c-9896-a092eec7cc3c" data-pf-type="Accordion2.Content" style="display: none;"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-2dcd1623"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2a2dcd16">Water (Aqua), Ethanolamine, Isobutane, Toluene-2,5-diamine Sulfate, Resorcinol, Emulsifying Wax Nf, N, N Bis(2-hydroxyethyl)-P-Phenylenediamine Sulfate, Glycolstearate, Sodium Cocoyl Isethionate, Sd Alcohol 40 (Alcohol Denat.), Propane, Sodium Laureth Sulfate, Fragrance, Sodium Lauryl Sulfate, M-aminophenol, Tetrasodium Edta, P-aminophenol, Ascorbic Acid, 2,4 Diaminophenoxyethanol HCl, 2-methylresorcinol.</span></p></div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-16ec443d" data-pf-type="Column"><h3 id="popup" data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-92eec7cc"><a data-color="inherit" data-popup-content="shopify" data-src="https://truesons-dev.myshopify.com/pages/how-true-sons-is-different" href="#" data-action="modal" data-width="940px" data-height="510px" data-popup-animation="fadeIn"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-302316ec">How True Sons is Different</span></a></h3><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-2316ec44"><div class="description_block">
            <p>True Sons custom shades are designed to look natural. Try to match your true hair color.  If you aren't sure, just select <b>'IDK my shade'</b> and one of our dye specialists will contact you to assist you in your selection.</p> 

            </div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-a2e61881 pf-r pf-r-eh step_2_text listitem2" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-7266a954" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-a27266a9"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3da27266">True Son's Original delivers subtle gray coverage for men who want a natural look. It is designed for first-time dyers and men with less than 50% gray hair. No mixing is required. Just foam on.
</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-58a2e618" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-5458a2e6"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a95458a2">Dye Harder delivers deep dye coverage and works faster (5 minutes or less). Dye Harder is best for experienced dye users, men with over 50% white / gray hair, and men who have very coarse hair.
</span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-a392c305 listitem3" id="" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-d9a392c3 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-1eeb2fb1" id="image_column" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-2fa9f375--ffff1d74ce3cbd594ec59bcd01caad392847600xjpg-WEBP-568-352-Mozilla-Firefox.jpg?v=1590765590 1200w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-2fa9f375--ffff1d74ce3cbd594ec59bcd01caad392847600xjpg-WEBP-568-352-Mozilla-Firefox.jpg?v=1590765590 800w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-2fa9f375--ffff1d74ce3cbd594ec59bcd01caad392847600xjpg-WEBP-568-352-Mozilla-Firefox_400x245.jpg?v=1590765590&resized 400w" class="sc-qZtVr dLIPjF pf-18818a52" data-pf-type="Image2"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-49d9a392" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-c2ec9b67"><a data-color="inherit" data-popup-content="shopify" data-src="https://truesons-dev.myshopify.com/pages/how-our-cost-compares-to-drug-store-dyes" href="#" data-action="modal" data-width="854px" data-height="550px"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8a5249d9">How our cost compares to drug store dyes</span></a></h3><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-5249d9a3"><div class="ow-step-text ow-step-2-text-bottom step_3_bottom_text">
            <p>
              <strong>FREE CONSULTATION</strong> Every customer also gets a free 15-minute live video chat consult with our specialists so you’ll feel super-comfortable using the product. After you order you will receive an email to schedule your complimentary meeting.<br>
              <strong>SATISFACTION GUARANTEE</strong> If you’re not satisfied with your dye choice, we’ll let you keep your original order — and replace it with a shade of your choice!<br>
              <strong>NO OBLIGATION</strong> You can cancel at anytime.
            </p>        
          </div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-7c2a1bd3" id="" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-1e9e255b pf-r pf-r-align--lm" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:13.5px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-c3059418" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-92c30594"><div class="bottom_info">
  <div class="item-image"><img src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown.png?v=1590161830" alt="" title="">   </div>
  <div class="item-name">
	  <h2>DARK BROWN</h2>
	  <h3 class="fixbar_item2">ORIGINAL FORMULA</h3>
   </div>
  <div class="item-plan fixbar_item3">
            <h3>SUBSCRIBE & SAVE</h3>
            <h4>2 bottles recurring</h4>
   </div>
</div>
</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--2 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-0594184f" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-1b1e9e25" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-94184f1b"><button id="next_btn" type="button" class="next-buttons">NEXT</button></div><button data-product-id="4549484380220" data-checkout="same" class="sc-pcjuG uJAsR pf-64d63991 checkout-btn" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" id="add-to-cart-button" data-pf-type="ProductATC"><span>Add To Cart</span></button></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.12.0","shopDomain":"truesons-dev.myshopify.com","elementData":{},"pageTitle":"Get started - copy","pageType":"page","pageId":"53357e37-abb4-498f-9f32-aa0eb30b39fa","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":false,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.12.0/core/helper.js?t=20200611000625" defer></script><script>setTimeout(function () {
	var sticky = document.getElementById("bottom-fix-bar");
	var fixedPosition = $(window).innerHeight() - $(sticky).innerHeight();
	$(sticky).css("top", fixedPosition);
  }, 100);
  
  jQuery (document).ready(function () {
  
  
  setTimeout(() => {
	//sections
	jQuery(document).find('.pf-p-variant:nth-child(1)').addClass("listitem1");
	jQuery(document).find('.pf-p-variant:nth-child(2)').addClass("listitem2");
	jQuery(document).find('.pf-p-variant:nth-child(3)').addClass("listitem3");
	
	//tabs
	jQuery('label[for="pf-v-4549484380220-203"]').click(
	  function() {
	jQuery(document).find('.tab_1').addClass("show");
	jQuery(document).find('.tab_2').removeClass("show");
	});
	jQuery('label[for="pf-v-4549484380220-213"]').click(
	  function() {
	jQuery(document).find('.tab_2').addClass("show");
	jQuery(document).find('.tab_1').removeClass("show");
	});
	
	 //bottom bar info step 1
  jQuery('input:radio[name=Color]').click(function() {
	
   var newhtml = jQuery('input:radio[name=Color]:checked').val();
   var h2 = jQuery(document).find('.item-name h2');
   var img = jQuery(document).find('.item-image img');
	
   jQuery(h2).text(newhtml);
	
	switch  (newhtml) {	 
		
	case 'Dark Brown':
	  img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown.png?v=1590161830");
	   break;
		
	case 'Medium Brown': 
	  img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown_53ee8f49-46b2-4ee2-8662-7ff0fa8541e5.png?v=1590162132");
	break;
		
	case 'Dirty Blond':
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/dirty_blond.png?v=1590162213");
	break;
		
	case 'Auburn':
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/auburn_2f491543-93a4-4229-aeac-432642e4ad6a.png?v=1590162593");
	break;
		
	case 'True Black':
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/trueblack.png?v=1590162863");
	break;
		
	case 'Light Brown':
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/lightbrown.png?v=1590162813");
	break;
		
	case 'Brown Black':
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/BrownBlack.png?v=1590163073");
	break;
		
	case 'IDK MY SHADE':
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/questionmark-dye_100x_e7d6b11f-335f-4be8-ad33-a06db772203c.png?v=1590163073");
	break;
  
	  default:	
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown.png?v=1590161830");
  
	}
	
  });
	
	   //bottom bar info step 2
  jQuery('input:radio[name=Intensity]').click(function() {
	
   var newint = jQuery('input:radio[name=Intensity]:checked').val();
   var h3 = jQuery(document).find('.item-name h3');
	 switch  (newint) {	 
		
	case 'Original Formula':
	  h3.text('ORIGINAL FORMULA');
	   break;
		
	case 'Dye Harder': 
	  h3.text('DYE HARDER');
	break;
		 default:	
	 h3.text('ORIGINAL FORMULA');
	}
	});
	
	 //bottom bar info step 3
  jQuery('input:radio[name=Frequency]').click(function() {
	
   var newfreq = jQuery('input:radio[name=Frequency]:checked').val();
   var h3freq = jQuery(document).find('.item-plan h3');
   var h4freq = jQuery(document).find('.item-plan h4');
	
	 switch  (newfreq) {	 
		
	case '2':
	  h3freq.text('SUBSCRIBE & SAVE');
	  h4freq.text('2 bottles recurring');
	   break;
		
	case 'One-Time': 
	  h3freq.text('SINGLE PLAN ');
	  h4freq.text('2 bottles one-time purchase');
	break;
		 default:	
	  h3freq.text('SUBSCRIBE & SAVE');
	  h4freq.text('2 bottles recurring');
	}
	});
	
	
  }, 1000);
	
	  
  //slider
  
  jQuery ('.homeSlider').slick({
	slidesToScroll: 1,
	arrows: false,
	fade: true,
	asNavFor: '.homeSliderNav',
	autoplay: true,
  });
  jQuery ('.homeSliderNav').slick({
	slidesToShow: 5,
	slidesToScroll: 1,
	arrows: true,
	asNavFor: '.homeSlider',
	focusOnSelect: true,
	variableWidth: true,
	centerMode: true,
	centerPadding: '10px;', 
  });
  
	 //next-btn
	jQuery.fn.toggleClick = function(funcArray) {
	return this.click(function() {
	  var elem = jQuery(this);
	  var index = elem.data('index') || 0;
  
	  funcArray[index]();
	  elem.data('index', (index + 1) % funcArray.length);
	});
  };
  
  jQuery('#next_btn').toggleClick([
	function() {
	  jQuery('label[for="pf-v-4549484380220-102"]').css("display", "block");
		  jQuery('label[for="pf-v-4549484380220-112"]').css("display", "block");
		  jQuery('.listitem1').css("display", "none");
		  jQuery('.heading_1').css("display", "none");
		  jQuery('.main_slider').css("display", "none");
		  jQuery('.listitem2').css("display", "flex");
		  jQuery('.fixbar_item2').css("display", "block");
		   jQuery("#ow-step-2").addClass( "tab-current" );
		   jQuery('.progress-bar').css("width", "50%");

	}, function() {
	  jQuery('label[for="pf-v-4549484380220-203"]').css("display", "block");
		  jQuery('label[for="pf-v-4549484380220-213"]').css("display", "block");
		   jQuery("#ow-step-3").addClass( "tab-current" );
		  jQuery('.listitem2').css("display", "none");
		  jQuery('.listitem3').css("display", "block");
		  jQuery('#add-to-cart-button').css("display", "block");
		  jQuery('.fixbar_item3').css("display", "list-item");
		  jQuery('#next_btn').css("display", "none");
		  jQuery('.progress-bar').css("width", "100%");

	}
  ]);
	
	//steps_line
	 jQuery('#ow-step-1').click(
	function() {
		  jQuery('.main_slider').css("display", "block");
		  jQuery('.listitem1').css("display", "flex");
		  jQuery('.heading_1').css("display", "block");
		  jQuery('#text_row_main').css("top", "-157px");
		  jQuery('label[for="pf-v-4549484380220-102"]').css("display", "none");
		  jQuery('label[for="pf-v-4549484380220-112"]').css("display", "none");
		  jQuery('.progress-bar').css("width", "26%");
		  jQuery("#ow-step-2").removeClass( "tab-current" );
		  jQuery("#ow-step-3").removeClass( "tab-current" );
		  jQuery('label[for="pf-v-4549484380220-203"]').css("display", "none");
		  jQuery('label[for="pf-v-4549484380220-213"]').css("display", "none");
		  jQuery('.listitem2').css("display", "none");
		  jQuery('.listitem3').css("display", "none");
		  jQuery('#add-to-cart-button').css("display", "block");
		  jQuery('#next_btn').css("display", "none");
	});
	
	jQuery('#ow-step-2').click(
	function() {
		  jQuery('.main_slider').css("display", "none");
		  jQuery('label[for="pf-v-4549484380220-102"]').css("display", "block");
		  jQuery('label[for="pf-v-4549484380220-112"]').css("display", "block");
		  jQuery('.listitem1').css("display", "none");
		  jQuery('.heading_1').css("display", "none");
		  jQuery('.progress-bar').css("width", "50%");
		   jQuery("#ow-step-3").removeClass( "tab-current" );
		  jQuery("#ow-step-2").addClass( "tab-current" );
		  jQuery('label[for="pf-v-4549484380220-203"]').css("display", "none");
		  jQuery('label[for="pf-v-4549484380220-213"]').css("display", "none");
		  jQuery('.listitem2').css("display", "flex");
		  jQuery('.listitem3').css("display", "none");
		  jQuery('#add-to-cart-button').css("display", "block");
		  jQuery('#next_btn').css("display", "none");
		  jQuery('.fixbar_item2').css("display", "block");
	});
	
	 jQuery('#ow-step-3').click(
	function() {
	  jQuery('label[for="pf-v-4549484380220-102"]').css("display", "none");
		  jQuery('label[for="pf-v-4549484380220-112"]').css("display", "none");
		  jQuery('.listitem1').css("display", "none");
		  jQuery('.heading_1').css("display", "none");
		  jQuery('.main_slider').css("display", "none");
		  jQuery('.progress-bar').css("width", "100%");
		   jQuery("#ow-step-3").addClass( "tab-current" );
		  jQuery("#ow-step-2").addClass( "tab-current" );
		  jQuery('label[for="pf-v-4549484380220-203"]').css("display", "block");
		  jQuery('label[for="pf-v-4549484380220-213"]').css("display", "block");
		  jQuery('.listitem2').css("display", "none");
		  jQuery('.listitem3').css("display", "block");
		  jQuery('#add-to-cart-button').css("display", "block");
		  jQuery('#next_btn').css("display", "none");
		  jQuery('.fixbar_item3').css("display", "list-item");
  
	});
	
  
	
	
  });
  //change slider 
  
  window.onload = function () {
	var darkBrown = document.getElementById("pf-v-4549484380220-001");
	  darkBrown.onclick = function() {
		darkBrown.classList.add("border_round");
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9137_1_1_1.png?v=1590183406";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9032_1.png?v=1590183406";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9036_1.png?v=1590183406";          
		  }
	  }
	  }
	var mediumBrown = document.getElementById("pf-v-4549484380220-011");
	  mediumBrown.onclick = function() {
			  mediumBrown.classList.add("border_round");
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0562_2.png?v=1590183530";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0591_1.png?v=1590183530";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0598_1.png?v=1590183530";          
		  }
	  }
	  }
	
	  var dirtyBlond = document.getElementById("pf-v-4549484380220-021");
	  dirtyBlond.onclick = function() {
			dirtyBlond.classList.add("border_round");
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9317_4.png?v=1590169970";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9292_1.png?v=1590169969";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9300_1.png?v=1590169969";          
		  }
	  }
	  }
	
	  var auburn = document.getElementById("pf-v-4549484380220-031");
	  auburn.onclick = function() {
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0043_1.png?v=1590182866";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0075_1.png?v=1590182865";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0084_1.png?v=1590182865";          
		  }
	  }
	  }
	
	 var trueBlack = document.getElementById("pf-v-4549484380220-041");
	  trueBlack.onclick = function() {
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9264_1.png?v=1590171457";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9214_1.png?v=1590171457";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9229_1.png?v=1590171457";          
		  }
	  }
	  }
	
   var lightBrown = document.getElementById("pf-v-4549484380220-051");
	  lightBrown.onclick = function() {
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9471_1.png?v=1590183637";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9614.png?v=1590183637";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/111.png?v=1590183637";          
		  }
	  }
	  }
	
	var brownBlack = document.getElementById("pf-v-4549484380220-061");
	  brownBlack.onclick = function() {
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0301_1.png?v=1590183701";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0373_2.png?v=1590183701";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0276_1.png?v=1590183701";          
		  }
	  }
	  }
	
	var idk = document.getElementById("pf-v-4549484380220-071");
	  idk.onclick = function() {
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/True_Sons_Files_Shopify_-g_Mozilla_Firefox.jpg?v=1590183935";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/True_Sons_Files_Shopify_-_Mozilla_Firefox.jpg?v=1590183934";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/TrueSons_Product_07_18_3895_3_e1f100c1-3dfc-4cd5-a04d-a2f29dc41e3a.jpg_WEBP_568_x_352_-_Mozilla_Firefox.jpg?v=1590184002";          
		  }
	  }
	  }
	
   
  }
  
  </script>