<link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.12.0/css/main-style.css?t=20200611210623"><link rel="stylesheet" href="{{ 'pagefly.3282d49d.scss.css' | asset_url }}">
		 <style>.pf-f56d001d { 	position: sticky; 	bottom: 0; } #PageContainer { 	overflow: initial !important; } .homeSlider { 	max-width: 500px; 	margin: 0 auto; } .homeSlider img { 	width: 100%; } .homeSliderNav { 	position: absolute; 	top: 30px; 	left: 50px; } .homeSliderNav>.slick-list>.slick-track>.slick-slide>img { 	border-radius: 50%; 	overflow: hidden; 	margin: 0 auto; 	object-fit: cover; 	width: 50px; 	height: 50px; 	margin-bottom: 15px; 	outline: none; 	cursor: pointer; } .homeSliderNav>.slick-list>.slick-track>.slick-slide { 	width: 50px !important; } .homeSliderNav>.slick-list>.slick-track { 	width: 25% !important; } .homeSliderNav>.slick-list>.slick-track>.slick-slide.slick-current { 	border: 1px solid #041491; 	border-radius: 50%; 	width: 51px !important; 	height: 52px !important; 	margin-bottom: 15px; } .homeSliderNav>.slick-list>.slick-track>.slick-slide.slick-current:focus { 	outline: none; } .homeSliderNav>.slick-list>.slick-track>.slick-slide:focus { 	outline: none; } label[for="pf-v-4549484380220-001"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/0297/8558/7772/files/dark_brown.png?v=1591257500") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4549484380220-001"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Dark Brown'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4549484380220-011"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown_86cb3507-113f-4a02-b5c5-1f696f7bea83.png?v=1591257500") 50% 0% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4549484380220-011"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Medium Brown'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4549484380220-021"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/0297/8558/7772/files/dirty_blond_2949c9dd-4231-4612-b330-ae082d6f3dfc.png?v=1591257500") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4549484380220-021"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Dirty Blond'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4549484380220-031"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/0297/8558/7772/files/Auburn_4cc52ded-bbdf-490c-9b68-bef99fffe1aa.png?v=1591257500") 50% 75% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4549484380220-031"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Auburn'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4549484380220-041"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/0297/8558/7772/files/true_black.png?v=1591257500") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4549484380220-041"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'True Black'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4549484380220-051"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/0297/8558/7772/files/light_brown.png?v=1591257500") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4549484380220-051"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Light Brown'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4549484380220-061"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/0297/8558/7772/files/brown_black.png?v=1591257500") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4549484380220-061"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Brown Black'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4549484380220-071"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/0297/8558/7772/files/questionmark-dye_100x_e7d6b11f-335f-4be8-ad33-a06db772203c.png?v=1590163073") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4549484380220-071"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Idk my shade'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } #pf-v-4549484380220-001, #pf-v-4549484380220-011, #pf-v-4549484380220-021, #pf-v-4549484380220-031, #pf-v-4549484380220-041, #pf-v-4549484380220-051, #pf-v-4549484380220-061, #pf-v-4549484380220-071, #pf-v-4549484380220-102, #pf-v-4549484380220-112, #pf-v-4549484380220-213, #pf-v-4549484380220-203 { 	display: none; } .dTFuTq .pf-p-variant-radio label { 	padding-left: 0px; 	cursor: pointer; } .sc-ptSuy.fnmilh.pf-7ba94a7d { 	font-family: "Neutraface 2 Text"; } .pf-p-variant-radio div>input:checked+label { 	box-shadow: 0px 0px 0px 4px #060E9F; 	border-radius: 100%; 	background-color: #060E9F; } .listitem1 div > input:checked + label { 	transition: box-shadow 0.3s linear; } .dTFuTq .pf-p-variant-radio { 	display: inline-flex; 	align-items: center; 	flex-wrap: wrap; 	width: 500px; } .pf-p-variant-radio div { 	margin-right: 40px !important; 	margin-bottom: 50px; } label[for="pf-v-4549484380220-102"] { 	background: url('https://cdn.shopify.com/s/files/1/0297/8558/7772/files/No_Dying.jpg?v=1590446161') 0% 0% no-repeat; 	height: 385px; 	width: 560px; 	font-size: 0px; 	box-shadow: 0px 0px 0px 5px #f0f0f0; 	border-radius: 0%; 	background-color: #f0f0f0; 	display: none; } label[for="pf-v-4549484380220-112"] { 	background: url('https://cdn.shopify.com/s/files/1/0297/8558/7772/files/Dye_harder.jpg?v=1590616976') 0% 0% no-repeat; 	height: 385px; 	width: 560px; 	font-size: 0px; 	box-shadow: 0px 0px 0px 5px #f0f0f0; 	border-radius: 0%; 	background-color: #f0f0f0; 	display: none; } label[for="pf-v-4549484380220-203"] { 	background-color: #060E9F; 	font-size: 0px; 	box-shadow: 0px 0px 0px 5px #f0f0f0; 	border-radius: 0%; 	background-color: #f0f0f0; 	display: none; 	padding: 10px 0px; } .dTFuTq .pf-p-variant-radio { 	width: 570px; } label[for="pf-v-4549484380220-203"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'SUBSCRIBE & SAVE (33%)'; 	color: #060E9F; 	font-size: 16px; 	position: relative; 	padding: 0px 44px; } .pf-p-variant-radio div > #pf-v-4549484380220-102:checked + label::after { 	color: #fff; } .pf-p-variant-radio div > #pf-v-4549484380220-112:checked + label::after { 	color: #fff; } .pf-p-variant-radio div>#pf-v-4549484380220-203:checked+label::after { 	color: #fff; } .pf-p-variant-radio div>#pf-v-4549484380220-203:checked+label { 	box-shadow: 0px 0px 0px 5px #060E9F; 	border-radius: 0%; 	background-color: #060E9F; } label[for="pf-v-4549484380220-213"] { 	background-color: #060E9F; 	font-size: 0px; 	box-shadow: 0px 0px 0px 5px #f0f0f0; 	border-radius: 0%; 	background-color: #f0f0f0; 	display: none; 	padding: 10px 0px; } label[for="pf-v-4549484380220-213"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'SINGLE PLAN'; 	color: #060E9F; 	font-size: 16px; 	position: relative; 	padding: 0px 82px; } .pf-p-variant-radio div>#pf-v-4549484380220-213:checked+label::after { 	color: #fff; } .pf-p-variant-radio div>#pf-v-4549484380220-213:checked+label { 	box-shadow: 0px 0px 0px 5px #060E9F; 	border-radius: 0%; 	background-color: #060E9F; } .pf-p-variant-radio div>#pf-v-4549484380220-102:checked+label { 	box-shadow: 0px 0px 0px 5px #060E9F; 	border-radius: 0%; 	background-color: #060E9F; 	color: #fff; } .pf-p-variant-radio div>#pf-v-4549484380220-112:checked+label { 	box-shadow: 0px 0px 0px 5px #060E9F; 	border-radius: 0%; 	background-color: #060E9F; 	color: #fff; } label[for="pf-v-4549484380220-102"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'ORIGINAL FORMULA'; 	color: #060e9f; 	font-size: 20px; 	position: relative; 	top: 344px; 	left: 175px; } label[for="pf-v-4549484380220-112"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'DYE HARDER'; 	color: #060e9f; 	font-size: 20px; 	position: relative; 	top: 344px; 	left: 175px; } .ow-product-custom-section-v1 .ow-steps-navigation .ow-step-nav.ow-selecting { 	color: #051699; 	opacity: 1; 	font-family: 'Neutraface 2 Text Demi'; 	font-weight: 600; } .tab-current>.line_number { 	background: #051699 !important; 	border: none; 	color: #fff; } .line_number { 	font-family: "Neutraface 2 Text"; 	background: #FFFFFF; 	border: 1px solid #C4C4C4; 	border-radius: 20px; 	color: #C4C4C4; 	display: inline-block; 	font-size: 19px; 	height: 29px; 	line-height: 24px; 	text-align: center; 	width: 29px; 	z-index: 500; 	top: 37px; 	position: relative; 	left: 71px; } #ow-step-1>.line_number::before { 	display: block; 	width: auto; 	min-width: 1000px; 	content: ''; 	position: absolute; 	border-bottom: 1px solid #051699; 	top: 50%; 	right: 100%; } .ow-step-nav-two>.line_number::before { 	display: block; 	width: auto; 	min-width: 354px; 	content: ''; 	position: absolute; 	border-bottom: 1px solid #b4afaf; 	top: 50%; 	right: 100%; 	z-index: 10; } .ow-step-nav-three>.line_number::before { 	display: block; 	width: auto; 	min-width: 356px; 	content: ''; 	position: absolute; 	border-bottom: 1px solid #b4afaf; 	top: 50%; 	right: 100%; 	z-index: 10; } #ow-step-3>.line_number::after { 	display: block; 	width: auto; 	min-width: 1070px; 	content: ''; 	position: absolute; 	border-bottom: 1px solid #b4afaf; 	top: 50%; 	left: 100%; 	z-index: 10; } .tab-current>.line_number { 	background: #051699 !important; 	border: none; 	color: #fff; } .tab-current>.line_number::before { 	border-bottom: 1px solid #051699 !important; 	padding-left: 2px; } .pf-p-variant.listitem2>.pf-p-variant-radio { 	display: flex; 	position: relative; 	left: -580px; 	flex-direction: row; 	flex-wrap: nowrap; } .listitem2 { 	display: none; } .tab-panel { 	padding: 8px 20px; 	border: 3px solid #051699; } .price_text { 	font-family: "Neutraface 2 Text"; 	font-size: 20px !important; 	font-weight: 600 !important; 	padding: 20px 0px 0px 0px; 	text-align: left; } .price_number { 	font-family: "Neutraface 2 Text"; 	font-size: 28px; 	line-height: 32px; 	color: #397E21; } .sum_text { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; 	font-size: 14px !important; 	line-height: 32px !important; 	color: #000000 !important; 	opacity: 0.6 !important; 	text-align: left; 	font-weight: 600 !important; 	font-style: italic; 	width: 373px; } .sc-ptSuy.fnmilh.pf-a0ba034a { 	font-family: "Neutraface 2 Text"; } .ow-step-text.ow-step-2-text-bottom.step_3_bottom_text { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; 	line-height: 30px; } .tab_1 { 	display: none; } .tab_2 { 	display: none; } .show { 	display: block; } .tab-panels { 	position: relative; 	left: -5px; } .listitem3>.pf-p-variant-radio div { 	margin-right: 0px !important; 	margin-bottom: 4px; } /*Tooltip-->*/ [tooltip] { 	position: relative } [tooltip]::before, [tooltip]::after { 	text-transform: none; 	font-size: .9em; 	line-height: 1; 	user-select: none; 	pointer-events: none; 	position: absolute; 	display: none; 	opacity: 0 } [tooltip]::before { 	content: ''; 	border: 5px solid transparent; 	z-index: 1001 } [tooltip]::after { 	content: attr(tooltip); 	font-family: Neutra2Text_book; 	text-align: center; 	min-width: 350px; 	max-width: 350px; 	overflow: hidden; 	text-overflow: ellipsis; 	padding: 13px; 	border-radius: .3ch; 	box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35); 	background: #fff; 	opacity: 1 !important; 	color: #2D2D2D; 	line-height: 20px; 	z-index: 1000; 	font-size: 15px; 	font-style: italic; } [tooltip]::after { 	transform: translate(-50%, 42px) !important; } [tooltip]:hover::before, [tooltip]:hover::after { 	display: block; } [tooltip='']::before, [tooltip='']::after { 	display: none !important; } [tooltip]:not([flow])::before, [tooltip][flow^="up"]::before { 	bottom: -198%; 	border-bottom-width: 110px; 	border-top-color: #fff; 	margin-left: 7px; 	padding: 2px 1px; } [tooltip]:not([flow])::after, [tooltip][flow^="up"]::after { 	bottom: calc(100% + 111px); } .tooltip_2[tooltip]:not([flow])::after, .tooltip_2[tooltip][flow^="up"]::after { 	bottom: calc(100% + 100px); } [tooltip]:not([flow])::before, [tooltip]:not([flow])::after, [tooltip][flow^="up"]::before, [tooltip][flow^="up"]::after { 	left: 160px; 	transform: translate(-50%, -0.5em) } [tooltip][flow^="down"]::before { 	top: 100%; 	border-top-width: 0; 	border-bottom-color: #333 } [tooltip][flow^="down"]::after { 	top: calc(100% + 5px) } [tooltip][flow^="down"]::before, [tooltip][flow^="down"]::after { 	left: 50%; 	transform: translate(-50%, 0.5em) } [tooltip][flow^="left"]::before { 	top: 192px; 	border-right-width: 0; 	border-left-color: #333; 	left: calc(0em - 5px); 	transform: translate(-0.5em, -50%) } [tooltip][flow^="left"]::after { 	top: 50%; 	right: calc(100% + 5px); 	transform: translate(-0.5em, -50%) } [tooltip][flow^="right"]::before { 	top: 50%; 	border-left-width: 0; 	border-right-color: #333; 	right: calc(0em - 5px); 	transform: translate(0.5em, -50%) } [tooltip][flow^="right"]::after { 	top: 50%; 	left: calc(100% + 5px); 	transform: translate(0.5em, -50%) } @keyframes tooltips-vert { 	to { 	opacity: .9; 	transform: translate(-50%, 0)     } } @keyframes tooltips-horz { 	to { 	opacity: .9; 	transform: translate(0, -50%)     } } [tooltip]:not([flow]):hover::before, [tooltip]:not([flow]):hover::after, [tooltip][flow^="up"]:hover::before, [tooltip][flow^="up"]:hover::after, [tooltip][flow^="down"]:hover::before, [tooltip][flow^="down"]:hover::after { 	animation: tooltips-vert 300ms ease-out forwards } [tooltip][flow^="left"]:hover::before, [tooltip][flow^="left"]:hover::after, [tooltip][flow^="right"]:hover::before, [tooltip][flow^="right"]:hover::after { 	animation: tooltips-horz 300ms ease-out forwards } .tooltip_info { 	position: relative; 	top: -45px; 	left: 154px } .tooltip_info_2 { 	position: relative; 	top: 3px; 	left: 13px } .tooltip_2::after { 	transform: translate(-50%, 75px) !important; 	left: 20px !important; 	font-weight: 400; 	padding: 10px; 	margin-bottom: -14px; } .tooltip_2::before { 	bottom: -36% !important; 	border-bottom-width: 38px !important; 	border-top-color: #fff !important; 	left: 20px !important } .listitem3 { 	display: none; } .tooltip_2[tooltip]::after { 	line-height: 17px; 	font-size: 13px; } .checkout-btn:hover, #next_btn:hover { 	background-color: #d58508; } .ow-step-nav { 	cursor: pointer; 	color: #060E9F; 	font-weight: bold; 	text-align: center; 	display: flex; 	justify-content: center; } #image_column { 	position: relative; 	top: -290px; } .__pf .pf-47e622c8, .__pf .pf-22c83a5f { 	font-family: "Neutraface 2 Text"; 	font-weight: 700; 	border-style: solid; 	border-width: 0px 0px 1px; 	padding: 20px 15px; 	color: #051699; 	background: #fff; 	box-shadow: 0px 0px 11px 1px #cdcaca54; 	margin-bottom: 15px; 	max-width: 500px; 	margin-left: 28px; } .gYSgcm .accordion__arrow { 	transition: all 0.2s ease 0s; 	transform: rotate(90deg); } .accordion__item>.pf-wrapper-content { 	background: #fff; 	box-shadow: 0px 0px 11px 1px #cdcaca54; 	max-width: 500px; 	margin-left: 28px; 	margin-top: -15px; } .cbrLgP>span:last-child { 	padding: 10px; } .jHjrlE { 	padding-top: 0px; 	padding-bottom: 20px; } .sc-pJipy.mZVAk.pf-3d591a6e.accordion__item { 	margin-bottom: 20px; } #bottom-fix-bar { 	left: 0; 	width: 100%; 	z-index: 99999; 	background-color: #A4A3A2; 	text-align: center; 	height: 80px; 	position: fixed; } .item-name h3 { 	color: #fff; 	font-size: 17px; 	position: absolute; 	top: -20px; 	left: 110px; 	width: max-content; } .item-name h2 { 	color: #fff; 	font-size: 22px; 	position: absolute; 	top: -42px; 	width: max-content; 	text-align: left; 	left: 110px; } div.bottom_info { 	display: inline-block; } .item-image { 	position: absolute; 	left: 25px; 	top: -54px; 	width: 60px; 	height: 60px; } .step_2_text { 	position: relative; 	top: -200px; } .sc-ptSuy.fnmilh.pf-a5fc7e31 { 	padding: 10px 16px; 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } .sc-ptSuy.fnmilh.pf-d1406809 { 	margin: 0px -10px; 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } .ow-step-text.ow-step-1-text { 	position: relative; 	top: 20px; 	margin-bottom: -80px; } .ow-step-text.ow-step-2-text { 	position: relative; 	top: -10px; 	margin-bottom: -50px; 	justify-content: center; 	font-family: "Neutraface 2 Text"; } .ow-step-text.ow-step-3-text.listitem3 { 	position: relative; 	top: -50px; 	margin-bottom: -50px; } .item-plan h3 { 	font-size: 17px; 	color: #fff; 	text-transform: capitalize; 	border-left: 1px solid white; 	padding-left: 15px; 	position: absolute; 	top: -40px; 	left: 310px; 	line-height: 17px; 	text-align: left; 	width: max-content; } .item-plan h4 { 	font-size: 14px; 	color: #fff; 	text-transform: capitalize; 	border-left: 1px solid white; 	padding-left: 15px; 	position: absolute; 	top: -23px; 	left: 310px; 	line-height: 17px; 	text-align: left; 	width: max-content; } .item-plan { 	list-style-type: none; } .fixbar_item2, .fixbar_item3 { 	display: none; } .description_block { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; 	border: 1px solid #DADADA; 	padding: 25px; } .accordion__content { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } #text_row_main { 	position: relative; 	top: -310px; } .sc-oTLFK.lcHmGL.pf-034a95fb { 	margin-top: -30px; } .number_header { 	font-family: "Neutraface 2 Text"; 	position: relative; 	top: 0px; 	text-align: center; 	color: #051699; } #select_h2 { 	font-family: "Neutraface 2 Text"; } .sc-ptSuy.fnmilh.pf-af93d705 { 	font-family: "Neutraface 2 Text"; } .select2_h2 { 	font-family: "Neutraface 2 Text"; } @media only screen and (max-width: 767px) { 	.sc-pbYdQ.jklmHY.pf-c.pf-c-xs--12.pf-c-sm--4.pf-c-md--4.pf-c-lg--4 { 	max-width: 33%; } .line_number { 	left: 0%; } .ow-step-nav-three > .line_number::before { 	display: block; 	width: auto; 	min-width: 96px; } .ow-step-nav-two > .line_number::before { 	display: block; 	width: auto; 	min-width: 95px; } #ow-step-1 > .line_number::before { 	display: block; 	width: auto; 	min-width: 112px; } .number_header { 	top: -23px; 	position: relative; 	font-size: 10px; 	text-align: center; 	color: #051699; } .ow-step-nav { 	display: inline-block; } .homeSliderNav>.slick-list>.slick-track>.slick-slide>img { 	border-radius: 50%; 	overflow: hidden; 	margin: 0 auto; 	object-fit: cover; 	width: 35px; 	height: 35px; 	margin-bottom: 15px; 	outline: none; 	cursor: pointer; } .homeSliderNav>.slick-list>.slick-track>.slick-slide.slick-current { 	border: 1px solid #041491; 	border-radius: 50%; 	width: 35px !important; 	height: 36px !important; 	margin-bottom: 15px; } .homeSliderNav>.slick-list>.slick-track>.slick-slide { 	width: 35px !important; } .tooltip_info { 	position: relative; 	top: -45px; 	left: 135px; } .homeSliderNav { 	position: absolute; 	top: -20px; 	left: 20px; } #select_h2 { 	font-family: "Neutraface 2 Text"; 	margin-top: -20px; } .main_slider { 	margin-top: -40px; } [tooltip]:not([flow])::after, [tooltip][flow^="up"]::after { 	bottom: calc(100% + 105px); } [tooltip]:not([flow])::before, [tooltip]:not([flow])::after, [tooltip][flow^="up"]::before, [tooltip][flow^="up"]::after { 	left: 12px; 	transform: translate(-50%, -0.5em); } [tooltip]:not([flow])::before, [tooltip][flow^="up"]::before { 	bottom: -230%; 	border-bottom-width: 110px; 	border-top-color: #fff; 	margin-left: 7px; 	padding: 2px 1px; } .sc-pkfPC.jHjrlE.pf-67d38da4 { 	display: none; } label[for="pf-v-4549484380220-001"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-001"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4549484380220-011"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-011"]::after { 	top: 70px; 	left: -12px; 	font-size: 10px; 	width: 84px; } label[for="pf-v-4549484380220-021"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-021"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4549484380220-031"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-031"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4549484380220-041"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-041"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4549484380220-051"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-051"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4549484380220-061"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-061"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4549484380220-071"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-071"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } .dTFuTq .pf-p-variant-radio { 	width: 400px; 	margin-left: 5px; } .pf-p-variant-radio div { 	margin-right: 31px !important; 	margin-bottom: 50px; } #text_row_main { 	position: relative; 	top: -150px; } .pf-p-variant.listitem2 > .pf-p-variant-radio { 	display: flex; 	position: relative; 	left: 0px; 	flex-direction: column; 	flex-wrap: nowrap; 	justify-content: center; 	align-items: center; 	align-content: center; } label[for="pf-v-4549484380220-102"], label[for="pf-v-4549484380220-112"] { 	height: 110px; 	width: 150px; 	background-size: contain; 	margin-right: 10px; } label[for="pf-v-4549484380220-112"] { 	margin-left: -15px; } .pf-p-variant.listitem2 > .pf-p-variant-radio { 	flex-direction: row; } label[for="pf-v-4549484380220-102"]::after { 	top: 93px; 	left: 15px; 	font-size: 12px; } label[for="pf-v-4549484380220-112"]::after { 	font-size: 12px; 	position: relative; 	top: 93px; 	left: 35px; } .sc-pkvvt.cbrLgP.pf-6809f3c2 { 	width: 44%; 	position: relative; 	left: 15px; 	top: 5px; } .sc-pkvvt.cbrLgP.pf-7e31ec28 { 	width: 49%; 	position: relative; 	left: 186px; 	top: -235px; } .step_2_text { 	position: relative; 	top: -250px; 	margin-bottom: -350px; } .ow-step-text.ow-step-2-text.listitem2 { 	justify-content: center; } .pf-p-variant.listitem2 > .pf-p-variant-radio { 	top: -150px; 	left: 20px; } #image_column { 	position: relative; 	top: -380px; } label[for="pf-v-4549484380220-213"]::after { 	content: 'SINGLE PLAN'; 	color: #060E9F; 	font-size: 11px; 	position: relative; 	padding: 0px 46px; } label[for="pf-v-4549484380220-203"]::after { 	content: 'SUBSCRIBE & SAVE (33%)'; 	color: #060E9F; 	font-size: 11px; 	position: relative; 	padding: 0px 18px; } .sum_text { 	width: 301px; 	font-size: 13px !important; } .tab-panels { 	position: relative; 	top: 125px; } .sc-qZtVr.dLIPjF.pf-ee31217d.pf-img-loaded { 	width: 320px; } .pf-p-variant.listitem3 { 	position: relative; 	top: 125px; } .ow-step-text.ow-step-3-text.listitem3 { 	position: relative; 	top: -75px; 	margin-bottom: -50px; } .sc-pkUyL.fTyjzF.pf-77d6c2ee { 	position: relative; 	top: -130px; } .sc-oTLFK.lcHmGL.pf-034a95fb { 	margin-top: 0px; } .line_number { 	font-size: 16px; 	line-height: 28px; } .sc-pkUyL.fTyjzF.pf-49707043 { 	position: relative; 	top: 50px; } #add-to-cart-button { 	display: none; 	outline: none; 	color: #FFFFFF; 	background-color: #217241; 	border: none; 	box-shadow: none; 	font-size: 16px; 	font-weight: 500; 	line-height: 17px; 	padding: 20px 50px; 	letter-spacing: 4px; 	margin: -40px 0px -10px 0px; 	height: auto; 	border-radius: 0px; 	white-space: nowrap; 	text-align: center; 	left: 50%; } .item-name h2 { 	color: #fff; 	font-size: 14px; 	position: absolute; 	top: -10px; 	width: max-content; 	text-align: left; 	left: 100px; } .item-name h3 { 	color: #fff; 	font-size: 11px; 	position: absolute; 	top: 9px; 	left: 100px; 	width: max-content; } .item-plan h3 { 	font-size: 11px; 	color: #fff; 	text-transform: capitalize; 	border-left: 1px solid white; 	padding-left: 15px; 	position: absolute; 	left: 225px; 	line-height: 17px; 	text-align: left; 	width: max-content; 	top: -11px; } .item-plan h4 { 	font-size: 11px; 	color: #fff; 	text-transform: capitalize; 	border-left: 1px solid white; 	padding-left: 15px; 	position: absolute; 	top: 6px; 	left: 225px; 	line-height: 17px; 	text-align: left; 	width: max-content; } .next-buttons { 	margin-left: 75px !important; 	top: -48px !important; 	height: 50px; } .checkout-btn { 	margin-left: 75px !important; 	top: -48px !important; 	height: 50px; 	white-space: nowrap; } .mobile_hide { 	display: none; } div.bottom_info { 	display: inline-block; 	text-align: center; 	/* margin-left: -15px; 	*/ 	position: relative; 	left: -25px; } .item-image { 	top: -20px; } .item-name { 	margin-bottom: 16px; } .__pf .pf-f56d001d { 	max-height: 121px !important; } .my_modal { 	margin-left: -195px; } .sc-qPjXN.eYzxUD.pf-a88508ca.pf-r.pf-r-eh { 	margin-top: 40px; } span.tooltip_2[tooltip] { 	left: -143px; } .tooltip_info_2 { 	position: relative; 	top: 3px; 	left: 148px; } .tooltip_2::before { 	bottom: -56% !important; 	border-bottom-width: 38px !important; 	border-top-color: #fff !important; 	left: 20px !important; } .tg .tg-33wd, .tg .tg-j28k { 	font-size: 18px !important; 	line-height: 18px !important; } } /*tablet*/  @media only screen and (min-width: 768px) and (max-width: 1024px) { 	#add-to-cart-button { 	display: none; 	outline: none; 	color: #FFFFFF; 	background-color: #217241; 	border: none; 	box-shadow: none; 	font-size: 16px; 	font-weight: 500; 	line-height: 17px; 	padding: 17px 33px; 	letter-spacing: 4px; 	margin: -39px 0px 0px 150px; 	height: auto; 	border-radius: 0px; 	white-space: nowrap; } .sc-pbYdQ.jklmHY.pf-c.pf-c-xs--12.pf-c-sm--4.pf-c-md--4.pf-c-lg--4 { 	max-width: 33%; } .line_number { 	left: 0%; } .ow-step-nav-three > .line_number::before { 	display: block; 	width: auto; 	min-width: 226px; } .ow-step-nav-two > .line_number::before { 	display: block; 	width: auto; 	min-width: 227px; } #ow-step-1 > .line_number::before { 	display: block; 	width: auto; 	min-width: 112px; } .number_header { 	top: -23px; 	position: relative; 	font-size: 10px; 	text-align: center; 	color: #051699; } .ow-step-nav { 	display: inline-block; } .homeSliderNav>.slick-list>.slick-track>.slick-slide>img { 	border-radius: 50%; 	overflow: hidden; 	margin: 0 auto; 	object-fit: cover; 	width: 35px; 	height: 35px; 	margin-bottom: 15px; 	outline: none; 	cursor: pointer; } .homeSliderNav>.slick-list>.slick-track>.slick-slide.slick-current { 	border: 1px solid #041491; 	border-radius: 50%; 	width: 35px !important; 	height: 36px !important; 	margin-bottom: 15px; } .homeSliderNav>.slick-list>.slick-track>.slick-slide { 	width: 35px !important; } .sc-pkUyL.fTyjzF.pf-f1a88508 { 	position: relative; 	top: -50px; } .tooltip_info { 	position: relative; 	top: -67px; 	left: 155px; } .homeSliderNav { 	position: absolute; 	top: -20px; 	left: 20px; } #select_h2 { 	margin-top: -20px; 	margin-bottom: 40px; } .main_slider { 	margin-top: -40px; } [tooltip]:not([flow])::after, [tooltip][flow^="up"]::after { 	bottom: calc(100% + 105px); } [tooltip]:not([flow])::before, [tooltip]:not([flow])::after, [tooltip][flow^="up"]::before, [tooltip][flow^="up"]::after { 	left: 8px; 	transform: translate(-50%, -0.5em); } [tooltip]:not([flow])::before, [tooltip][flow^="up"]::before { 	bottom: -230%; 	border-bottom-width: 110px; 	border-top-color: #fff; 	margin-left: 7px; 	padding: 2px 1px; } .sc-pkfPC.jHjrlE.pf-67d38da4 { 	display: none; } label[for="pf-v-4549484380220-001"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-001"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4549484380220-011"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-011"]::after { 	top: 70px; 	left: -12px; 	font-size: 10px; 	width: 84px; } label[for="pf-v-4549484380220-021"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-021"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4549484380220-031"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-031"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4549484380220-041"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-041"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4549484380220-051"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-051"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4549484380220-061"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-061"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4549484380220-071"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4549484380220-071"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } .dTFuTq .pf-p-variant-radio { 	width: 400px; 	margin-left: 5px; } .pf-p-variant-radio div { 	margin-right: 31px !important; 	margin-bottom: 50px; } .pf-p-variant.listitem2 > .pf-p-variant-radio { 	display: flex; 	position: relative; 	left: 0px; 	flex-direction: column; 	flex-wrap: nowrap; 	justify-content: center; 	align-items: center; 	align-content: center; } label[for="pf-v-4549484380220-102"], label[for="pf-v-4549484380220-112"] { 	height: 230px; 	width: 320px; 	background-size: contain; 	margin-right: 10px; } label[for="pf-v-4549484380220-112"] { 	margin-left: -15px; } .pf-p-variant.listitem2 > .pf-p-variant-radio { 	flex-direction: row; } label[for="pf-v-4549484380220-102"]::after { 	top: 202px; 	left: 95px; 	font-size: 12px; } label[for="pf-v-4549484380220-112"]::after { 	font-size: 12px; 	position: relative; 	top: 202px; 	left: 115px; } .sc-pkvvt.cbrLgP.pf-6809f3c2 { 	width: 100%; 	position: relative; 	left: 52px; 	top: -44px; } .sc-pkvvt.cbrLgP.pf-7e31ec28 { 	width: 100%; 	position: relative; 	left: 4px; 	top: -46px; } .step_2_text { 	position: relative; 	top: -250px; 	margin-bottom: -200px; } .ow-step-text.ow-step-2-text.listitem2 { 	justify-content: center; } .pf-p-variant.listitem2 > .pf-p-variant-radio { 	top: -150px; 	width: 50px; } #image_column { 	position: relative; 	top: -348px; } .sum_text { 	width: 300px; 	font-size: 13px !important; } .tab-panels { 	position: relative; 	top: -15px; } .sc-qZtVr.dLIPjF.pf-ee31217d.pf-img-loaded { 	width: 320px; } .pf-p-variant.listitem3 { 	position: relative; 	top: -15px; } .ow-step-text.ow-step-3-text.listitem3 { 	position: relative; 	top: -75px; 	margin-bottom: -50px; } .sc-pkUyL.fTyjzF.pf-77d6c2ee { 	position: relative; 	top: -85px; } .sc-oTLFK.lcHmGL.pf-034a95fb { 	margin-top: 0px; } .line_number { 	font-size: 16px; 	line-height: 28px; } .pf-p-variant.listitem2 { 	margin-top: 185px; } label[for="pf-v-4549484380220-203"]::after { 	content: 'SUBSCRIBE & SAVE (33%)'; 	color: #060E9F; 	font-size: 13px; 	position: relative; 	padding: 0px 17px; } label[for="pf-v-4549484380220-213"]::after { 	content: 'SINGLE PLAN'; 	color: #060E9F; 	font-size: 13px; 	position: relative; 	padding: 0px 34px; } .sc-pkUyL.fTyjzF.pf-49707043 { 	position: relative; 	top: -15px; } .checkout-btn { 	padding: 19px 33px !important; 	margin: 2px 0px 0px 152px !important; 	height: 50px; } .next-buttons { 	padding: 20px 66px !important; 	margin: 2px 0px 0px 152px !important; 	height: 50px; } .sc-qPjXN.eYzxUD.pf-a88508ca.pf-r.pf-r-eh { 	margin-top: 40px; } }  .checkout-btn { 	color: #FFFFFF; 	font-family: "Neutraface 2 Text"; 	text-align: center; 	font-size: 19px; 	font-weight: 500; 	background-color: #217241 !important; 	display: inline-block; 	border: none; 	box-shadow: none; 	font-size: 17px; 	font-weight: 500; 	line-height: 15px; 	padding: 19px 52px; 	letter-spacing: 4px; 	margin: 2px 0px 0px 89px; 	position: absolute; 	top: -17px; 	border-radius: 0px !important; } .next-buttons { 	outline: none; 	color: #FFFFFF; 	background-color: #041491; 	display: inline-block; 	border: none; 	box-shadow: none; 	font-size: 17px; 	font-weight: 500; 	line-height: 15px; 	padding: 20px 86px; 	letter-spacing: 4px; 	margin: 2px 0px 0px 89px; 	position: absolute; 	top: -17px; } #add-to-cart-otp, #add-to-cart-subscribe, #next_btn_second { 	display: none; } .__pf .pf-f56d001d { 	background-color: #c5c5c9; 	max-height: 81px; } /*popup*/ .my_modal { 	background: #FFF; 	width: auto; 	max-width: 600px; 	height: auto; 	text-align: center; 	box-shadow: 2px 2px 5px rgba(0,0,0,0.5); 	position: fixed; 	top: 20%; 	margin-top: -50px; 	left: 50%; 	margin-left: -100px; 	line-height: 25px; 	z-index: 99;     font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } .my_modal-bg { 	background: #FFF; 	zoom: 1; 	opacity: 0.4; 	filter: alpha(opacity=80); 	position: fixed; 	top: -25px; 	bottom: 0; 	left: 0; 	right: 0; 	z-index: 9; } a.close { 	position:absolute; 	top:0px; 	right:5px; 	color:black }  .modal_text { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; 	position:relative; 	top:30%; 	padding:17px 10px 0px 10px }</style> {% if product_4549484380220 == null %}{%- assign product_4549484380220 = all_products['new-foam-hair-dye-for-men'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4549484380220"] = {
					id: {{product_4549484380220.id | json }},
					handle: {{product_4549484380220.handle | json }},
					title: {{product_4549484380220.title | json }},
					type: {{product_4549484380220.type | json }},
					url: {{product_4549484380220.url | json }},
					vendor: {{product_4549484380220.vendor | json }},
					variants: {{product_4549484380220.variants | json }},
					options: {{product_4549484380220.options | json }},
					media: {{product_4549484380220.media | json }},
					first_available_variant: {{product_4549484380220.first_available_variant | json }},
					has_only_default_variant: {{product_4549484380220.has_only_default_variant | json }},
					options_with_values: {{product_4549484380220.options_with_values | json }},
					selected_variant: {{product_4549484380220.selected_variant | json }},
					selected_or_first_available_variant: {{product_4549484380220.selected_or_first_available_variant | json }},
					tags: {{product_4549484380220.tags | json }},
					template_suffix: {{product_4549484380220.template_suffix | json }},
					featured_image: {{product_4549484380220.featured_image | json }},
					featured_media: {{product_4549484380220.featured_media | json }},
					images: {{product_4549484380220.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-ca565231"><div data-pf-type="Layout" class="pf-08ca5652"><div data-container="false" class="sc-pZopv bjKdkd pf-e3901bd9" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-303c1138 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:0px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-7720303c" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-1bd97720"><div class="steps">
  <div class="steps-line" style="width:100%;">
    <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
    </div>
    </div>
  </div>
  <ul class="points" style="width:70%;text-align: center">
    <li id="ow-step-1" class="tab-current" style="width:33.33%;">
	  <div class="point_text"> <span class="mobile_hide">Select</span> Shade</div>
	  <div class="point_one point_number">1</div>
	</li>
	<li id="ow-step-2" class="" style="width:33.33%;">
	  <div class="point_text"> <span class="mobile_hide">Select</span> Intensity</div>
	  <div class="point_two point_number">2</div>
	</li>
	<li id="ow-step-3" class="" style="width:33.33%;">
	  <div class="point_text"> <span class="mobile_hide">Select</span> Frequency</div>
	  <div class="point_three point_number">3</div>
	</li>
  </ul>
</div>
<style>
  .tab-current > .point_text {
    color: #051699;
}
  .tab-current > .point_number {
    color: #fff;
    background-color: #051699;
	border: 1px solid #051699;

}
 .point_text {
	font-family: "Neutraface 2 Text";
	font-size: 17px;
	margin-bottom: -20px;
	font-weight: bold;
}
.steps {
	position: relative;
	width: 100%;
	margin: 10px auto;
	padding: 0;
    display: flex;
    justify-content: center;
}

.steps-line {
	position: absolute;
	bottom: 10px;
}

ul.points {
	position: relative;
	width: 100%;
	background-color: transparent;
	color: #ccc;
	font-size: 12px;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	list-style: none;
}

ul.points > li {
    cursor: pointer;
    font-family: "Neutraface 2 Text";
	text-align: center;
	padding-bottom: 34px;
	display: inline-block;
    color: #ebebeb;
}

.point_one,.point_two, .point_three  {
	font-family: "Neutraface 2 Text";
	font-size: 17px;
	position: relative;
	top: 36px;
	border: 1px solid #ebebeb;
	height: 29px;
	width: 29px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 auto;
    color: #ebebeb;
}

.progress {
	height: 1px;
	margin-bottom: 2px;
	background-color: #ebebeb;
}

.progress-bar {
	background: #051699;
	border: 1px solid #051699;
  width: 26%;
}
</style>

</div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-8508ca56" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-39060337 pf-r pf-r-eh pf-r-ew" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-5fe6561a" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-a3f0b55b"><div class="ow-step-text ow-step-1-text heading_1">
            <h2 id="select_h2">Select Your Shade</h2>
  <span tooltip="True Sons custom shades are designed to look natural and subtle. Try to match your true hair color. Don’t go lighter. If you aren't sure, just select 'unknown' and one of our dye specialists will contact you to assist you in your selection.">
	<svg class="tooltip_info" width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="13.5" cy="14.5" r="12.5" stroke="#A7A7A7" stroke-width="2"></circle>
<path d="M11.5703 18.416C11.2656 18.416 11.0625 18.6445 11.0625 18.9238V20.1172C11.0625 20.4219 11.2656 20.625 11.5703 20.625H15.4297C15.709 20.625 15.9375 20.4219 15.9375 20.1172V18.9238C15.9375 18.6445 15.709 18.416 15.4297 18.416H14.9219V13.0078C14.9219 12.7285 14.6934 12.5 14.4141 12.5H11.5703C11.2656 12.5 11.0625 12.7285 11.0625 13.0078V14.2266C11.0625 14.5059 11.2656 14.7344 11.5703 14.7344H12.0781V18.416H11.5703ZM13.5 7.625C12.4844 7.625 11.6719 8.46289 11.6719 9.45312C11.6719 10.4688 12.4844 11.2812 13.5 11.2812C14.4902 11.2812 15.3281 10.4688 15.3281 9.45312C15.3281 8.46289 14.4902 7.625 13.5 7.625Z" fill="#A6A6A6"></path>
</svg></span>
            
          </div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-1fc4af1c"><div class="ow-step-text ow-step-2-text listitem2">
            <h2 id="select_h2">Select Your Intensity</h2>
            
          </div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-b9fea3f0"><div class="ow-step-text ow-step-3-text listitem3">
            <h2 class="select2_h2">Choose Your Frequency<span class="tooltip_2" tooltip="The average guy needs one multi-use bottle of True Sons per month and applies True Sons every 7-14 days. We offer two membership plans: a single plan so you can get the dye as you need it and a recurring plan to save the environment and your wallet."><svg class="tooltip_info_2" width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="13.5" cy="14.5" r="12.5" stroke="#A7A7A7" stroke-width="2"></circle>
<path d="M11.5703 18.416C11.2656 18.416 11.0625 18.6445 11.0625 18.9238V20.1172C11.0625 20.4219 11.2656 20.625 11.5703 20.625H15.4297C15.709 20.625 15.9375 20.4219 15.9375 20.1172V18.9238C15.9375 18.6445 15.709 18.416 15.4297 18.416H14.9219V13.0078C14.9219 12.7285 14.6934 12.5 14.4141 12.5H11.5703C11.2656 12.5 11.0625 12.7285 11.0625 13.0078V14.2266C11.0625 14.5059 11.2656 14.7344 11.5703 14.7344H12.0781V18.416H11.5703ZM13.5 7.625C12.4844 7.625 11.6719 8.46289 11.6719 9.45312C11.6719 10.4688 12.4844 11.2812 13.5 11.2812C14.4902 11.2812 15.3281 10.4688 15.3281 9.45312C15.3281 8.46289 14.4902 7.625 13.5 7.625Z" fill="#A6A6A6"></path>
</svg></span></h2>       
          </div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-a88508ca pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-f5e21482" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-f8f5e214"><div class="container main_slider">
  <div class="row">
    <div class="col-sm-6">
      <div class="homeSlider">
        <div class="active item">
          <img class="img1" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9137_1_1_1.png?v=1590183406">
        </div>
        <div class="item">
          <img class="img2" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9032_1.png?v=1590183406">
        </div>
        <div class="item">
          <img class="img3" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9036_1.png?v=1590183406">
        </div>
        <div class="item">
          <img class="img4" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/TrueSons_Product_0084_1_2.png?v=1590171457">
        </div>
      </div>
      <div class="homeSliderNav">
        <div>
          <img class="img1" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9137_1_1_1.png?v=1590183406">
        </div>
        <div>
          <img class="img2" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9032_1.png?v=1590183406">
        </div>
        <div>
          <img class="img3" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9036_1.png?v=1590183406">
        </div>
        <div>
          <img class="img4" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/TrueSons_Product_0084_1_2.png?v=1590171457">
        </div>
      </div>
    </div>
  </div>
</div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-f1a88508" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-d705b2d7 listitem1"><a data-color="inherit" data-popup-content="shopify" data-src="https://truesons-dev.myshopify.com/pages/video-main-popup" href="#" data-action="modal" data-width="775px" data-height="578px" data-popup-animation="fadeIn"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-af93d705">Having trouble choosing your shade? Watch this video.</span></a></h3><div data-product-id="4549484380220" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-e21482d1" style="--pf-s-lg:100px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="4549484380220" name="id" class="pf-input-variant-4549484380220" type="hidden" value="{{ product.variants.first.id }}"></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-86c327d7"><div class="tab-panels listitem3">
      <section class="tab-panel tab_1 show">
                <div id="Bi-Monthly" data-group="51167" data-freq="2" class="pickplan ow-step-freq-single ow-step-freq-two ow-freq-selected" data-freq-type="2" data-freq-text="SUBSCRIBE & SAVE <br> 2 bottles recurring" data-price="59.9">
                  <div class="selected"></div>
                  <p class="price_text">2 bottles recurring</p>
                  <p style="text-align: left;"><span class="price_number">$30 </span><em>(per bottle)</em> </p>  
                  <p class="sum_text">$59.99 per order. We ship 2 bottles every other month.</p>      
                </div>
      </section>
      <section class="tab-panel tab_2">
                <div id="onetime" data-group="51167" data-freq="1" class="pickplan ow-step-freq-single ow-step-freq-two" data-freq-type="2" data-freq-text="SINGLE PLAN <br> 2 bottles one-time purchase" data-price="89.9">
                  <div class="selected"></div>
                  <p class="price_text">2 bottles one-time purchase</p>
                  <p style="text-align: left;"><span class="price_number">$45 </span><em>(per bottle)</em></p> 
                  <p class="sum_text">$89.99. We ship 2 bottles in your order.</p>         
                  </div>
      </section>
    
    </div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-70431f46 pf-r pf-r-eh listitem1" id="text_row_main" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-b2d74970" data-pf-type="Column"><div data-pf-scrolltop="false" data-multiple="false" data-pf-type="Accordion2" class="sc-pkfPC jHjrlE pf-67d38da4"><div class="sc-pJipy mZVAk pf-3d591a6e accordion__item" data-pf-type="Accordion2.Content.Wrapper"><button type="button" class="sc-pBlxj gYSgcm pf-47e622c8 pf-bg-lazy accordion__header pf-anchor" data-header-id="4347e622-c83a-4f3d-991a-6e237b67d38d" data-action="accordion2" data-preopen="false" data-active="false" data-pf-type="Accordion.Header"><i class="icon_position accordion__arrow fa fa-chevron-right"></i>Instructions + More Information</button><div class="sc-qYUWV exYsxy pf-1ddd2371 accordion__content" mode="view" data-id="4347e622-c83a-4f3d-991a-6e237b67d38d" data-pf-type="Accordion2.Content" style="display: none;"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-6c459068"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8b686c45">True Sons is a subtle hair dye designed to boost your natural color. Do a patch test before using True Sons or any other hair dye.You can change your shade up to one week before your next order ships. Contact support@truesons.com</span></p></div></div><div class="sc-pJipy mZVAk pf-1a6e237b accordion__item" data-pf-type="Accordion2.Content.Wrapper"><button type="button" class="sc-pBlxj gYSgcm pf-22c83a5f pf-bg-lazy accordion__header pf-anchor" data-header-id="e622c83a-5f3d-491a-ae23-7b67d38da48b" data-action="accordion2" data-preopen="false" data-active="false" data-pf-type="Accordion.Header"><i class="icon_position accordion__arrow fa fa-chevron-right"></i>Ingredients</button><div class="sc-qYUWV exYsxy pf-623238ac accordion__content" mode="view" data-id="e622c83a-5f3d-491a-ae23-7b67d38da48b" data-pf-type="Accordion2.Content" style="display: none;"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-46041712"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-c43f4604">Water (Aqua), Ethanolamine, Isobutane, Toluene-2,5-diamine Sulfate, Resorcinol, Emulsifying Wax Nf, N, N Bis(2-hydroxyethyl)-P-Phenylenediamine Sulfate, Glycolstearate, Sodium Cocoyl Isethionate, Sd Alcohol 40 (Alcohol Denat.), Propane, Sodium Laureth Sulfate, Fragrance, Sodium Lauryl Sulfate, M-aminophenol, Tetrasodium Edta, P-aminophenol, Ascorbic Acid, 2,4 Diaminophenoxyethanol HCl, 2-methylresorcinol.</span></p></div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-49707043" data-pf-type="Column"><h3 id="popup" data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-4a7d7443"><a data-color="inherit" data-popup-content="shopify" data-src="https://truesons-dev.myshopify.com/pages/how-true-sons-is-different" href="#" data-action="modal" data-width="940px" data-height="510px" data-popup-animation="fadeIn"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7ba94a7d">How True Sons is Different</span></a></h3><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-1f46d8f9"><div class="description_block">
            <p>True Sons custom shades are designed to look natural. Try to match your true hair color.  If you aren't sure, just select <b>'IDK my shade'</b> and one of our dye specialists will contact you to assist you in your selection.</p> 

            </div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-f847a09f" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-221f6cba"><!--Sale Popup-->
            
            <div class="my_modal" style="display: none;">
	<p class="modal_text"><em>True Black is on backorder due to incredible demand. We encourage you to purchase Brown Black instead. <br>
     </em></p>
              <p style="padding:0px 10px"><em>
                Willing to wait a little longer?<b> Subscribe today </b>and get 20% off your first order of True Black. <br>Estimated ship date: July 2020. </em></p>
	<a href="#" class="close">✕</a>
</div>
<div class="my_modal-bg" style="display: none;"></div>
            
       <!--End Sale Popup--></div></div></div></div><div class="sc-qPjXN eYzxUD pf-aeffa7aa pf-r pf-r-eh step_2_text listitem2" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-b3fdbfae" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-6809f3c2"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d1406809">True Son's Original delivers subtle gray coverage for men who want a natural look. It is designed for first-time dyers and men with less than 50% gray hair. No mixing is required. Just foam on.
</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-bfaeaeff" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-7e31ec28"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a5fc7e31">Dye Harder delivers deep dye coverage and works faster (5 minutes or less). Dye Harder is best for experienced dye users, men with over 50% white / gray hair, and men who have very coarse hair.
</span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-83e6ef54 listitem3" id="" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-c2ee83e6 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-6fb277d6" id="image_column" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-2fa9f375--ffff1d74ce3cbd594ec59bcd01caad392847600xjpg-WEBP-568-352-Mozilla-Firefox.jpg?v=1590765590 1200w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-2fa9f375--ffff1d74ce3cbd594ec59bcd01caad392847600xjpg-WEBP-568-352-Mozilla-Firefox.jpg?v=1590765590 800w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-2fa9f375--ffff1d74ce3cbd594ec59bcd01caad392847600xjpg-WEBP-568-352-Mozilla-Firefox_400x245.jpg?v=1590765590&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-ee31217d pf-img-lazy" data-pf-type="Image2"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-77d6c2ee" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-034a95fb"><a data-color="inherit" data-popup-content="shopify" data-src="https://truesons-dev.myshopify.com/pages/how-our-cost-compares-to-drug-store-dyes" href="#" data-action="modal" data-width="854px" data-height="550px"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a0ba034a">How our cost compares to drug store dyes</span></a></h3><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-ef54ee31"><div class="ow-step-text ow-step-2-text-bottom step_3_bottom_text">
            <p>
              <strong>FREE CONSULTATION</strong> Every customer also gets a free 15-minute live video chat consult with our specialists so you’ll feel super-comfortable using the product. After you order you will receive an email to schedule your complimentary meeting.<br>
              <strong>SATISFACTION GUARANTEE</strong> If you’re not satisfied with your dye choice, we’ll let you keep your original order — and replace it with a shade of your choice!<br>
              <strong>NO OBLIGATION</strong> You can cancel at anytime.
            </p>        
          </div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-f56d001d" id="" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-1d218ffc pf-r pf-r-align--lm" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:13.5px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-0ca6b857" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-6068b3fd"><div class="bottom_info">
  <div class="item-image"><img src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown.png?v=1590161830" alt="" title="">   </div>
  <div class="item-name">
	  <h2>DARK BROWN</h2>
	  <h3 class="fixbar_item2">ORIGINAL FORMULA</h3>
   </div>
  <div class="item-plan fixbar_item3">
            <h3>SUBSCRIBE & SAVE</h3>
            <h4>2 bottles recurring</h4>
   </div>
</div>
</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--2 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-b9d53680" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-b857cae9" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-ee733ef1"><button id="next_btn_first" type="button" class="next-buttons">NEXT</button></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-8cb9221f"><button data-product-id="4549484380220" id="add-to-cart-subscribe" class="sc-pcjuG uJAsR pf-2f101618 checkout-btn" type="button" onclick="subscribe(event)"><span>Add To Cart</span></button></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-10958cb9"><button id="next_btn_second" type="button" class="next-buttons">NEXT</button></div><button data-product-id="4549484380220" data-checkout="checkout" class="sc-pcjuG uJAsR pf-71bfce14 checkout-btn" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" id="add-to-cart-otp" data-pf-type="ProductATC"><span>Add To Cart</span></button></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.12.0","shopDomain":"truesons-dev.myshopify.com","elementData":{},"pageTitle":"Get started","pageType":"page","pageId":"3282d49d-41a7-433e-9db9-9bd2d550cd12","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":false,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.12.0/core/helper.js?t=20200611210623" defer></script><script>/*setTimeout(function () {
	var sticky = document.getElementById("bottom-fix-bar");
	var fixedPosition = $(window).innerHeight() - $(sticky).innerHeight();
	$(sticky).css("top", fixedPosition);
  }, 100);*/
  
  jQuery (document).ready(function () {
  
  
  setTimeout(() => {
	//sections
	jQuery(document).find('.pf-p-variant:nth-child(1)').addClass("listitem1");
	jQuery(document).find('.pf-p-variant:nth-child(2)').addClass("listitem2");
	jQuery(document).find('.pf-p-variant:nth-child(3)').addClass("listitem3");
	
	//tabs
	jQuery('label[for="pf-v-4549484380220-203"]').click(
	  function() {
	jQuery(document).find('.tab_1').addClass("show");
	jQuery(document).find('.tab_2').removeClass("show");
	});
	jQuery('label[for="pf-v-4549484380220-213"]').click(
	  function() {
	jQuery(document).find('.tab_2').addClass("show");
	jQuery(document).find('.tab_1').removeClass("show");
	});
	
	 //bottom bar info step 1
  jQuery('input:radio[name=Color]').click(function() {
	
   var newhtml = jQuery('input:radio[name=Color]:checked').val();
   var h2 = jQuery(document).find('.item-name h2');
   var img = jQuery(document).find('.item-image img');
	
   jQuery(h2).text(newhtml);
	
	switch  (newhtml) {	 
		
	case 'Dark Brown':
	  img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown.png?v=1590161830");
	   break;
		
	case 'Medium Brown': 
	  img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown_53ee8f49-46b2-4ee2-8662-7ff0fa8541e5.png?v=1590162132");
	break;
		
	case 'Dirty Blond':
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/dirty_blond.png?v=1590162213");
	break;
		
	case 'Auburn':
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/auburn_2f491543-93a4-4229-aeac-432642e4ad6a.png?v=1590162593");
	break;
		
	case 'True Black':
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/trueblack.png?v=1590162863");
	break;
		
	case 'Light Brown':
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/lightbrown.png?v=1590162813");
	break;
		
	case 'Brown Black':
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/BrownBlack.png?v=1590163073");
	break;
		
	case 'IDK MY SHADE':
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/questionmark-dye_100x_e7d6b11f-335f-4be8-ad33-a06db772203c.png?v=1590163073");
	break;
  
	  default:	
		img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown.png?v=1590161830");
  
	}
	
  });
	
	   //bottom bar info step 2
  jQuery('input:radio[name=Intensity]').click(function() {
	
   var newint = jQuery('input:radio[name=Intensity]:checked').val();
   var h3 = jQuery(document).find('.item-name h3');
	 switch  (newint) {	 
		
	case 'Original Formula':
	  h3.text('ORIGINAL FORMULA');
	   break;
		
	case 'Dye Harder': 
	  h3.text('DYE HARDER');
	break;
		 default:	
	 h3.text('ORIGINAL FORMULA');
	}
	});
	
	 //bottom bar info step 3
  jQuery('input:radio[name=Frequency]').click(function() {
	
   var newfreq = jQuery('input:radio[name=Frequency]:checked').val();
   var h3freq = jQuery(document).find('.item-plan h3');
   var h4freq = jQuery(document).find('.item-plan h4');
	
	 switch  (newfreq) {	 
		
	case '2':
	  h3freq.text('SUBSCRIBE & SAVE');
	  h4freq.text('2 bottles recurring');
	   break;
		
	case 'One-Time': 
	  h3freq.text('SINGLE PLAN ');
	  h4freq.text('2 bottles one-time purchase');
	break;
		 default:	
	  h3freq.text('SUBSCRIBE & SAVE');
	  h4freq.text('2 bottles recurring');
	}
	});
	
	
	//switch button
jQuery('input:radio[name=Frequency]').click(function() {
	
   var newfreq = jQuery('input:radio[name=Frequency]:checked').val();
   var btnMultiple = jQuery(document).find('#add-to-cart-subscribe');
   var btnOnetime = jQuery(document).find('#add-to-cart-otp');
	
	 switch  (newfreq) {	 
		
	case '2':
	  btnMultiple.css("display", "block");
	  btnOnetime.css("display", "none");
	   break;
		
	case 'One-Time': 
	  btnMultiple.css("display", "none");
	  btnOnetime.css("display", "block");
	break;
		 default:	
		 btnMultiple.css("display", "block");
	  btnOnetime.css("display", "none");
	}
});
	
	 //Sale Popup

	jQuery('label[for="pf-v-4549484380220-041"]').click(function(){
		jQuery('.my_modal').show();
		jQuery('.my_modal-bg').show();
	});
	jQuery('.my_modal .close').click(function(){
		jQuery('.my_modal').hide();
		jQuery('.my_modal-bg').hide();
	})

	
  }, 1000);
	
	  
  //slider
  
  jQuery ('.homeSlider').slick({
	slidesToScroll: 1,
	arrows: false,
	fade: true,
	asNavFor: '.homeSliderNav',
	autoplay: true,
  });
  jQuery ('.homeSliderNav').slick({
	slidesToShow: 5,
	slidesToScroll: 1,
	arrows: true,
	asNavFor: '.homeSlider',
	focusOnSelect: true,
	variableWidth: true,
	centerMode: true,
	centerPadding: '10px;', 
  });
  
	 //next-btn
	
  jQuery('#next_btn_first').click(
	function() {
	  jQuery('label[for="pf-v-4549484380220-102"]').css("display", "block");
		  jQuery('label[for="pf-v-4549484380220-112"]').css("display", "block");
		  jQuery('.listitem1').css("display", "none");
		  jQuery('.heading_1').css("display", "none");
		  jQuery('.main_slider').css("display", "none");
		  jQuery('.listitem2').css("display", "flex");
		  jQuery('.fixbar_item2').css("display", "block");
		  jQuery("#ow-step-2").addClass( "tab-current" );
		  jQuery('.progress-bar').css("width", "50%");
	  	  jQuery('#next_btn_second').css("display", "block");
	      jQuery('#add-to-cart-subscribe').css("display", "none");
	  	  jQuery('#add-to-cart-otp').css("display", "none");
	  	 jQuery('#next_btn_first').css("display", "none");
	});
	
	
  jQuery('#next_btn_second').click(
 function() {
	  jQuery('label[for="pf-v-4549484380220-203"]').css("display", "block");
		  jQuery('label[for="pf-v-4549484380220-213"]').css("display", "block");
		  jQuery("#ow-step-3").addClass( "tab-current" );
		  jQuery('.listitem2').css("display", "none");
		  jQuery('.listitem3').css("display", "block");
          jQuery('#add-to-cart-subscribe').css("display", "block");
	  	  jQuery('#add-to-cart-otp').css("display", "none");
	      jQuery('.fixbar_item3').css("display", "list-item");
		  jQuery('#next_btn_first').css("display", "none");
   		  jQuery('#next_btn_second').css("display", "none");
		  jQuery('.progress-bar').css("width", "100%");
	});
	
	//steps_line
	 jQuery('#ow-step-1').click(
	function() {
		  jQuery('.main_slider').css("display", "block");
		  jQuery('.listitem1').css("display", "flex");
		  jQuery('.heading_1').css("display", "block");
		  jQuery('#text_row_main').css("top", "-157px");
		  jQuery('label[for="pf-v-4549484380220-102"]').css("display", "none");
		  jQuery('label[for="pf-v-4549484380220-112"]').css("display", "none");
		  jQuery('.progress-bar').css("width", "26%");
		  jQuery("#ow-step-2").removeClass( "tab-current" );
		  jQuery("#ow-step-3").removeClass( "tab-current" );
		  jQuery('label[for="pf-v-4549484380220-203"]').css("display", "none");
		  jQuery('label[for="pf-v-4549484380220-213"]').css("display", "none");
		  jQuery('.listitem2').css("display", "none");
		  jQuery('.listitem3').css("display", "none");
		  jQuery('#add-to-cart-subscribe').css("display", "none");
	  	  jQuery('#add-to-cart-otp').css("display", "none");
		  jQuery('#next_btn_first').css("display", "block");
	      jQuery('#next_btn_second').css("display", "none");
	});
	
	jQuery('#ow-step-2').click(
	function() {
		  jQuery('.main_slider').css("display", "none");
		  jQuery('label[for="pf-v-4549484380220-102"]').css("display", "block");
		  jQuery('label[for="pf-v-4549484380220-112"]').css("display", "block");
		  jQuery('.listitem1').css("display", "none");
		  jQuery('.heading_1').css("display", "none");
		  jQuery('.progress-bar').css("width", "50%");
		  jQuery("#ow-step-3").removeClass( "tab-current" );
		  jQuery("#ow-step-2").addClass( "tab-current" );
		  jQuery('label[for="pf-v-4549484380220-203"]').css("display", "none");
		  jQuery('label[for="pf-v-4549484380220-213"]').css("display", "none");
		  jQuery('.listitem2').css("display", "flex");
		  jQuery('.listitem3').css("display", "none");
		  jQuery('#add-to-cart-subscribe').css("display", "none");
	  	  jQuery('#add-to-cart-otp').css("display", "none");
		  jQuery('#next_btn_first').css("display", "none");
	      jQuery('#next_btn_second').css("display", "block");
	      jQuery('.fixbar_item2').css("display", "block");
	});
	
	 jQuery('#ow-step-3').click(
	function() {
	  jQuery('label[for="pf-v-4549484380220-102"]').css("display", "none");
		  jQuery('label[for="pf-v-4549484380220-112"]').css("display", "none");
		  jQuery('.listitem1').css("display", "none");
		  jQuery('.heading_1').css("display", "none");
		  jQuery('.main_slider').css("display", "none");
		  jQuery('.progress-bar').css("width", "100%");
		   jQuery("#ow-step-3").addClass( "tab-current" );
		  jQuery("#ow-step-2").addClass( "tab-current" );
		  jQuery('label[for="pf-v-4549484380220-203"]').css("display", "block");
		  jQuery('label[for="pf-v-4549484380220-213"]').css("display", "block");
		  jQuery('.listitem2').css("display", "none");
		  jQuery('.listitem3').css("display", "block");
		  jQuery('#add-to-cart-subscribe').css("display", "block");
	  	  jQuery('#add-to-cart-otp').css("display", "none");;
		  jQuery('#next_btn_first').css("display", "none");
	      jQuery('#next_btn_second').css("display", "none");
	      jQuery('.fixbar_item3').css("display", "list-item");
  
	});
	
  });
//end doc ready

  //change slider 
  
  window.onload = function () {
	var darkBrown = document.getElementById("pf-v-4549484380220-001");
	  darkBrown.onclick = function() {
		darkBrown.classList.add("border_round");
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9137_1_1_1.png?v=1590183406";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9032_1.png?v=1590183406";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9036_1.png?v=1590183406";          
		  }
	  }
	  }
	var mediumBrown = document.getElementById("pf-v-4549484380220-011");
	  mediumBrown.onclick = function() {
			  mediumBrown.classList.add("border_round");
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0562_2.png?v=1590183530";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0591_1.png?v=1590183530";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0598_1.png?v=1590183530";          
		  }
	  }
	  }
	
	  var dirtyBlond = document.getElementById("pf-v-4549484380220-021");
	  dirtyBlond.onclick = function() {
			dirtyBlond.classList.add("border_round");
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9317_4.png?v=1590169970";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9292_1.png?v=1590169969";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9300_1.png?v=1590169969";          
		  }
	  }
	  }
	
	  var auburn = document.getElementById("pf-v-4549484380220-031");
	  auburn.onclick = function() {
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0043_1.png?v=1590182866";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0075_1.png?v=1590182865";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0084_1.png?v=1590182865";          
		  }
	  }
	  }
	
	 var trueBlack = document.getElementById("pf-v-4549484380220-041");
	  trueBlack.onclick = function() {
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9264_1.png?v=1590171457";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9214_1.png?v=1590171457";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9229_1.png?v=1590171457";          
		  }
	  }
	  }
	
   var lightBrown = document.getElementById("pf-v-4549484380220-051");
	  lightBrown.onclick = function() {
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9471_1.png?v=1590183637";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9614.png?v=1590183637";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/111.png?v=1590183637";          
		  }
	  }
	  }
	
	var brownBlack = document.getElementById("pf-v-4549484380220-061");
	  brownBlack.onclick = function() {
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0301_1.png?v=1590183701";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0373_2.png?v=1590183701";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0276_1.png?v=1590183701";          
		  }
	  }
	  }
	
	var idk = document.getElementById("pf-v-4549484380220-071");
	  idk.onclick = function() {
		  var a=document.getElementsByTagName("img");
  for(i=0;i<a.length;i++)
	  {
	  if (a[i].className=="img1")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/True_Sons_Files_Shopify_-g_Mozilla_Firefox.jpg?v=1590183935";          
		  }
	   else if (a[i].className=="img2")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/True_Sons_Files_Shopify_-_Mozilla_Firefox.jpg?v=1590183934";          
		  }
		else if (a[i].className=="img3")
		  {
			  a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/TrueSons_Product_07_18_3895_3_e1f100c1-3dfc-4cd5-a04d-a2f29dc41e3a.jpg_WEBP_568_x_352_-_Mozilla_Firefox.jpg?v=1590184002";          
		  }
	  }
	  }
	
   
  }
  </script>
