<link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.12.2/css/main-style.css?t=20200630000645"><link rel="stylesheet" href="{{ 'pagefly.96b10fea.scss.css' | asset_url }}">
		 <style>#fixed_bar  { 	position: sticky; 	bottom: 0; } #PageContainer { 	overflow: initial !important; } .homeSlider { 	max-width: 500px; 	margin: 0 auto; } .homeSlider img { 	width: 100%; } .homeSliderNav { 	position: absolute; 	top: 30px; 	left: 50px; } .homeSliderNav>.slick-list>.slick-track>.slick-slide>img { 	border-radius: 50%; 	overflow: hidden; 	margin: 0 auto; 	object-fit: cover; 	width: 50px; 	height: 50px; 	margin-bottom: 15px; 	outline: none; 	cursor: pointer; } .homeSliderNav>.slick-list>.slick-track>.slick-slide { 	width: 50px !important; } .homeSliderNav>.slick-list>.slick-track { 	width: 25% !important; } .homeSliderNav>.slick-list>.slick-track>.slick-slide.slick-current { 	border: 1px solid #041491; 	border-radius: 50%; 	width: 51px !important; 	height: 52px !important; 	margin-bottom: 15px; } .homeSliderNav>.slick-list>.slick-track>.slick-slide.slick-current:focus { 	outline: none; } .homeSliderNav>.slick-list>.slick-track>.slick-slide:focus { 	outline: none; } label[for="pf-v-4682089594959-001"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/dark_brown.png?v=1591271628") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-001"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Dark Brown'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4682089594959-011"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/medium_brown.png?v=1591271597") 50% 0% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-011"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Medium Brown'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4682089594959-021"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/dirty_blond.png?v=1591271427") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-021"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Dirty Blond'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4682089594959-031"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/Auburn_29439173-8318-41a1-a3b7-697e9d0dfbbc.png?v=1591271363") 50% 75% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-031"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Auburn'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4682089594959-041"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/true_black.png?v=1591271659") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-041"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'True Black'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4682089594959-051"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/light_brown.png?v=1591271458") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-051"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Light Brown'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4682089594959-061"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/brown_black.png?v=1591271646") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-061"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Brown Black'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4682089594959-071"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/questionmark-dye.png?v=1573536218") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-071"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Idk my shade'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } #pf-v-4682089594959-001, #pf-v-4682089594959-011, #pf-v-4682089594959-021, #pf-v-4682089594959-031, #pf-v-4682089594959-041, #pf-v-4682089594959-051, #pf-v-4682089594959-061, #pf-v-4682089594959-071, #pf-v-4682089594959-102, #pf-v-4682089594959-112, #pf-v-4682089594959-213, #pf-v-4682089594959-203 { 	display: none; } .dTFuTq .pf-p-variant-radio label { 	padding-left: 0px; 	cursor: pointer; } .sc-ptSuy.fnmilh.pf-53b9bd2d { 	font-family: "Neutraface 2 Text"; } .pf-p-variant-radio div>input:checked+label { 	box-shadow: 0px 0px 0px 4px #060E9F; 	border-radius: 100%; 	background-color: #060E9F; } .listitem1 div>input:checked+label { 	transition: box-shadow 0.3s linear; } .dTFuTq .pf-p-variant-radio { 	display: inline-flex; 	align-items: center; 	flex-wrap: wrap; 	width: 500px; } .pf-p-variant-radio div { 	margin-right: 40px !important; 	margin-bottom: 50px; } label[for="pf-v-4682089594959-102"], label[for="pf-v-4682089594959-112"] { 	height: 60px; 	width: 100%; 	background-color: #f0f0f0; 	text-align: center; 	font-size: 0px; 	padding: 17px 0px; } label[for="pf-v-4682089594959-112"] { 	position: relative; 	top: -120px; } label[for="pf-v-4682089594959-102"] { 	position: relative; 	top: -140px; } label[for="pf-v-4682089594959-102"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'I’m good with Original No Mix Formula'; 	font-size: 15px; 	text-transform: uppercase; 	color: #060e9f; } label[for="pf-v-4682089594959-112"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Add a booster to my order (Free)'; 	font-size: 15px; 	text-transform: uppercase; 	color: #060e9f; } label[for="pf-v-4682089594959-102"]::before, label[for="pf-v-4682089594959-112"]::before { 	content: ''; 	display: inline-block; 	width: 1em; 	height: 1em; 	flex-shrink: 0; 	flex-grow: 0; 	border: 2px solid #041491; 	margin-right: 0.5em; 	font-size: 18px; 	position: relative; 	top: 3px; } .pf-p-variant-radio div>#pf-v-4682089594959-102:checked+label::before, .pf-p-variant-radio div>#pf-v-4682089594959-112:checked+label::before { 	border-color: #fff; 	background-color: #041491; 	background: url('https://cdn.shopify.com/s/files/1/1600/5339/files/UIHere_55a0e3f6-1079-4901-b719-50a93d4bfda4.png?v=1592427982') no-repeat 50% 50%; 	color: #fff; } label[for="pf-v-4682089594959-203"] { 	background-color: #060E9F; 	font-size: 0px; 	border-radius: 0%; 	background-color: #f0f0f0; 	display: none; 	padding: 15px 0px; 	width: 100%; 	text-align: center; } .dTFuTq .pf-p-variant-radio { 	width: 570px; } label[for="pf-v-4682089594959-203"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'SUBSCRIBE & SAVE (33%)'; 	color: #060E9F; 	font-size: 16px; 	position: relative; } .pf-p-variant-radio div>#pf-v-4682089594959-102:checked+label::after { 	color: #fff; } .pf-p-variant-radio div>#pf-v-4682089594959-112:checked+label::after { 	color: #fff; } .pf-p-variant-radio div>#pf-v-4682089594959-203:checked+label::after { 	color: #fff; } .pf-p-variant-radio div>#pf-v-4682089594959-203:checked+label { 	border-radius: 0%; 	background-color: #060E9F; 	box-shadow: none; } label[for="pf-v-4682089594959-213"] { 	background-color: #060E9F; 	font-size: 0px; 	border-radius: 0%; 	background-color: #f0f0f0; 	display: none; 	padding: 15px 0px; 	width: 100%; 	text-align: center; } label[for="pf-v-4682089594959-213"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'SINGLE PLAN'; 	color: #060E9F; 	font-size: 16px; 	position: relative; } .pf-p-variant-radio div>#pf-v-4682089594959-213:checked+label::after { 	color: #fff; } .pf-p-variant-radio div>#pf-v-4682089594959-213:checked+label { 	border-radius: 0%; 	background-color: #060E9F; 	box-shadow: none; } .pf-p-variant-radio div > #pf-v-4682089594959-102:checked+label, .pf-p-variant-radio div > #pf-v-4682089594959-112:checked+label  { 	box-shadow: none; 	border-radius: 0%; 	background-color: #060E9F; 	color: #fff; } .ow-product-custom-section-v1 .ow-steps-navigation .ow-step-nav.ow-selecting { 	color: #051699; 	opacity: 1; 	font-family: 'Neutraface 2 Text Demi'; 	font-weight: 600; } .tab-current>.line_number { 	background: #051699 !important; 	border: none; 	color: #fff; } .line_number { 	font-family: "Neutraface 2 Text"; 	background: #FFFFFF; 	border: 1px solid #C4C4C4; 	border-radius: 20px; 	color: #C4C4C4; 	display: inline-block; 	font-size: 19px; 	height: 29px; 	line-height: 24px; 	text-align: center; 	width: 29px; 	z-index: 500; 	top: 37px; 	position: relative; 	left: 71px; } #ow-step-1>.line_number::before { 	display: block; 	width: auto; 	min-width: 1000px; 	content: ''; 	position: absolute; 	border-bottom: 1px solid #051699; 	top: 50%; 	right: 100%; } .ow-step-nav-two>.line_number::before { 	display: block; 	width: auto; 	min-width: 354px; 	content: ''; 	position: absolute; 	border-bottom: 1px solid #b4afaf; 	top: 50%; 	right: 100%; 	z-index: 10; } .ow-step-nav-three>.line_number::before { 	display: block; 	width: auto; 	min-width: 356px; 	content: ''; 	position: absolute; 	border-bottom: 1px solid #b4afaf; 	top: 50%; 	right: 100%; 	z-index: 10; } #ow-step-3>.line_number::after { 	display: block; 	width: auto; 	min-width: 1070px; 	content: ''; 	position: absolute; 	border-bottom: 1px solid #b4afaf; 	top: 50%; 	left: 100%; 	z-index: 10; } .tab-current>.line_number { 	background: #051699 !important; 	border: none; 	color: #fff; } .tab-current>.line_number::before { 	border-bottom: 1px solid #051699 !important; 	padding-left: 2px; } .pf-p-variant.listitem2 > .pf-p-variant-radio { 	display: none; 	position: relative; 	flex-direction: column-reverse; } .tab-panel { 	padding: 8px 20px; 	border: 3px solid #051699; } .price_text { 	font-family: "Neutraface 2 Text"; 	font-size: 20px !important; 	font-weight: 600 !important; 	padding: 20px 0px 0px 0px; 	text-align: left; } .price_number { 	font-family: "Neutraface 2 Text"; 	font-size: 28px; 	line-height: 32px; 	color: #397E21; } .sum_text { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; 	font-size: 14px !important; 	line-height: 32px !important; 	color: #000000 !important; 	opacity: 0.6 !important; 	text-align: left; 	font-weight: 600 !important; 	font-style: italic; 	width: 373px; } .sc-ptSuy.fnmilh.pf-f0a9717b { 	font-family: "Neutraface 2 Text"; } .ow-step-text.ow-step-2-text-bottom.step_3_bottom_text { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; 	line-height: 30px; } .tab_1 { 	display: none; } .tab_2 { 	display: none; } .show { 	display: block; } .tab-panels { 	position: relative; } .listitem3>.pf-p-variant-radio div { 	margin-right: 0px !important; 	margin-bottom: 4px; } /*Tooltip-->*/ [tooltip] { 	position: relative } [tooltip]::before, [tooltip]::after { 	text-transform: none; 	font-size: .9em; 	line-height: 1; 	user-select: none; 	pointer-events: none; 	position: absolute; 	display: none; 	opacity: 0 } [tooltip]::before { 	content: ''; 	border: 5px solid transparent; 	z-index: 1001 } [tooltip]::after { 	content: attr(tooltip); 	font-family: Neutra2Text_book; 	text-align: center; 	min-width: 350px; 	max-width: 350px; 	overflow: hidden; 	text-overflow: ellipsis; 	padding: 13px; 	border-radius: .3ch; 	box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35); 	background: #fff; 	opacity: 1 !important; 	color: #2D2D2D; 	line-height: 20px; 	z-index: 1000; 	font-size: 15px; 	font-style: italic; } [tooltip]::after { 	transform: translate(-50%, 42px) !important; } [tooltip]:hover::before, [tooltip]:hover::after { 	display: block; } [tooltip='']::before, [tooltip='']::after { 	display: none !important; } [tooltip]:not([flow])::before, [tooltip][flow^="up"]::before { 	bottom: -198%; 	border-bottom-width: 110px; 	border-top-color: #fff; 	margin-left: 7px; 	padding: 2px 1px; } [tooltip]:not([flow])::after, [tooltip][flow^="up"]::after { 	bottom: calc(100% + 111px); } .tooltip_2[tooltip]:not([flow])::after, .tooltip_2[tooltip][flow^="up"]::after { 	bottom: calc(100% + 100px); } [tooltip]:not([flow])::before, [tooltip]:not([flow])::after, [tooltip][flow^="up"]::before, [tooltip][flow^="up"]::after { 	left: 160px; 	transform: translate(-50%, -0.5em) } [tooltip][flow^="down"]::before { 	top: 100%; 	border-top-width: 0; 	border-bottom-color: #333 } [tooltip][flow^="down"]::after { 	top: calc(100% + 5px) } [tooltip][flow^="down"]::before, [tooltip][flow^="down"]::after { 	left: 50%; 	transform: translate(-50%, 0.5em) } [tooltip][flow^="left"]::before { 	top: 192px; 	border-right-width: 0; 	border-left-color: #333; 	left: calc(0em - 5px); 	transform: translate(-0.5em, -50%) } [tooltip][flow^="left"]::after { 	top: 50%; 	right: calc(100% + 5px); 	transform: translate(-0.5em, -50%) } [tooltip][flow^="right"]::before { 	top: 50%; 	border-left-width: 0; 	border-right-color: #333; 	right: calc(0em - 5px); 	transform: translate(0.5em, -50%) } [tooltip][flow^="right"]::after { 	top: 50%; 	left: calc(100% + 5px); 	transform: translate(0.5em, -50%) } @keyframes tooltips-vert { 	to { 	opacity: .9; 	transform: translate(-50%, 0) } } @keyframes tooltips-horz { 	to { 	opacity: .9; 	transform: translate(0, -50%) } } [tooltip]:not([flow]):hover::before, [tooltip]:not([flow]):hover::after, [tooltip][flow^="up"]:hover::before, [tooltip][flow^="up"]:hover::after, [tooltip][flow^="down"]:hover::before, [tooltip][flow^="down"]:hover::after { 	animation: tooltips-vert 300ms ease-out forwards } [tooltip][flow^="left"]:hover::before, [tooltip][flow^="left"]:hover::after, [tooltip][flow^="right"]:hover::before, [tooltip][flow^="right"]:hover::after { 	animation: tooltips-horz 300ms ease-out forwards } .tooltip_info { 	position: relative; 	top: -45px; 	left: 154px } .tooltip_info_2 { 	position: relative; 	top: 3px; 	left: 13px } .tooltip_2::after { 	transform: translate(-50%, 75px) !important; 	left: 20px !important; 	font-weight: 400; 	padding: 10px; 	margin-bottom: -14px; } .tooltip_2::before { 	bottom: -36% !important; 	border-bottom-width: 38px !important; 	border-top-color: #fff !important; 	left: 20px !important } .listitem3 { 	display: none; } .tooltip_2[tooltip]::after { 	line-height: 17px; 	font-size: 13px; } .checkout-btn:hover, #next_btn:hover { 	background-color: #d58508; } .ow-step-nav { 	cursor: pointer; 	color: #060E9F; 	font-weight: bold; 	text-align: center; 	display: flex; 	justify-content: center; } #image_column { 	position: relative; 	top: -290px; } .accordion__item .accordion__header { 	font-family: "Neutraface 2 Text"; 	font-weight: 700; 	border-style: solid; 	border-width: 0px 0px 1px; 	padding: 20px 15px; 	color: #051699; 	background: #fff; 	box-shadow: 0px 0px 11px 1px #cdcaca54; 	margin-bottom: 15px; 	max-width: 500px; 	margin-left: 28px; } .accordion__arrow { 	transition: all 0.2s ease 0s; 	transform: rotate(90deg); } .accordion__item >.pf-wrapper-content { 	background: #fff; 	box-shadow: 0px 0px 11px 1px #cdcaca54; 	max-width: 500px; 	margin-left: 28px; 	margin-top: -15px; } .cbrLgP>span:last-child { 	padding: 10px; } .jHjrlE { 	padding-top: 0px; 	padding-bottom: 20px; } .accordion__item { 	margin-bottom: 20px; } #bottom-fix-bar { 	left: 0; 	width: 100%; 	z-index: 99999; 	background-color: #A4A3A2; 	text-align: center; 	height: 80px; 	position: fixed; } .item-name h3 { 	font-family: "Neutraface 2 Text"; 	color: #fff; 	font-size: 17px; 	position: absolute; 	top: -20px; 	left: 110px; 	width: max-content; } .item-name h2 { 	font-family: "Neutraface 2 Text"; 	color: #fff; 	font-size: 22px; 	position: absolute; 	top: -42px; 	width: max-content; 	text-align: left; 	left: 110px; } div.bottom_info { 	display: inline-block; } .item-image { 	position: absolute; 	left: 25px; 	top: -54px; 	width: 60px; 	height: 60px; } .step_2_text { 	font-family: "Neutraface 2 Text"; 	position: relative; 	top: -200px; } .sc-ptSuy.fnmilh.pf-fc1f7921 { 	padding: 10px 16px; 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } .sc-ptSuy.fnmilh.pf-8a7268d0 { 	margin: 0px -10px; 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } .ow-step-text.ow-step-1-text { 	position: relative; 	top: 20px; 	margin-bottom: -80px; } .ow-step-text.ow-step-2-text { 	position: relative; 	top: -10px; 	margin-bottom: -50px; 	justify-content: center; 	font-family: "Neutraface 2 Text"; } .ow-step-text.ow-step-3-text.listitem3 { 	position: relative; 	top: -50px; 	margin-bottom: -50px; } .item-plan h3 { 	font-family: "Neutraface 2 Text"; 	font-size: 17px; 	color: #fff; 	text-transform: capitalize; 	border-left: 1px solid white; 	padding-left: 15px; 	position: absolute; 	top: -35px; 	left: 310px; 	line-height: 17px; 	text-align: left; 	width: max-content; } .item-plan h4 { 	font-family: "Neutraface 2 Text"; 	font-size: 14px; 	color: #fff; 	text-transform: capitalize; 	border-left: 1px solid white; 	padding-left: 15px; 	position: absolute; 	top: -18px; 	left: 310px; 	line-height: 17px; 	text-align: left; 	width: max-content; } .item-plan { 	list-style-type: none; } .fixbar_item2, .fixbar_item3 { 	display: none; } .description_block { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; 	border: 1px solid #DADADA; 	padding: 25px; } .accordion__content { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } #text_row_main { 	position: relative; 	top: -260px; } .sc-oTLFK.lcHmGL.pf-f0a9717b { 	margin-top: -30px; } .number_header { 	font-family: "Neutraface 2 Text"; 	position: relative; 	top: 0px; 	text-align: center; 	color: #051699; } #select_h2 { 	font-family: "Neutraface 2 Text"; } .sc-ptSuy.fnmilh.pf-79838b45 { 	font-family: "Neutraface 2 Text"; } .select2_h2 { 	font-family: "Neutraface 2 Text"; } @media only screen and (min-width: 414px) and (max-width: 767px) { } @media only screen and (max-width: 767px) { 	.pf-p-variant-radio label::after { 	width: max-content !important; 	font-size: 9px !important; 	padding-left: 7px; } #step_three_text { 	position: relative; 	top: 10px !important; } #accordions { 	display: none; } .sc-pZopv.bjKdkd.pf-acd57508.listitem2 { 	margin-top: -60px; } .pf-p-variant.listitem3>.pf-p-variant-radio>div { 	width: 50%; 	margin: 0px !important; } .pf-p-variant.listitem3>.pf-p-variant-radio { 	width: 100%; } .cbrLgP>span:last-child { 	padding: 10px 8px !important; } .my_modal { 	margin-left: -120px !important; 	max-width: 250px !important; } .sc-pbYdQ.jklmHY.pf-c.pf-c-xs--12.pf-c-sm--4.pf-c-md--4.pf-c-lg--4 { 	max-width: 33%; } .line_number { 	left: 0%; } .ow-step-nav-three>.line_number::before { 	display: block; 	width: auto; 	min-width: 96px; } .ow-step-nav-two>.line_number::before { 	display: block; 	width: auto; 	min-width: 95px; } #ow-step-1>.line_number::before { 	display: block; 	width: auto; 	min-width: 112px; } .number_header { 	top: -23px; 	position: relative; 	font-size: 10px; 	text-align: center; 	color: #051699; } .ow-step-nav { 	display: inline-block; } .homeSliderNav>.slick-list>.slick-track>.slick-slide>img { 	border-radius: 50%; 	overflow: hidden; 	margin: 0 auto; 	object-fit: cover; 	width: 35px; 	height: 35px; 	margin-bottom: 15px; 	outline: none; 	cursor: pointer; } .homeSliderNav>.slick-list>.slick-track>.slick-slide.slick-current { 	border: 1px solid #041491; 	border-radius: 50%; 	width: 35px !important; 	height: 36px !important; 	margin-bottom: 15px; } .homeSliderNav>.slick-list>.slick-track>.slick-slide { 	width: 35px !important; } .tooltip_info { 	position: relative; 	top: -45px; 	left: 135px; } .homeSliderNav { 	position: absolute; 	top: -20px; 	left: 20px; } #select_h2 { 	font-family: "Neutraface 2 Text"; 	margin-top: -20px; } .main_slider { 	margin-top: -40px; } [tooltip]:not([flow])::after, [tooltip][flow^="up"]::after { 	bottom: calc(100% + 105px); } [tooltip]:not([flow])::before, [tooltip]:not([flow])::after, [tooltip][flow^="up"]::before, [tooltip][flow^="up"]::after { 	left: 12px; 	transform: translate(-50%, -0.5em); } [tooltip]:not([flow])::before, [tooltip][flow^="up"]::before { 	bottom: -230%; 	border-bottom-width: 110px; 	border-top-color: #fff; 	margin-left: 7px; 	padding: 2px 1px; } .sc-pkfPC.jHjrlE.pf-68f8ca00 { 	display: none; } label[for="pf-v-4682089594959-001"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-001"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-011"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-011"]::after { 	top: 70px; 	left: -12px; 	font-size: 10px; 	width: 84px; } label[for="pf-v-4682089594959-021"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-021"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-031"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-031"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-041"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-041"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-051"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-051"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-061"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-061"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-071"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-071"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } .dTFuTq .pf-p-variant-radio { 	width: 400px; 	margin-left: 5px; } .pf-p-variant-radio div { 	margin: 15px 15px 40px 15px !important; } #text_row_main { 	position: relative; 	top: -70px !important; } #checkbox_row { 	position: relative; 	top: -70px; } .sc-ptSuy.fnmilh.pf-8a7268d0 { 	margin: 0px; } label[for="pf-v-4682089594959-102"], label[for="pf-v-4682089594959-112"] { 	left: 0px; 	position: absolute; } label[for="pf-v-4682089594959-102"] { 	position: relative; 	top: -205px; } label[for="pf-v-4682089594959-112"] { 	position: relative; 	top: -225px; } .listitem2 > .pf-p-variant-radio div { 	margin: 0px !important; } label[for="pf-v-4682089594959-102"]::after { 	font-size: 12px; } label[for="pf-v-4682089594959-112"]::after { 	font-size: 12px; } .sc-pkvvt.cbrLgP.pf-797e8a72 { 	width: 50%; 	position: relative; 	top: 20px; } .sc-pkvvt.cbrLgP.pf-68d0fc1f { 	width: 50%; 	position: relative; 	left: 50%; 	top: -197px; } .step_2_text { 	position: relative; 	top: -250px; 	margin-bottom: -350px; } .ow-step-text.ow-step-2-text.listitem2 { 	justify-content: center; } .pf-p-variant.listitem2>.pf-p-variant-radio { 	top: 35px; } #image_column { 	position: absolute; 	top: -370px; 	left: 0px; } label[for="pf-v-4682089594959-213"]::after { 	content: 'SINGLE PLAN'; 	color: #060E9F; 	font-size: 10px; 	position: relative; 	padding: 0px; } label[for="pf-v-4682089594959-203"]::after { 	content: 'SUBSCRIBE & SAVE (33%)'; 	color: #060E9F; 	font-size: 10px; 	position: relative; 	padding: 0px; } .sum_text { 	width: 301px; 	font-size: 13px !important; } .tab-panels { 	position: relative; 	top: 93px; } .sc-qZtVr.dLIPjF.pf-217cf1f0.pf-img-loaded { 	width: 320px; } .pf-p-variant.listitem3 { 	position: relative; 	top: 90px; } .ow-step-text.ow-step-3-text.listitem3 { 	position: relative; 	top: -75px; 	margin-bottom: -50px; } .sc-pkUyL.fTyjzF.pf-7cf1f0a9 { 	position: relative; 	top: 10px; } .sc-oTLFK.lcHmGL.pf-f0a9717b { 	margin-top: 0px; } .line_number { 	font-size: 16px; 	line-height: 28px; } .sc-pkUyL.fTyjzF.pf-7da853b9 { 	position: relative; 	top: 70px; } #add-to-cart-button { 	display: none; 	outline: none; 	color: #FFFFFF; 	background-color: #217241; 	border: none; 	box-shadow: none; 	font-size: 16px; 	font-weight: 500; 	line-height: 17px; 	padding: 20px 50px; 	letter-spacing: 4px; 	margin: -40px 0px -10px 0px; 	height: auto; 	border-radius: 0px; 	white-space: nowrap; 	text-align: center; 	left: 50%; } .item-name h2 { 	color: #fff; 	font-size: 14px; 	position: absolute; 	top: -10px; 	width: max-content; 	text-align: left; 	left: 100px; } .item-name h3 { 	color: #fff; 	font-size: 11px; 	position: absolute; 	top: 9px; 	left: 100px; 	width: max-content;   white-space: nowrap; } .item-plan h3 { 	font-size: 11px; 	color: #fff; 	text-transform: capitalize; 	border-left: 1px solid white; 	padding-left: 15px; 	position: absolute; 	left: 225px; 	line-height: 17px; 	text-align: left; 	width: max-content; 	top: -11px;   white-space: nowrap; } .item-plan h4 { 	font-size: 11px; 	color: #fff; 	text-transform: capitalize; 	border-left: 1px solid white; 	padding-left: 15px; 	position: absolute; 	top: 6px; 	left: 225px; 	line-height: 17px; 	text-align: left; 	width: max-content;   white-space: nowrap; } .next-buttons { 	margin-left: 75px !important; 	top: -48px !important; 	height: 50px; } .checkout-btn { 	margin-left: 75px !important; 	top: -48px !important; 	height: 50px; 	white-space: nowrap; } .mobile_hide { 	display: none; } div.bottom_info { 	display: inline-block; 	text-align: center; 	/* margin-left: -15px; 	*/ 		position: relative; 	left: -25px; } .item-image { 	top: -20px; } .item-name { 	margin-bottom: 16px; } #fixed_bar  { 	max-height: 121px !important; } .sc-qPjXN.eYzxUD.pf-c0aa1b29.pf-r.pf-r-eh { 	margin-top: 40px; } span.tooltip_2[tooltip] { 	left: -143px; } .tooltip_info_2 { 	position: relative; 	top: 3px; 	left: 148px; } .tooltip_2::before { 	bottom: -56% !important; 	border-bottom-width: 38px !important; 	border-top-color: #fff !important; 	left: 20px !important; } .tg .tg-33wd, .tg .tg-j28k { 	font-size: 18px !important; 	line-height: 18px !important; } } /*tablet*/ @media only screen and (min-width: 768px) and (max-width: 1024px) { 	#step_three_text { 	margin-top: -60px; } .select2_h2 { 	margin: 20px 0px 35px 0px; } #variation_column { 	margin-top: -45px; } #checkbox_row { 	position: relative; 	top: -39px; } #accordions { 	display: none; } .sc-pkUyL.fTyjzF.pf-29947983 { 	margin-top: -45px; } #add-to-cart-button { 	display: none; 	outline: none; 	color: #FFFFFF; 	background-color: #217241; 	border: none; 	box-shadow: none; 	font-size: 16px; 	font-weight: 500; 	line-height: 17px; 	padding: 17px 33px; 	letter-spacing: 4px; 	margin: -39px 0px 0px 150px; 	height: auto; 	border-radius: 0px; 	white-space: nowrap; } .sc-pbYdQ.jklmHY.pf-c.pf-c-xs--12.pf-c-sm--4.pf-c-md--4.pf-c-lg--4 { 	max-width: 33%; } .line_number { 	left: 0%; } .ow-step-nav-three>.line_number::before { 	display: block; 	width: auto; 	min-width: 226px; } .ow-step-nav-two>.line_number::before { 	display: block; 	width: auto; 	min-width: 227px; } #ow-step-1>.line_number::before { 	display: block; 	width: auto; 	min-width: 112px; } .number_header { 	top: -23px; 	position: relative; 	font-size: 10px; 	text-align: center; 	color: #051699; } .ow-step-nav { 	display: inline-block; } .homeSliderNav>.slick-list>.slick-track>.slick-slide>img { 	border-radius: 50%; 	overflow: hidden; 	margin: 0 auto; 	object-fit: cover; 	width: 35px; 	height: 35px; 	margin-bottom: 15px; 	outline: none; 	cursor: pointer; } .homeSliderNav>.slick-list>.slick-track>.slick-slide.slick-current { 	border: 1px solid #041491; 	border-radius: 50%; 	width: 35px !important; 	height: 36px !important; 	margin-bottom: 15px; } .homeSliderNav>.slick-list>.slick-track>.slick-slide { 	width: 35px !important; } .sc-pkUyL.fTyjzF.pf-f1a88508 { 	position: relative; 	top: -50px; } .tooltip_info { 	position: relative; 	top: -67px; 	left: 155px; } .homeSliderNav { 	position: absolute; 	top: -20px; 	left: 20px; } #select_h2 { 	margin-top: -20px; 	margin-bottom: 40px; } .main_slider { 	margin-top: -40px; } [tooltip]:not([flow])::after, [tooltip][flow^="up"]::after { 	bottom: calc(100% + 105px); } [tooltip]:not([flow])::before, [tooltip]:not([flow])::after, [tooltip][flow^="up"]::before, [tooltip][flow^="up"]::after { 	left: 8px; 	transform: translate(-50%, -0.5em); } [tooltip]:not([flow])::before, [tooltip][flow^="up"]::before { 	bottom: -230%; 	border-bottom-width: 110px; 	border-top-color: #fff; 	margin-left: 7px; 	padding: 2px 1px; } .sc-pkfPC.jHjrlE.pf-68f8ca00 { 	display: none; } label[for="pf-v-4682089594959-001"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-001"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-011"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-011"]::after { 	top: 70px; 	left: -12px; 	font-size: 10px; 	width: 84px; } label[for="pf-v-4682089594959-021"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-021"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-031"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-031"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-041"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-041"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-051"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-051"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-061"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-061"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-071"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-071"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } .dTFuTq .pf-p-variant-radio { 	width: 400px; 	margin-left: 5px; } .pf-p-variant-radio div { 	margin-right: 31px !important; 	margin-bottom: 50px; } .sc-pkvvt.cbrLgP.pf-797e8a72 { 	width: 100%; 	position: relative; 	left: 52px; 	top: -5px; } .sc-pkvvt.cbrLgP.pf-68d0fc1f { 	width: 100%; 	position: relative; 	left: 4px; 	top: -5px; } .step_2_text { 	position: relative; 	top: -250px; 	margin-bottom: -200px; } .ow-step-text.ow-step-2-text.listitem2 { 	justify-content: center; } .pf-p-variant.listitem2 > .pf-p-variant-radio { 	top: -120px; } label[for="pf-v-4682089594959-112"]::after, label[for="pf-v-4682089594959-102"]::after  { 	font-size: 13px; } #image_column { 	position: relative; 	top: -298px; } .sum_text { 	width: 300px; 	font-size: 13px !important; } .tab-panels { 	position: relative; 	top: -15px; } .sc-qZtVr.dLIPjF.pf-217cf1f0.pf-img-loaded { 	width: 320px; } .pf-p-variant.listitem3 { 	position: relative; 	top: -15px; } .ow-step-text.ow-step-3-text.listitem3 { 	position: relative; 	top: -75px; 	margin-bottom: -50px; } .sc-pkUyL.fTyjzF.pf-7cf1f0a9 { 	position: relative; 	top: -20px; } .sc-oTLFK.lcHmGL.pf-f0a9717b { 	margin-top: 0px; } .line_number { 	font-size: 16px; 	line-height: 28px; } .pf-p-variant.listitem2 { 	margin-top: 185px; } label[for="pf-v-4682089594959-203"]::after { 	content: 'SUBSCRIBE & SAVE (33%)'; 	color: #060E9F; 	font-size: 13px; 	position: relative; } label[for="pf-v-4682089594959-213"]::after { 	content: 'SINGLE PLAN'; 	color: #060E9F; 	font-size: 13px; 	position: relative; } .sc-pkUyL.fTyjzF.pf-7da853b9 { 	position: relative; 	top: 20px; } .checkout-btn { 	padding: 19px 33px !important; 	margin: 2px 0px 0px 152px !important; 	height: 50px; } .next-buttons { 	padding: 20px 66px !important; 	margin: 2px 0px 0px 152px !important; 	height: 50px; } .sc-qPjXN.eYzxUD.pf-c0aa1b29.pf-r.pf-r-eh { 	margin-top: 40px; } } .checkout-btn { 	color: #FFFFFF; 	font-family: "Neutraface 2 Text"; 	text-align: center; 	font-size: 19px; 	font-weight: 500; 	background-color: #217241 !important; 	display: inline-block; 	border: none; 	box-shadow: none; 	font-size: 17px; 	font-weight: 500; 	line-height: 15px; 	padding: 19px 52px; 	letter-spacing: 4px; 	margin: 2px 0px 0px 89px; 	position: absolute; 	top: -17px; 	border-radius: 0px !important; 	white-space: nowrap; } .next-buttons { 	outline: none; 	color: #FFFFFF; 	background-color: #041491; 	display: inline-block; 	border: none; 	box-shadow: none; 	font-size: 17px; 	font-weight: 500; 	line-height: 15px; 	padding: 20px 86px; 	letter-spacing: 4px; 	margin: 2px 0px 0px 89px; 	position: absolute; 	top: -17px; } #add-to-cart-otp, #add-to-cart-subscribe, #next_btn_second { 	display: none; } #fixed_bar { 	background-color: #c5c5c9; 	max-height: 81px; } /*popup*/ .my_modal { 	background: #FFF; 	width: auto; 	max-width: 600px; 	height: auto; 	text-align: center; 	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 	position: fixed; 	top: 20%; 	margin-top: -50px; 	left: 50%; 	margin-left: -100px; 	line-height: 25px; 	z-index: 99; 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } .my_modal-bg { 	background: #FFF; 	zoom: 1; 	opacity: 0.4; 	filter: alpha(opacity=80); 	position: fixed; 	top: -25px; 	bottom: 0; 	left: 0; 	right: 0; 	z-index: 9; } a.close { 	position: absolute; 	top: 0px; 	right: 5px; 	color: black } .modal_text { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; 	position: relative; 	top: 30%; 	padding: 17px 10px 0px 10px } .sc-pkUyL.fTyjzF.pf-7cf1f0a9 { 	margin-top: -40px; } .kCAYOZ .pf-slider-pagination.pagination-style-2 li.active { 	z-index: 999 !important; } .listitem2 { 	display: none; } .step_two_tab { 	border: 2px solid #f0f0f0; 	padding: 30px; } .step_two_tab h3 { 	font-family: "Neutraface 2 Text"; 	font-size: 23px; 	font-weight: 500; 	color: black; } .step_two_tab p { 	font-family: "Neutraface 2 Text Light"; 	font-size: 16px; 	color: #000000; 	opacity: 0.8; 	text-align: left; 	font-weight: 600; 	font-style: italic; } .step_two_tab li { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; 	font-size: 18px; 	color: #000000; 	text-align: left; 	list-style-type: disc; } .step_two_tab li::marker { 	color: #051699; 	font-size: 1em; } .step_two_tab ul { 	margin-left: 23px; } .listitem2 .pf-p-variant-radio div { 	width: 100%; } .listitem3 .pf-p-variant-radio div { 	width: 50%; } .listitem3 .pf-p-variant-radio { 	display: flex; 	flex-direction: row; 	top: 4px; 	position: relative; } #step_three_text { 	position: relative; 	top: -50px; } .shades_description { 	margin: 40px 25px; 	flex-direction: column; } .changing_color_text, h5 { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } .changing_color { 	font-family: "Neutraface 2 Text"; 	font-weight: bold; 	text-transform: uppercase; }</style> {% if product_4682089594959 == null %}{%- assign product_4682089594959 = all_products['new-foam-hair-dye-for-men'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4682089594959"] = {
					id: {{product_4682089594959.id | json }},
					handle: {{product_4682089594959.handle | json }},
					title: {{product_4682089594959.title | json }},
					type: {{product_4682089594959.type | json }},
					url: {{product_4682089594959.url | json }},
					vendor: {{product_4682089594959.vendor | json }},
					variants: {{product_4682089594959.variants | json }},
					options: {{product_4682089594959.options | json }},
					media: {{product_4682089594959.media | json }},
					first_available_variant: {{product_4682089594959.first_available_variant | json }},
					has_only_default_variant: {{product_4682089594959.has_only_default_variant | json }},
					options_with_values: {{product_4682089594959.options_with_values | json }},
					selected_variant: {{product_4682089594959.selected_variant | json }},
					selected_or_first_available_variant: {{product_4682089594959.selected_or_first_available_variant | json }},
					tags: {{product_4682089594959.tags | json }},
					template_suffix: {{product_4682089594959.template_suffix | json }},
					featured_image: {{product_4682089594959.featured_image | json }},
					featured_media: {{product_4682089594959.featured_media | json }},
					images: {{product_4682089594959.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-62410a35"><div data-pf-type="Layout" class="pf-4262410a"><div data-container="false" class="sc-pZopv bjKdkd pf-16ae4108" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-f116ae41 pf-r pf-r-align--cm" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:0px;" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-2df116ae" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-8ecd75f3"><div class="steps">
  <div class="steps-line" style="width:100%;">
    <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
    </div>
    </div>
  </div>
  <ul class="points" style="width:70%;text-align: center">
    <li id="ow-step-1" class="tab-current" style="width:33.33%;">
	  <div class="point_text"> <span class="mobile_hide">Select</span> Shade</div>
	  <div class="point_one point_number">1</div>
	</li>
	<li id="ow-step-2" class="" style="width:33.33%;">
	  <div class="point_text"> <span class="mobile_hide">Select</span> Intensity</div>
	  <div class="point_two point_number">2</div>
	</li>
	<li id="ow-step-3" class="" style="width:33.33%;">
	  <div class="point_text"> <span class="mobile_hide">Select</span> Frequency</div>
	  <div class="point_three point_number">3</div>
	</li>
  </ul>
</div>
<style>
  .tab-current > .point_text {
    color: #051699;
}
  .tab-current > .point_number {
    color: #fff;
    background-color: #051699;
	border: 1px solid #051699;

}
 .point_text {
	font-family: "Neutraface 2 Text";
	font-size: 17px;
	margin-bottom: -20px;
	font-weight: bold;
}
.steps {
	position: relative;
	width: 100%;
	margin: 10px auto;
	padding: 0;
    display: flex;
    justify-content: center;
}

.steps-line {
	position: absolute;
	bottom: 10px;
}

ul.points {
	position: relative;
	width: 100%;
	background-color: transparent;
	color: #ccc;
	font-size: 12px;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	list-style: none;
}

ul.points > li {
    cursor: pointer;
    font-family: "Neutraface 2 Text";
	text-align: center;
	padding-bottom: 34px;
	display: inline-block;
    color: #ebebeb;
}

.point_one,.point_two, .point_three  {
	font-family: "Neutraface 2 Text";
	font-size: 17px;
	position: relative;
	top: 36px;
	border: 1px solid #ebebeb;
	height: 29px;
	width: 29px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 auto;
    color: #ebebeb;
}

.progress {
	height: 1px;
	margin-bottom: 2px;
	background-color: #ebebeb;
}

.progress-bar {
	background: #051699;
	border: 1px solid #051699;
  width: 26%;
}
</style>

</div><div class="sc-qPjXN eYzxUD pf-7b2df116 pf-r pf-r-eh pf-r-ew" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-cfe21c17" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-cd75f37b"><div class="ow-step-text ow-step-1-text heading_1">
            <h2 id="select_h2">Select Your Shade</h2>
  <span tooltip="True Sons custom shades are designed to look natural and subtle. Try to match your true hair color. Don’t go lighter. If you aren't sure, just select 'unknown' and one of our dye specialists will contact you to assist you in your selection.">
	<svg class="tooltip_info" width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="13.5" cy="14.5" r="12.5" stroke="#A7A7A7" stroke-width="2"></circle>
<path d="M11.5703 18.416C11.2656 18.416 11.0625 18.6445 11.0625 18.9238V20.1172C11.0625 20.4219 11.2656 20.625 11.5703 20.625H15.4297C15.709 20.625 15.9375 20.4219 15.9375 20.1172V18.9238C15.9375 18.6445 15.709 18.416 15.4297 18.416H14.9219V13.0078C14.9219 12.7285 14.6934 12.5 14.4141 12.5H11.5703C11.2656 12.5 11.0625 12.7285 11.0625 13.0078V14.2266C11.0625 14.5059 11.2656 14.7344 11.5703 14.7344H12.0781V18.416H11.5703ZM13.5 7.625C12.4844 7.625 11.6719 8.46289 11.6719 9.45312C11.6719 10.4688 12.4844 11.2812 13.5 11.2812C14.4902 11.2812 15.3281 10.4688 15.3281 9.45312C15.3281 8.46289 14.4902 7.625 13.5 7.625Z" fill="#A6A6A6"></path>
</svg></span>
            
          </div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-75f37b2d"><div class="ow-step-text ow-step-2-text listitem2">
            <h2 id="select_h2">Select Your Intensity</h2>
            
          </div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-f37b2df1"><div class="ow-step-text ow-step-3-text listitem3">
            <h2 class="select2_h2">Choose Your Frequency<span class="tooltip_2" tooltip="The average guy needs one multi-use bottle of True Sons per month and applies True Sons every 7-14 days. We offer two membership plans: a single plan so you can get the dye as you need it and a recurring plan to save the environment and your wallet."><svg class="tooltip_info_2" width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="13.5" cy="14.5" r="12.5" stroke="#A7A7A7" stroke-width="2"></circle>
<path d="M11.5703 18.416C11.2656 18.416 11.0625 18.6445 11.0625 18.9238V20.1172C11.0625 20.4219 11.2656 20.625 11.5703 20.625H15.4297C15.709 20.625 15.9375 20.4219 15.9375 20.1172V18.9238C15.9375 18.6445 15.709 18.416 15.4297 18.416H14.9219V13.0078C14.9219 12.7285 14.6934 12.5 14.4141 12.5H11.5703C11.2656 12.5 11.0625 12.7285 11.0625 13.0078V14.2266C11.0625 14.5059 11.2656 14.7344 11.5703 14.7344H12.0781V18.416H11.5703ZM13.5 7.625C12.4844 7.625 11.6719 8.46289 11.6719 9.45312C11.6719 10.4688 12.4844 11.2812 13.5 11.2812C14.4902 11.2812 15.3281 10.4688 15.3281 9.45312C15.3281 8.46289 14.4902 7.625 13.5 7.625Z" fill="#A6A6A6"></path>
</svg></span></h2>       
          </div></div></div></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-0e04ad9d listitem2" data-pf-type="Section"><div style="max-width: 1170px;" class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-550e04ad pf-r pf-r-eh" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;" id="checkbox_row" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-41083a55" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-a63bd3c1--2025Minutes-12.png?v=1592428466 1200w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-a63bd3c1--2025Minutes-12_800x470.png?v=1592428466&resized 800w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-a63bd3c1--2025Minutes-12_400x235.png?v=1592428466&resized 400w" class="sc-qZtVr dLIPjF pf-ae41083a" data-pf-type="Image2"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-3a550e04 step_two_tab" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-083a550e"><h3>Add a booster</h3>
<p>Do you have more than 50% white / gray hair,<br> coarse beard hair or want deeper coverage?</p>
<ul>
  <li>Deliver high-intensity results in 5 minutes</li>
  <li>Requiers mixing</li>
</ul></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-9d5d7a86" data-pf-type="Section"><div style="max-width: 1170px;" class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-6848e80d pf-r pf-r-eh" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-ad9d83db" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-04ad9d83"><div class="container main_slider">
  <div class="row">
    <div class="col-sm-6">
      <div class="homeSlider">
        <div class="active item">
          <img class="img1" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9137_1_1.jpg?v=1583267993">
        </div>
        <div class="item">
          <img class="img2" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9032_1.jpg?v=1583268012">
        </div>
        <div class="item">
          <img class="img3" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9036_1.jpg?v=1583268023">
        </div>
        <div class="item">
          <img class="img4" src="https://cdn.shopify.com/s/files/1/1600/5339/files/11111_e310c7d3-37e5-4a89-a928-2feef40a1741.jpg?v=1583269081">
        </div>
      </div>
      <div class="homeSliderNav">
        <div>
          <img class="img1" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9137_1_1.jpg?v=1583267993">
        </div>
        <div>
          <img class="img2" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9032_1.jpg?v=1583268012">
        </div>
        <div>
          <img class="img3" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9036_1.jpg?v=1583268023">
        </div>
        <div>
          <img class="img4" src="https://cdn.shopify.com/s/files/1/1600/5339/files/11111_e310c7d3-37e5-4a89-a928-2feef40a1741.jpg?v=1583269081">
        </div>
      </div>
    </div>
  </div>
</div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-286848e8" id="variation_column" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-f87ef94e listitem1"><a data-color="inherit" data-popup-content="shopify" data-src="https://truesons.com/pages/video-main-popup" href="#" data-action="modal" data-width="775px" data-height="578px" data-popup-animation="fadeIn"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-83db1d28">Having trouble choosing your shade? Watch this video.</span></a></h3><div data-product-id="4682089594959" data-display="radio" style="--pf-s-lg:100px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-db1d2868"><input data-productid="4682089594959" name="id" class="pf-input-variant-4682089594959" type="hidden" value="{{ product.variants.first.id }}"></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-1d286848"><div class="tab-panels listitem3">
      <section class="tab-panel tab_1 show">
                <div id="Bi-Monthly" data-group="51167" data-freq="2" class="pickplan ow-step-freq-single ow-step-freq-two ow-freq-selected" data-freq-type="2" data-freq-text="SUBSCRIBE & SAVE <br> 2 bottles recurring" data-price="59.9">
                  <div class="selected"></div>
                  <p class="price_text">2 bottles recurring</p>
                  <p style="text-align: left;"><span class="price_number">$30 </span><em>(per bottle)</em> </p>  
                  <p class="sum_text">$59.99 per order. We ship 2 bottles every other month.</p>      
                </div>
      </section>
      <section class="tab-panel tab_2">
                <div id="onetime" data-group="51167" data-freq="1" class="pickplan ow-step-freq-single ow-step-freq-two" data-freq-type="2" data-freq-text="SINGLE PLAN <br> 2 bottles one-time purchase" data-price="89.9">
                  <div class="selected"></div>
                  <p class="price_text">2 bottles one-time purchase</p>
                  <p style="text-align: left;"><span class="price_number">$45 </span><em>(per bottle)</em></p> 
                  <p class="sum_text">$89.99. We ship 2 bottles in your order.</p>         
                  </div>
      </section>
    
    </div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-b09d5d7a pf-r pf-r-eh listitem1" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;" id="text_row_main" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-6a2122f0" id="accordions" data-pf-type="Column"><div data-pf-scrolltop="false" data-multiple="false" data-pf-type="Accordion2" class="sc-pkfPC jHjrlE pf-beca8daa"><div class="sc-pJipy mZVAk pf-493347b0 accordion__item" data-pf-type="Accordion2.Content.Wrapper"><button type="button" class="sc-pBlxj gYSgcm pf-315910e6 accordion__header pf-anchor" data-header-id="5910e6e5-1140-47cd-b401-212a961ebeca" data-action="accordion2" data-preopen="false" data-active="false" data-pf-type="Accordion.Header"><i class="icon_position accordion__arrow fa fa-chevron-right"></i>Instructions + More Information</button><div class="sc-qYUWV exYsxy pf-02493347 accordion__content" mode="view" data-id="5910e6e5-1140-47cd-b401-212a961ebeca" style="display: none;" data-pf-type="Accordion2.Content"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-78024933"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0d780249">True Sons is a subtle hair dye designed to boost your natural color. Do a patch test before using True Sons or any other hair dye.You can change your shade up to one week before your next order ships. Contact support@truesons.com</span></p></div></div><div class="sc-pJipy mZVAk pf-716a2122 accordion__item" data-pf-type="Accordion2.Content.Wrapper"><button type="button" class="sc-pBlxj gYSgcm pf-cdb40121 accordion__header pf-anchor" data-header-id="b401212a-961e-4eca-8daa-920cf87fa070" data-action="accordion2" data-preopen="false" data-active="false" data-pf-type="Accordion.Header"><i class="icon_position accordion__arrow fa fa-chevron-right"></i>Ingredients</button><div class="sc-qYUWV exYsxy pf-11716a21 accordion__content" mode="view" data-id="b401212a-961e-4eca-8daa-920cf87fa070" style="display: none;" data-pf-type="Accordion2.Content"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-2c11716a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b02c1171">Water (Aqua), Ethanolamine, Isobutane, Toluene-2,5-diamine Sulfate, Resorcinol, Emulsifying Wax Nf, N, N Bis(2-hydroxyethyl)-P-Phenylenediamine Sulfate, Glycolstearate, Sodium Cocoyl Isethionate, Sd Alcohol 40 (Alcohol Denat.), Propane, Sodium Laureth Sulfate, Fragrance, Sodium Lauryl Sulfate, M-aminophenol, Tetrasodium Edta, P-aminophenol, Ascorbic Acid, 2,4 Diaminophenoxyethanol HCl, 2-methylresorcinol.</span></p></div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-644591b0" id="first_step_text" data-pf-type="Column"><h3 id="popup" data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-0cf87fa0"><a data-color="inherit" data-popup-content="shopify" data-src="https://truesons.com/pages/how-true-sons-is-different" href="#" data-action="modal" data-width="940px" data-height="510px" data-popup-animation="fadeIn"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-22f06445">How True Sons is Different</span></a></h3><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-c97f07fc"><div class="shades_description listitem1">
 <h5>
  Your selection is <span class="changing_color">DARK BROWN</span>
</h5>
<p class="changing_color_text">
  The Dark Brown shade is used by the largest number of guys. Light skin and very dark hair? Most caucasian men find this to be the darkest shade that they need.
</p> 
</div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-f0644591"><div class="description_block">
            <p>True Sons custom shades are designed to look natural. Try to match your true hair color.  If you aren't sure, just select <b>'IDK my shade'</b> and one of our dye specialists will contact you to assist you in your selection.</p> 

            </div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-91b09d5d" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-4591b09d"><!--Sale Popup-->
            
            <div class="my_modal" style="display: none;">
	<p class="modal_text"><em>True Black is on backorder due to incredible demand. We encourage you to purchase Brown Black instead. <br>
     </em></p>
              <p style="padding:0px 10px"><em>
                Willing to wait a little longer?<b> Subscribe today </b>and get 20% off your first order of True Black. <br>Estimated ship date: July 2020. </em></p>
	<a href="#" class="close">✕</a>
</div>
<div class="my_modal-bg" style="display: none;"></div>
            
       <!--End Sale Popup--></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-2f294814 listitem3" id="" data-pf-type="Section"><div style="max-width: 1170px;" class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-3f2f2948 pf-r pf-r-eh" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-1389c744" id="image_column" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-743b7496--laststepimg.jpg?v=1592135370 1200w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-743b7496--laststepimg.jpg?v=1592135370 800w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-743b7496--laststepimg_400x245.jpg?v=1592135370&resized 400w" class="sc-qZtVr dLIPjF pf-5d7a8660" data-pf-type="Image2"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-ff3f2f29" id="step_three_text" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-5d84f3b8"><a data-color="inherit" data-popup-content="shopify" data-src="https://truesons.com/pages/how-our-cost-compares-to-drug" href="#" data-action="modal" data-width="854px" data-height="550px"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8660ff3f">How our cost compares to drug store dyes</span></a></h3><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-60ff3f2f"><div class="ow-step-text ow-step-2-text-bottom step_3_bottom_text">
            <p>
              <strong>FREE CONSULTATION</strong> Every customer also gets a free 15-minute live video chat consult with our specialists so you’ll feel super-comfortable using the product. After you order you will receive an email to schedule your complimentary meeting.<br>
              <strong>SATISFACTION GUARANTEE</strong> If you’re not satisfied with your dye choice, we’ll let you keep your original order — and replace it with a shade of your choice!<br>
              <strong>NO OBLIGATION</strong> You can cancel at anytime.
            </p>        
          </div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-7c66ea4c" id="fixed_bar" data-pf-type="Section"><div style="max-width: 1170px;" class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-73426241 pf-r pf-r-align--lm" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:13.5px;" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-4814aed2" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-294814ae"><div class="bottom_info">
  <div class="item-image"><img src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown.png?v=1590161830" alt="" title="">   </div>
  <div class="item-name">
	  <h2>DARK BROWN</h2>
	  <h3 class="fixbar_item2">ORIGINAL FORMULA</h3>
   </div>
  <div class="item-plan fixbar_item3">
            <h3>SUBSCRIBE & SAVE</h3>
            <h4>2 bottles recurring</h4>
   </div>
</div>
</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--2 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-14aed25b" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-68734262" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-aed25b19"><button id="next_btn_first" type="button" class="next-buttons">NEXT</button></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-d25b19b2"><button data-product-id="4682089594959" id="add-to-cart-subscribe" class="sc-pcjuG uJAsR pf-2f101618 checkout-btn" type="button" onclick="subscribe(event)"><span>Add To Cart</span></button></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-5b19b268"><button id="next_btn_second" type="button" class="next-buttons">NEXT</button></div><button data-product-id="4682089594959" data-checkout="checkout" class="sc-pcjuG uJAsR pf-2b31b36f checkout-btn" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" id="add-to-cart-otp" data-pf-type="ProductATC"><span>Add To Cart</span></button></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.12.2","shopDomain":"true-sons-tl.myshopify.com","elementData":{},"pageTitle":"Get started - Edited Second Step","pageType":"page","pageId":"96b10fea-3da5-4fe2-9c17-8cf295e53fa9","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":false,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.12.2/core/helper.js?t=20200630000645" defer></script><script>/*setTimeout(function () {
	var sticky = document.getElementById("bottom-fix-bar");
	var fixedPosition = $(window).innerHeight() - $(sticky).innerHeight();
	$(sticky).css("top", fixedPosition);
  }, 100);*/
  
  jQuery (document).ready(function () {
  
  
    setTimeout(() => {
      //sections
      jQuery(document).find('.pf-p-variant:nth-child(1)').addClass("listitem1");
      jQuery(document).find('.pf-p-variant:nth-child(2)').addClass("listitem2");
      jQuery(document).find('.pf-p-variant:nth-child(3)').addClass("listitem3");
      
      //tabs
      jQuery('label[for="pf-v-4682089594959-203"]').click(
        function() {
      jQuery(document).find('.tab_1').addClass("show");
      jQuery(document).find('.tab_2').removeClass("show");
      });
      jQuery('label[for="pf-v-4682089594959-213"]').click(
        function() {
      jQuery(document).find('.tab_2').addClass("show");
      jQuery(document).find('.tab_1').removeClass("show");
      });
      
       //bottom bar info step 1
    jQuery('input:radio[name=Color]').click(function() {
      
     var newhtml = jQuery('input:radio[name=Color]:checked').val();
     var h2 = jQuery(document).find('.item-name h2');
     var img = jQuery(document).find('.item-image img');
      
     jQuery(h2).text(newhtml);
      
      switch  (newhtml) {	 
          
      case 'Dark Brown':
        img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown.png?v=1590161830");
         break;
          
      case 'Medium Brown': 
        img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown_53ee8f49-46b2-4ee2-8662-7ff0fa8541e5.png?v=1590162132");
      break;
          
      case 'Dirty Blond':
          img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/dirty_blond.png?v=1590162213");
      break;
          
      case 'Auburn':
          img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/auburn_2f491543-93a4-4229-aeac-432642e4ad6a.png?v=1590162593");
      break;
          
      case 'True Black':
          img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/trueblack.png?v=1590162863");
      break;
          
      case 'Light Brown':
          img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/lightbrown.png?v=1590162813");
      break;
          
      case 'Brown Black':
          img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/BrownBlack.png?v=1590163073");
      break;
          
      case 'IDK MY SHADE':
          img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/questionmark-dye_100x_e7d6b11f-335f-4be8-ad33-a06db772203c.png?v=1590163073");
      break;
    
        default:	
          img.attr("src","https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown.png?v=1590161830");
    
      }
      
    });
      
         //bottom bar info step 2
    jQuery('input:radio[name=Intensity]').click(function() {
      
     var newint = jQuery('input:radio[name=Intensity]:checked').val();
     var h3 = jQuery(document).find('.item-name h3');
       switch  (newint) {	 
          
      case 'Original Formula':
        h3.text('ORIGINAL FORMULA');
         break;
          
      case 'Dye Harder': 
        h3.text('DYE HARDER');
      break;
           default:	
       h3.text('ORIGINAL FORMULA');
      }
      });
      
       //bottom bar info step 3
    jQuery('input:radio[name=Frequency]').click(function() {
      
     var newfreq = jQuery('input:radio[name=Frequency]:checked').val();
     var h3freq = jQuery(document).find('.item-plan h3');
     var h4freq = jQuery(document).find('.item-plan h4');
      
       switch  (newfreq) {	 
          
      case '2':
        h3freq.text('SUBSCRIBE & SAVE');
        h4freq.text('2 bottles recurring');
         break;
          
      case 'One-Time': 
        h3freq.text('SINGLE PLAN ');
        h4freq.text('2 bottles one-time purchase');
      break;
           default:	
        h3freq.text('SUBSCRIBE & SAVE');
        h4freq.text('2 bottles recurring');
      }
      });
      
      
      //switch button
  jQuery('input:radio[name=Frequency]').click(function() {
      
     var newfreq = jQuery('input:radio[name=Frequency]:checked').val();
     var btnMultiple = jQuery(document).find('#add-to-cart-subscribe');
     var btnOnetime = jQuery(document).find('#add-to-cart-otp');
      
       switch  (newfreq) {	 
          
      case '2':
        btnMultiple.css("display", "block");
        btnOnetime.css("display", "none");
         break;
          
      case 'One-Time': 
        btnMultiple.css("display", "none");
        btnOnetime.css("display", "block");
      break;
           default:	
           btnMultiple.css("display", "block");
        btnOnetime.css("display", "none");
      }
  });
	  
	  //Shades Description 
	 jQuery('input:radio[name=Color]').click(function() {
		var shade = jQuery('.listitem1 div > input:checked').val();
	   var heading = jQuery('.changing_color');
	   var description = jQuery('.changing_color_text');
	   
	          switch  (shade) {	 
				 case 'Dark Brown': 
				  heading.text('Dark Brown');
				  description.text('The Dark Brown shade is used by the largest number of guys. Light skin and very dark hair? Most caucasian men find this to be the darkest shade that they need.');
			     break;
				 case 'Medium Brown': 
				  heading.text('Medium Brown');
				  description.text('The Medium Brown is a mix of cool earth tones for guys who have rich, milk-chocolate tones. This shade is a solid golden brown that isn’t too dark.');
				  break;
				  case 'Dirty Blond': 
				  heading.text('Dirty Blond');
				  description.text('The Dirty Blond shade will work equally well for surfers and vikings; we let you stay ‘dirty’ by allowing a mix of shades to show through. Started off blond and darkened with age? Consider Light Brown instead.');
				  break;
				  case 'Auburn': 
				  heading.text('Auburn');
				  description.text('The Auburn shade is perfect for fiery gingers, strawberry blondes, and everyone in between. This shade mixes warm reds and bright golds for a true-to-life auburn hue.');
				  break;
				  case 'Light Brown': 
				  heading.text('Light Brown');
				  description.text('The Light Brown shade accentuates the lighter blond tones of your hair while keeping the brown tones below looking natural and authentic. Perfect for anyone who rocked blond hair in their glory days.');
				  break;
				   case 'True Black': 
				  heading.text('True Black');
				  description.text('The True Black shade is best for dark-haired, Latin, Asian, Middle Eastern, Black, or Black Irish men. If you have any hints brown in your hair, go for Brown Black instead.');
				  break;
				   case 'Brown Black': 
				  heading.text('Brown Black');
				  description.text('If you have very dark hair, the Brown Black could be your shade. Look at your hair after spending time in the sun; if you can see even the faintest flecks of gold in your dark hair, you’re probably Brown Black, not True Black.');
				  break;
			      case 'IDK MY SHADE': 
				  heading.text('IDK MY SHADE');
				  description.text('Not sure of your shade? Send us a selfie and we’ll get you sorted');
				  break;
	 }
  });
       //Sale Popup
  
      jQuery('label[for="pf-v-4682089594959-041"]').click(function(){
          jQuery('.my_modal').show();
          jQuery('.my_modal-bg').show();
      });
      jQuery('.my_modal .close').click(function(){
          jQuery('.my_modal').hide();
          jQuery('.my_modal-bg').hide();
      })
  
      
    }, 1000);
      
        
    //slider
    
    jQuery ('.homeSlider').slick({
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.homeSliderNav',
      autoplay: true,
    });
    jQuery ('.homeSliderNav').slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      arrows: true,
      asNavFor: '.homeSlider',
      focusOnSelect: true,
      variableWidth: true,
      centerMode: true,
      centerPadding: '10px;', 
    });
    
       //next-btn
      
    jQuery('#next_btn_first').click(
      function() {
        jQuery('label[for="pf-v-4682089594959-102"]').css("display", "block");
            jQuery('label[for="pf-v-4682089594959-112"]').css("display", "block");
            jQuery('.listitem1').css("display", "none");
            jQuery('.heading_1').css("display", "none");
            jQuery('.main_slider').css("display", "none");
			jQuery('.listitem2').css("display", "flex");
			jQuery('.pf-p-variant.listitem2 > .pf-p-variant-radio').css("display", "flex");
            jQuery('.fixbar_item2').css("display", "block");
            jQuery("#ow-step-2").addClass( "tab-current" );
            jQuery('.progress-bar').css("width", "50%");
              jQuery('#next_btn_second').css("display", "block");
            jQuery('#add-to-cart-subscribe').css("display", "none");
              jQuery('#add-to-cart-otp').css("display", "none");
             jQuery('#next_btn_first').css("display", "none");
      });
      
      
    jQuery('#next_btn_second').click(
   function() {
        jQuery('label[for="pf-v-4682089594959-203"]').css("display", "block");
            jQuery('label[for="pf-v-4682089594959-213"]').css("display", "block");
            jQuery("#ow-step-3").addClass( "tab-current" );
			jQuery('.listitem2').css("display", "none");
			jQuery('.pf-p-variant.listitem2 > .pf-p-variant-radio').css("display", "none");
            jQuery('.listitem3').css("display", "block");
            jQuery('#add-to-cart-subscribe').css("display", "block");
              jQuery('#add-to-cart-otp').css("display", "none");
            jQuery('.fixbar_item3').css("display", "list-item");
            jQuery('#next_btn_first').css("display", "none");
               jQuery('#next_btn_second').css("display", "none");
            jQuery('.progress-bar').css("width", "100%");
      });
      
      //steps_line
       jQuery('#ow-step-1').click(
      function() {
            jQuery('.main_slider').css("display", "block");
            jQuery('.listitem1').css("display", "flex");
            jQuery('.heading_1').css("display", "block");
            jQuery('#text_row_main').css("top", "-157px");
            jQuery('label[for="pf-v-4682089594959-102"]').css("display", "none");
            jQuery('label[for="pf-v-4682089594959-112"]').css("display", "none");
            jQuery('.progress-bar').css("width", "26%");
            jQuery("#ow-step-2").removeClass( "tab-current" );
            jQuery("#ow-step-3").removeClass( "tab-current" );
            jQuery('label[for="pf-v-4682089594959-203"]').css("display", "none");
            jQuery('label[for="pf-v-4682089594959-213"]').css("display", "none");
            jQuery('.listitem2').css("display", "none");
            jQuery('.listitem3').css("display", "none");
            jQuery('#add-to-cart-subscribe').css("display", "none");
              jQuery('#add-to-cart-otp').css("display", "none");
            jQuery('#next_btn_first').css("display", "block");
            jQuery('#next_btn_second').css("display", "none");
      });
      
      jQuery('#ow-step-2').click(
      function() {
            jQuery('.main_slider').css("display", "none");
            jQuery('label[for="pf-v-4682089594959-102"]').css("display", "block");
            jQuery('label[for="pf-v-4682089594959-112"]').css("display", "block");
            jQuery('.listitem1').css("display", "none");
            jQuery('.heading_1').css("display", "none");
            jQuery('.progress-bar').css("width", "50%");
            jQuery("#ow-step-3").removeClass( "tab-current" );
            jQuery("#ow-step-2").addClass( "tab-current" );
            jQuery('label[for="pf-v-4682089594959-203"]').css("display", "none");
            jQuery('label[for="pf-v-4682089594959-213"]').css("display", "none");
			jQuery('.listitem2').css("display", "flex");
			jQuery('.pf-p-variant.listitem2 > .pf-p-variant-radio').css("display", "flex");
            jQuery('.listitem3').css("display", "none");
            jQuery('#add-to-cart-subscribe').css("display", "none");
              jQuery('#add-to-cart-otp').css("display", "none");
            jQuery('#next_btn_first').css("display", "none");
            jQuery('#next_btn_second').css("display", "block");
            jQuery('.fixbar_item2').css("display", "block");
      });
      
       jQuery('#ow-step-3').click(
      function() {
        jQuery('label[for="pf-v-4682089594959-102"]').css("display", "none");
            jQuery('label[for="pf-v-4682089594959-112"]').css("display", "none");
            jQuery('.listitem1').css("display", "none");
            jQuery('.heading_1').css("display", "none");
            jQuery('.main_slider').css("display", "none");
            jQuery('.progress-bar').css("width", "100%");
             jQuery("#ow-step-3").addClass( "tab-current" );
            jQuery("#ow-step-2").addClass( "tab-current" );
            jQuery('label[for="pf-v-4682089594959-203"]').css("display", "block");
            jQuery('label[for="pf-v-4682089594959-213"]').css("display", "block");
			jQuery('.listitem2').css("display", "none");
			jQuery('.pf-p-variant.listitem2 > .pf-p-variant-radio').css("display", "none");
            jQuery('.listitem3').css("display", "block");
            jQuery('#add-to-cart-subscribe').css("display", "block");
              jQuery('#add-to-cart-otp').css("display", "none");;
            jQuery('#next_btn_first').css("display", "none");
            jQuery('#next_btn_second').css("display", "none");
            jQuery('.fixbar_item3').css("display", "list-item");
    
      });
      
    });
  //end doc ready
  
    //change slider 
    
    window.onload = function () {
      var darkBrown = document.getElementById("pf-v-4682089594959-001");
        darkBrown.onclick = function() {
          darkBrown.classList.add("border_round");
            var a=document.getElementsByTagName("img");
    for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9137_1_1.jpg?v=1583267993";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9032_1.jpg?v=1583268012";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9036_1.jpg?v=1583268023";          
            }
        }
        }
      var mediumBrown = document.getElementById("pf-v-4682089594959-011");
        mediumBrown.onclick = function() {
                mediumBrown.classList.add("border_round");
            var a=document.getElementsByTagName("img");
    for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0562_2.jpg?v=1583267953";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0591_1.jpg?v=1583267967";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0598_1.png?v=1580940568";          
            }
        }
        }
      
        var dirtyBlond = document.getElementById("pf-v-4682089594959-021");
        dirtyBlond.onclick = function() {
              dirtyBlond.classList.add("border_round");
            var a=document.getElementsByTagName("img");
    for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9317_4.jpg?v=1583267848";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9292_1.jpg?v=1583267869";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9300_1.png?v=1580940318";          
            }
        }
        }
      
        var auburn = document.getElementById("pf-v-4682089594959-031");
        auburn.onclick = function() {
            var a=document.getElementsByTagName("img");
    for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0043_1.png?v=1580940004";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0075_1.jpg?v=1583267808";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0084_1.png?v=1580940025";          
            }
        }
        }
      
       var trueBlack = document.getElementById("pf-v-4682089594959-041");
        trueBlack.onclick = function() {
            var a=document.getElementsByTagName("img");
    for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9264_1.jpg?v=1583268093";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9214_1.jpg?v=1583268109";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9229_1.jpg?v=1583268123";          
            }
        }
        }
      
     var lightBrown = document.getElementById("pf-v-4682089594959-051");
        lightBrown.onclick = function() {
            var a=document.getElementsByTagName("img");
    for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9471_1.png?v=1582023289";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9614.png?v=1582023973";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/111.png?v=1582024013";          
            }
        }
        }
      
      var brownBlack = document.getElementById("pf-v-4682089594959-061");
        brownBlack.onclick = function() {
            var a=document.getElementsByTagName("img");
    for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0301_1.jpg?v=1583268049";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0373_2.jpg?v=1583268064";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0276_1.jpg?v=1583268073";          
            }
        }
        }
      
      var idk = document.getElementById("pf-v-4682089594959-071");
        idk.onclick = function() {
            var a=document.getElementsByTagName("img");
    for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/11111_e310c7d3-37e5-4a89-a928-2feef40a1741.jpg?v=1583269081";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/ddd_c27f1c02-b04d-419f-adfd-79740c2e5bbb.jpg?v=1583267829";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/TrueSons_Product_07_18_3895_3.png?v=1580940041";          
            }
        }
        }
      
     
    }
    
 </script>