<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.0/css/main-style.css?t=20201006221043"><link rel="stylesheet" href="{{ 'pagefly.451ee87e.scss.css' | asset_url }}">
		 <style>#fixed_bar { 	position: sticky; 	bottom: 0; 	max-height: 81px; } #PageContainer { 	overflow: initial !important; 	transform: initial; 	position: initial; } .homeSlider { 	max-width: 500px; 	margin: 0 auto; } label[for="pf-v-4682089594959-112"] .homeSlider img { 	width: 100%; } .homeSliderNav { 	position: absolute; 	top: 30px; 	left: 50px; } .homeSliderNav>.slick-list>.slick-track>.slick-slide>img { 	border-radius: 50%; 	overflow: hidden; 	margin: 0 auto; 	object-fit: cover; 	width: 50px; 	height: 50px; 	margin-bottom: 15px; 	outline: none; 	cursor: pointer; } .homeSliderNav>.slick-list>.slick-track>.slick-slide { 	width: 50px !important; } .homeSliderNav>.slick-list>.slick-track { 	width: 25% !important; } .homeSliderNav>.slick-list>.slick-track>.slick-slide.slick-current { 	border: 1px solid #041491; 	border-radius: 50%; 	width: 51px !important; 	height: 52px !important; 	margin-bottom: 15px; } .homeSliderNav>.slick-list>.slick-track>.slick-slide.slick-current:focus { 	outline: none; } .homeSliderNav>.slick-list>.slick-track>.slick-slide:focus { 	outline: none; } label[for="pf-v-4682089594959-001"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/dark_brown.png?v=1591271628") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-001"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Dark Brown'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4682089594959-011"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/medium_brown.png?v=1591271597") 50% 0% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-011"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Medium Brown'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; 	white-space: nowrap; } label[for="pf-v-4682089594959-021"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/dirty_blond.png?v=1591271427") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-021"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Dirty Blond'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4682089594959-031"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/Auburn_29439173-8318-41a1-a3b7-697e9d0dfbbc.png?v=1591271363") 50% 75% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-031"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Auburn'; 	position: relative; 	top: 95px; 	left: -24px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4682089594959-041"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/true_black.png?v=1591271659") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-041"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'True Black'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4682089594959-051"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/light_brown.png?v=1591271458") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-051"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Light Brown'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4682089594959-061"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/brown_black.png?v=1591271646") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-061"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Brown Black'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } label[for="pf-v-4682089594959-071"] { 	cursor: pointer; 	color: black; 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/questionmark-dye.png?v=1573536218") 50% 50% no-repeat; 	height: 85px; 	width: 85px; 	font-size: 0px; 	background-size: cover; } label[for="pf-v-4682089594959-071"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'Idk my shade'; 	position: relative; 	top: 95px; 	left: -10px; 	font-size: 14px; 	width: 120px; 	display: inline-block; 	font-weight: 600; 	text-align: center; 	text-transform: uppercase !important; } #pf-v-4682089594959-001, #pf-v-4682089594959-011, #pf-v-4682089594959-021, #pf-v-4682089594959-031, #pf-v-4682089594959-041, #pf-v-4682089594959-051, #pf-v-4682089594959-061, #pf-v-4682089594959-071, #pf-v-4682089594959-102, #pf-v-4682089594959-112, #pf-v-4682089594959-213, #pf-v-4682089594959-203 { 	display: none; } .dTFuTq .pf-p-variant-radio label { 	padding-left: 0px; 	cursor: pointer; } .sc-ptSuy.fnmilh.pf-53b9bd2d { 	font-family: "Neutraface 2 Text"; } .pf-p-variant-radio div>input:checked+label { 	box-shadow: 0px 0px 0px 4px #060E9F; 	border-radius: 100%; 	background-color: #060E9F; } .listitem1 div>input:checked+label { 	transition: box-shadow 0.3s linear; } .dTFuTq .pf-p-variant-radio { 	display: inline-flex; 	align-items: center; 	flex-wrap: wrap; 	width: 500px; } .pf-p-variant-radio div { 	margin: 0px 20px 50px 20px; } label[for="pf-v-4682089594959-102"] { 	background: url('https://cdn.shopify.com/s/files/1/1600/5339/files/first_img_second_step_b37d451e-bf40-4272-8ad6-caf73919c1c1.png?v=1593461123') 0% 0% no-repeat; 	height: 385px; 	width: 645px; 	font-size: 0px; 	box-shadow: 0px 0px 0px 5px #f0f0f0; 	border-radius: 0%; 	background-color: #f0f0f0; 	display: none; 	background-size: contain; } label[for="pf-v-4682089594959-112"] { 	background: url('https://cdn.shopify.com/s/files/1/1600/5339/files/booster_dce395f9-87df-4e92-8a0f-67d59e45bb4d.jpg?v=1593512570') 47% 0% no-repeat; 	height: 385px; 	width: 400px; 	font-size: 0px; 	box-shadow: 0px 0px 0px 5px #f0f0f0; 	border-radius: 0%; 	background-color: #f0f0f0; 	display: none; 	background-size: inherit; } label[for="pf-v-4682089594959-112"]::before { 	content: ''; 	display: inline-block; 	width: 1em; 	height: 1em; 	flex-shrink: 0; 	flex-grow: 0; 	border: 2px solid #041491; 	margin-right: 0.5em; 	font-size: 18px; 	position: relative; 	top: 350px; 	left: 8px; } label[for="pf-v-4682089594959-112"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'I want to add a FREE dye booster to my order.'; 	color: #000; 	font-size: 17px; 	position: relative; 	position: absolute; 	top: 347px; 	left: 131%; 	white-space: nowrap; } .second_step_text { 	font-size: 15px; 	color: #000; 	position: relative; 	top: 405px; 	width: 100%; 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } #second_item { 	margin-top: -17px; } .pf-p-variant.listitem2 > .pf-p-variant-radio:last-child { 	content: 'I want to add a FREE dye booster to my order.'; 	color: #000; 	font-size: 20px; 	position: relative; } .step_two_down_text { 	margin-left: 10px; } .pf-p-variant-radio div>#pf-v-4682089594959-112:checked+label::after { 	color: #fff; } .pf-p-variant-radio div > #pf-v-4682089594959-112:checked + label::before { 	border-color: #fff; 	background-color: #041491; 	background: url('https://cdn.shopify.com/s/files/1/1600/5339/files/UIHere_55a0e3f6-1079-4901-b719-50a93d4bfda4.png?v=1592427982') no-repeat 50% 50%; 	color: #fff; } label[for="pf-v-4682089594959-203"] { 	font-size: 0px; 	border-radius: 0%; 	display: none; 	padding: 15px 12px !important; 	width: 100%; 	text-align: center; 	height: 266px; 	border: 1px solid #060E9F; 	z-index: 10; 	margin: 0px 10px; } .dTFuTq .pf-p-variant-radio { 	width: 570px; } label[for="pf-v-4682089594959-203"]::after { 	font-family: "Neutraface 2 Text Demi"; 	content: 'SUBSCRIBE & SAVE (33%)'; 	color: #060E9F; 	position: relative; 	font-style: normal; 	font-weight: 500; 	font-size: 20px; 	line-height: 32px; } .pf-p-variant-radio div>#pf-v-4682089594959-102:checked+label::after { 	color: #fff; } .pf-p-variant-radio div>#pf-v-4682089594959-203:checked+label { 	border-radius: 0%; 	border-color: #060E9F; 	box-shadow: none; 	background-color: transparent; } label[for="pf-v-4682089594959-213"] { 	font-size: 0px; 	border-radius: 0%; 	display: none; 	padding: 15px 12px !important; 	width: 100%; 	text-align: center; 	height: 266px; 	border: 1px solid #060E9F; 	z-index: 10; 	opacity: 0.5; 	margin: 0px 10px; } label[for="pf-v-4682089594959-213"]::after { 	font-family: "Neutraface 2 Text Demi"; 	content: 'SINGLE PLAN'; 	color: #060E9F; 	font-size: 16px; 	position: relative; 	font-style: normal; 	font-weight: 500; 	font-size: 20px; 	line-height: 32px; } .pf-p-variant-radio div>#pf-v-4682089594959-213:checked+label { 	border-radius: 0%; 	border-color: #060E9F; 	box-shadow: none; 	background-color: transparent; } .pf-p-variant-radio div>#pf-v-4682089594959-102:checked+label { 	box-shadow: 0px 0px 0px 5px #060E9F; 	border-radius: 0%; 	background-color: #060E9F; 	color: #fff; } .pf-p-variant-radio div>#pf-v-4682089594959-112:checked+label { 	box-shadow: 0px 0px 0px 5px #060E9F; 	border-radius: 0%; 	background-color: #060E9F; 	color: #fff; } label[for="pf-v-4682089594959-102"]::after { 	font-family: "Neutraface 2 Text"; 	content: 'ORIGINAL FORMULA'; 	color: #060e9f; 	font-size: 20px; 	position: absolute; 	top: 345px; 	left: 40%; } .ow-product-custom-section-v1 .ow-steps-navigation .ow-step-nav.ow-selecting { 	color: #051699; 	opacity: 1; 	font-family: 'Neutraface 2 Text Demi'; 	font-weight: 600; } .tab-current>.line_number { 	background: #051699 !important; 	border: none; 	color: #fff; } .line_number { 	font-family: "Neutraface 2 Text"; 	background: #FFFFFF; 	border: 1px solid #C4C4C4; 	border-radius: 20px; 	color: #C4C4C4; 	display: inline-block; 	font-size: 19px; 	height: 29px; 	line-height: 24px; 	text-align: center; 	width: 29px; 	z-index: 500; 	top: 37px; 	position: relative; 	left: 71px; } #ow-step-1>.line_number::before { 	display: block; 	width: auto; 	min-width: 1000px; 	content: ''; 	position: absolute; 	border-bottom: 1px solid #051699; 	top: 50%; 	right: 100%; } .ow-step-nav-two>.line_number::before { 	display: block; 	width: auto; 	min-width: 354px; 	content: ''; 	position: absolute; 	border-bottom: 1px solid #b4afaf; 	top: 50%; 	right: 100%; 	z-index: 10; } .ow-step-nav-three>.line_number::before { 	display: block; 	width: auto; 	min-width: 356px; 	content: ''; 	position: absolute; 	border-bottom: 1px solid #b4afaf; 	top: 50%; 	right: 100%; 	z-index: 10; } #ow-step-3>.line_number::after { 	display: block; 	width: auto; 	min-width: 1070px; 	content: ''; 	position: absolute; 	border-bottom: 1px solid #b4afaf; 	top: 50%; 	left: 100%; 	z-index: 10; } .tab-current>.line_number { 	background: #051699 !important; 	border: none; 	color: #fff; } .tab-current>.line_number::before { 	border-bottom: 1px solid #051699 !important; 	padding-left: 2px; } .pf-p-variant.listitem2>.pf-p-variant-radio { 	display: flex; 	position: relative; 	left: -580px; 	flex-direction: row; 	flex-wrap: nowrap; } .listitem2 { 	display: none; } .price_text { 	font-family: "Neutraface 2 Text Demi"; 	font-size: 20px !important; 	font-weight: 500 !important; 	padding: 20px 0px 0px 0px; 	text-align: left; 	line-height: 25px; 	color: #000000; 	text-align: center; } .price_number { 	font-family: "Neutraface 2 Text Demi"; 	font-size: 60px; 	line-height: 32px; 	color: #397E21; 	text-align: center; } .sum_text { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; 	font-size: 14px !important; 	line-height: 20px !important; 	color: #000000 !important; 	opacity: 0.6 !important; 	text-align: center; 	font-weight: 600 !important; 	letter-spacing: normal; 	padding-top: 15px; } .sc-ptSuy.fnmilh.pf-f0a9717b { 	font-family: "Neutraface 2 Text"; } .ow-step-text.ow-step-2-text-bottom.step_3_bottom_text { 	font-family: "Neutraface 2 Text Light"; 	font-weight: 600; 	line-height: 26px; 	font-size: 15px; } .tab_1 { 	display: none; } .tab_2 { 	display: none; } .show { 	display: block; } .listitem3>.pf-p-variant-radio div { 	margin-right: 0px !important; 	margin-bottom: 4px; } /*Tooltip-->*/ [tooltip] { 	position: relative } [tooltip]::before, [tooltip]::after { 	text-transform: none; 	font-size: .9em; 	line-height: 1; 	user-select: none; 	pointer-events: none; 	position: absolute; 	display: none; 	opacity: 0 } [tooltip]::before { 	content: ''; 	border: 5px solid transparent; 	z-index: 1001 } [tooltip]::after { 	content: attr(tooltip); 	font-family: "Neutraface 2 Text"; 	text-align: center; 	min-width: 350px; 	max-width: 350px; 	overflow: hidden; 	text-overflow: ellipsis; 	padding: 13px; 	border-radius: .3ch; 	box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35); 	background: #fff; 	opacity: 1 !important; 	color: #2D2D2D; 	line-height: 20px; 	z-index: 1000; 	font-size: 15px; 	font-style: italic; } [tooltip]:hover::before, [tooltip]:hover::after { 	display: block; } [tooltip='']::before, [tooltip='']::after { 	display: none !important; } [tooltip]:not([flow])::before, [tooltip][flow^="up"]::before { 	position: fixed; 	top: 22%; 	left: 63.5% !important; 	border-bottom-width: 110px; 	border-top-color: #fff; 	margin-left: 7px; 	padding: 2px 1px; } [tooltip]:not([flow])::after, [tooltip][flow^="up"]::after { 	position: absolute; 	top: -140px; 	left: 63.5% !important; } .tooltip_2[tooltip]:not([flow])::after, .tooltip_2[tooltip][flow^="up"]::after { 	position: fixed; 	top: 6%; 	left: 59% !important; } [tooltip]:not([flow])::before, [tooltip]:not([flow])::after, [tooltip][flow^="up"]::before, [tooltip][flow^="up"]::after { 	left: 160px; 	transform: translate(-50%, -0.5em) } [tooltip][flow^="down"]::before { 	top: 100%; 	border-top-width: 0; 	border-bottom-color: #333 } [tooltip][flow^="down"]::after { 	top: calc(100% + 5px) } [tooltip][flow^="down"]::before, [tooltip][flow^="down"]::after { 	left: 50%; 	transform: translate(-50%, 0.5em) } [tooltip][flow^="left"]::before { 	top: 192px; 	border-right-width: 0; 	border-left-color: #333; 	left: calc(0em - 5px); 	transform: translate(-0.5em, -50%) } [tooltip][flow^="left"]::after { 	top: 50%; 	right: calc(100% + 5px); 	transform: translate(-0.5em, -50%) } [tooltip][flow^="right"]::before { 	top: 50%; 	border-left-width: 0; 	border-right-color: #333; 	right: calc(0em - 5px); 	transform: translate(0.5em, -50%) } [tooltip][flow^="right"]::after { 	top: 50%; 	left: calc(100% + 5px); 	transform: translate(0.5em, -50%) } @keyframes tooltips-vert { 	to { 	opacity: .9; 	transform: translate(-50%, 0) } } @keyframes tooltips-horz { 	to { 	opacity: .9; 	transform: translate(0, -50%) } } [tooltip]:not([flow]):hover::before, [tooltip]:not([flow]):hover::after, [tooltip][flow^="up"]:hover::before, [tooltip][flow^="up"]:hover::after, [tooltip][flow^="down"]:hover::before, [tooltip][flow^="down"]:hover::after { 	animation: tooltips-vert 300ms ease-out forwards } [tooltip][flow^="left"]:hover::before, [tooltip][flow^="left"]:hover::after, [tooltip][flow^="right"]:hover::before, [tooltip][flow^="right"]:hover::after { 	animation: tooltips-horz 300ms ease-out forwards } .tooltip_info { 	margin: 6px 0px 0px 15px; } .tooltip_info_2 { 	position: relative; 	top: 3px; 	left: 13px } .tooltip_2::after { 	transform: translate(-50%, 75px) !important; 	left: 20px !important; 	font-weight: 400; 	padding: 10px; 	margin-bottom: -14px; } .tooltip_2::before { 	bottom: -36% !important; 	border-bottom-width: 38px !important; 	border-top-color: #fff !important; 	left: 20px !important } .listitem3 { 	display: none; } .tooltip_2[tooltip]::after { 	line-height: 17px; 	font-size: 13px; } .checkout-btn:hover { 	background-color: #d58508 !important; } .ow-step-nav { 	cursor: pointer; 	color: #060E9F; 	font-weight: bold; 	text-align: center; 	display: flex; 	justify-content: center; } #image_column { 	position: relative; 	top: -290px; } .accordion__item .accordion__header { 	font-family: "Neutraface 2 Text"; 	font-weight: 700; 	border-style: solid; 	border-width: 0px 0px 1px; 	padding: 20px 15px; 	color: #051699; 	background: #fff; 	box-shadow: 0px 0px 11px 1px #cdcaca54; 	margin-bottom: 15px; 	max-width: 500px; 	margin-left: 28px; } .accordion__arrow { 	transition: all 0.2s ease 0s; 	transform: rotate(90deg); } .accordion__item>.pf-wrapper-content { 	background: #fff; 	box-shadow: 0px 0px 11px 1px #cdcaca54; 	max-width: 500px; 	margin: 0px -28px 0px 28px; 	margin-top: -15px; } .cbrLgP>span:last-child { 	padding: 10px; } .jHjrlE { 	padding-top: 0px; 	padding-bottom: 20px; } .accordion__item { 	margin-bottom: 20px; } #bottom-fix-bar { 	left: 0; 	width: 100%; 	z-index: 99999; 	background-color: #A4A3A2; 	text-align: center; 	height: 80px; 	position: fixed; } .item-name h3 { 	font-family: "Neutraface 2 Text"; 	color: #051699; 	font-size: 17px; 	position: absolute; 	top: -20px; 	left: 110px; 	width: max-content; } .item-name h2 { 	font-family: "Neutraface 2 Text Demi"; 	color: #051699; 	font-size: 15px; 	font-weight: 500; 	position: absolute; 	top: -35px; 	width: max-content; 	text-align: left; 	left: 105px; } div.bottom_info { 	display: inline-block; } .item-image { 	position: absolute; 	left: 25px; 	top: -54px; 	width: 60px; 	height: 60px; } .step_2_text { 	font-family: "Neutraface 2 Text"; 	position: relative; 	top: -200px; } .sc-ptSuy.fnmilh.pf-fc1f7921 { 	padding: 10px 16px; 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } .sc-ptSuy.fnmilh.pf-8a7268d0 { 	margin: 0px -10px; 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } .ow-step-text.ow-step-1-text { 	position: relative; 	top: 20px; 	margin-bottom: -80px; 	display: flex; 	flex-direction: row; 	text-align: center; 	justify-content: center; } .ow-step-text.ow-step-2-text { 	position: relative; 	top: -10px; 	margin-bottom: -50px; 	justify-content: center; 	font-family: "Neutraface 2 Text"; } .ow-step-text.ow-step-3-text.listitem3 { 	position: relative; 	top: -50px; 	margin-bottom: -50px; } .item-plan h3 { 	font-family: "Neutraface 2 Text"; 	font-size: 17px; 	color: #051699; 	text-transform: capitalize; 	border-left: 1px solid white; 	padding-left: 15px; 	position: absolute; 	top: -35px; 	left: 310px; 	line-height: 17px; 	text-align: left; 	width: max-content; 	white-space: nowrap; } .item-plan h4 { 	font-family: "Neutraface 2 Text"; 	font-size: 14px; 	color: #051699; 	text-transform: capitalize; 	border-left: 1px solid white; 	padding-left: 15px; 	position: absolute; 	top: -18px; 	left: 310px; 	line-height: 17px; 	text-align: left; 	width: max-content; 	white-space: nowrap; } .item-plan { 	list-style-type: none; } .fixbar_item2, .fixbar_item3 { 	display: none; } .description_block { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; 	border: 1px solid #DADADA; 	padding: 25px; } .accordion__content { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } #text_row_main { 	position: relative; 	top: -310px; } .sc-oTLFK.lcHmGL.pf-f0a9717b { 	margin-top: -30px; } .number_header { 	font-family: "Neutraface 2 Text"; 	position: relative; 	top: 0px; 	text-align: center; 	color: #051699; } .select_h2 { 	font-family: "Neutraface 2 Text Demi"; 	text-transform: none; 	font-size: 32px; 	color: #000; 	font-weight: 500; 	letter-spacing: normal; } .sc-ptSuy.fnmilh.pf-79838b45 { 	font-family: "Neutraface 2 Text"; } .select2_h2 { 	font-family: "Neutraface 2 Text"; } #info_col_first_step { 	position: relative; 	left: 0px; 	top: 3%; 	margin-right: 70px; } .checkout-btn { 	color: #FFFFFF; 	font-family: "Neutraface 2 Text Demi"; 	text-align: center; 	font-size: 17px; 	font-weight: 500; 	line-height: 15px; 	background-color: #051699 !important; 	display: inline-block; 	border: none; 	box-shadow: none; 	padding: 22px 23px; 	letter-spacing: 4px; 	position: absolute; 	border-radius: 0px !important; 	white-space: nowrap; 	width: 100%; 	max-width: 470px; 	text-align: center; 	transform: translateX(-50%); 	position: relative; 	left: 50%; 	top: 10px; } .next-buttons { 	outline: none; 	color: #FFFFFF; 	background-color: #041491; 	display: inline-block; 	border: none; 	box-shadow: none; 	font-size: 17px; 	font-weight: 500; 	line-height: 15px; 	padding: 13px 23px; 	letter-spacing: normal; 	margin: 0px; 	position: absolute; 	white-space: nowrap; 	font-family: "Neutraface 2 Text Demi"; } #add-to-cart-otp, #add-to-cart-subscribe { 	display: none; } #fixed_bar { 	background-color: #c5c5c9; 	max-height: 81px; } /*popup*/ .my_modal { 	background: #FFF; 	width: auto; 	max-width: 600px; 	height: auto; 	text-align: center; 	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 	position: fixed; 	top: 50%; 	margin-top: -50px; 	left: 50%; 	transform: translateX(-50%); 	line-height: 25px; 	z-index: 99; 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } .my_modal-bg { 	background: #FFF; 	zoom: 1; 	opacity: 0.4; 	filter: alpha(opacity=80); 	position: fixed; 	top: -25px; 	bottom: 0; 	left: 0; 	right: 0; 	z-index: 9; } a.close { 	position: absolute; 	top: 0px; 	right: 5px; 	color: black } .modal_text { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; 	position: relative; 	top: 30%; 	padding: 17px 10px 0px 10px } 	.sc-pkUyL.fTyjzF.pf-7cf1f0a9 { 	margin-top: -40px; } .kCAYOZ .pf-slider-pagination.pagination-style-2 li.active { 	z-index: 999 !important; } .next-buttons:hover { 	background-color: orange; } .pf-p-variant.listitem3>.pf-p-variant-radio>div { 	width: 50%; 	margin: 0px !important; } .pf-p-variant.listitem3>.pf-p-variant-radio { 	width: 100%; } #third_step_rigth_col { 	margin-top: -50px; } .shades_description { 	margin: 10px 0px 20px 0px; 	flex-direction: column; 	border: 1px solid #DADADA; 	padding: 25px 20px 25px 20px; } .changing_color_text, h5 { 	font-family: "Neutraface 2 Text Light"; 	font-weight: bold; } .changing_color { 	font-family: "Neutraface 2 Text"; 	font-weight: bold; 	text-transform: uppercase; } .description_block.red_notice { 	border-color: red; 	margin: 30px 0px; } .description_block.red_notice p { 	color: red; } #next_btn_second_dbl { 	right: 30px; 	width: 100%; 	max-width: 470px; 	text-align: center; 	transform: translateX(-50%); 	position: relative; 	left: 50%; 	padding: 22px 23px; } #add-to-cart-otp { 	margin-top: -30px; 	line-height: 14px; } #second_left_block { 	padding: 20px 32px; } @media only screen and (max-width: 767px) { 	@-moz-document url-prefix() { 	#select_h2_second_step { 	position: absolute; 	top: -40px; } } } @media only screen and (min-width: 1025px) and (max-width: 1200px) { 	#info_col_first_step { 	top: 60%; } }  .listitem3 { 	display: none; } #color_info { 	display: none; 	margin: 80px 0px 50px -25px; 	position: relative; } #next_btn_second { 	background: rgba(5, 22, 153, 0.14); } .border { 	border: 1px solid #041491; } #product_variants { 	max-height: 260px; } .frequency { 	display: none; 	z-index: 1; 	justify-content: center; 	align-content: center; 	text-align: center; 	margin-top: -179px; } .price { 	text-align: center; } .tab-panel { 	padding: 0px 20px; 	width: 50%; } .price_text.first { 	padding: 54px 0px 0px 0px; } .price_text.second { 	padding: 25px 0px 5px 0px; } .pf-p-variant.listitem3 { 	margin-bottom: -50px; } .step_3_bottom_text.listitem3 { 	padding-bottom: 30px; } #popup span, #popup_second span { 	text-decoration: underline; } #second_tab { 	opacity: 0.5; } .price_number::after { 	content: " (per bottle)"; 	font-family: "Neutraface 2 Text Light"; 	font-style: normal; 	font-weight: 500; 	font-size: 14px; 	line-height: 32px; 	color: #000000; 	opacity: 0.8; } #next_btn_first { 	background-image: url("https://cdn.shopify.com/s/files/1/1600/5339/files/Vector_1.png?v=1601064693"); 	background-repeat: no-repeat; 	background-position: 90% 50%; 	padding: 13px 39px 13px 18px; } @media only screen and (max-width: 767px) { 	.next-buttons { 	padding: 13px 19px; } #popup_second { 	margin-bottom: -7px; } .frequency { 	margin-top: -205px; 	margin-bottom: 10px; } .shades_description { 	margin: 37px 2px !important; } .item-image { 	left: 35px; 	width: 50px; 	height: 50px; } .tab-panel { 	height: 190px; } .next-buttons { 	font-size: 14px !important; } .pf-p-variant-radio label::after { 	font-size: 9px !important; 	line-height: 16px; } label[for="pf-v-4682089594959-203"], label[for="pf-v-4682089594959-213"] { 	padding: 15px 25px !important; 	margin: 0px 5px; 	height: 230px; } .price_number { 	font-size: 44px; 	line-height: 43px; } .pf-p-variant.listitem3 { 	margin-bottom: 0px !important; } .price_text { 	font-size: 11px !important; 	line-height: 20px !important; } .price_number::after { 	line-height: 0px !important; } .price_text.first { 	padding: 45px 0px 0px 0px !important; } .price_text.second { 	padding: 25px 0px 0px 0px; } .price_number::after { 	font-size: 9px  !important; } #accordion_col, #second_left_block{ 	display: none !important; } .cbrLgP > span:last-child { 	padding: 10px 8px !important; } .my_modal { 	max-width: 350px !important; 	width: 250px !important; 	margin-top: -250px; } .sc-pbYdQ.jklmHY.pf-c.pf-c-xs--12.pf-c-sm--4.pf-c-md--4.pf-c-lg--4 { 	max-width: 33%; } .line_number { 	left: 0%; } .ow-step-nav-three>.line_number::before { 	display: block; 	width: auto; 	min-width: 96px; } .ow-step-nav-two>.line_number::before { 	display: block; 	width: auto; 	min-width: 95px; } #ow-step-1>.line_number::before { 	display: block; 	width: auto; 	min-width: 112px; } .number_header { 	top: -23px; 	position: relative; 	font-size: 10px; 	text-align: center; 	color: #051699; } .ow-step-nav { 	display: inline-block; } .homeSliderNav>.slick-list>.slick-track>.slick-slide>img { 	border-radius: 50%; 	overflow: hidden; 	margin: 0 auto; 	object-fit: cover; 	width: 35px; 	height: 35px; 	margin-bottom: 15px; 	outline: none; 	cursor: pointer; } .homeSliderNav>.slick-list>.slick-track>.slick-slide.slick-current { 	border: 1px solid #041491; 	border-radius: 50%; 	width: 35px !important; 	height: 36px !important; 	margin-bottom: 15px; } .homeSliderNav>.slick-list>.slick-track>.slick-slide { 	width: 35px !important; } .tooltip_info { 	position: relative; 	top: -45px; 	left: 135px; } .homeSliderNav { 	position: absolute; 	top: 20px; 	left: 20px; } #select_h2_second_step { 	position: absolute; 	top: 0px; 	left: 102px; } #select_h2_first_step { 	font-size: 22px; } #accordions { 	display: none !important; } .pf-p-variant.listitem2 { 	display: none; } #tabs .pf-c-xs--12 { 	width: 50% !important; 	max-width: 50% !important; } #tabs { 	flex-direction: row; } #next_btn_first { 	padding: 13px 45px 13px 18px; 	z-index: 1; } #color_info { 	margin: 30px 0px 0px -5px !important; 	position: relative; 	padding-bottom: 40px; } .item-name h2 { 	color: #041491 !important; 	font-size: 14px; 	position: absolute; 	top: 3px !important; 	width: max-content; 	text-align: left; 	left: 100px; } .main_slider { 	margin-top: 0px; } .pf-p-variant.listitem2 { 	margin: 20px 0px; } [tooltip]:not([flow])::after, [tooltip][flow^="up"]::after { 	position: fixed; 	top: 2%; 	left: 50% !important; } .tooltip_2[tooltip]:not([flow])::after, .tooltip_2[tooltip][flow^="up"]::after { 	position: fixed; 	top: 2%; 	left: 50% !important; } [tooltip]:not([flow])::before, [tooltip]:not([flow])::after, [tooltip][flow^="up"]::before, [tooltip][flow^="up"]::after { 	left: 12px; 	transform: translate(-50%, -0.5em); } [tooltip]:not([flow])::before, [tooltip][flow^="up"]::before { 	bottom: -230%; 	border-bottom-width: 110px; 	border-top-color: #fff; 	margin-left: 7px; 	padding: 2px 1px; } .sc-pkfPC.jHjrlE.pf-68f8ca00 { 	display: none; } label[for="pf-v-4682089594959-001"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-001"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-011"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-011"]::after { 	top: 70px; 	left: -12px; 	font-size: 10px; 	width: 84px; } label[for="pf-v-4682089594959-021"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-021"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-031"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-031"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-041"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-041"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-051"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-051"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-061"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-061"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-071"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-071"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } .dTFuTq .pf-p-variant-radio { 	width: 400px; 	margin-left: 5px; } .pf-p-variant-radio div { 	margin: 13px 11px 35px 11px !important; } #text_row_main { 	position: relative; 	top: -123px; } .pf-p-variant.listitem2>.pf-p-variant-radio { 	display: flex; 	position: relative; 	left: 0px; 	flex-direction: column; 	flex-wrap: nowrap; 	justify-content: center; 	align-items: center; 	align-content: center; } .sc-ptSuy.fnmilh.pf-8a7268d0 { 	margin: 0px; } label[for="pf-v-4682089594959-102"] { 	max-width: 200px; 	background-size: contain; 	margin: 1px; 	height: 125px; } label[for="pf-v-4682089594959-112"] { 	background: url('https://cdn.shopify.com/s/files/1/1600/5339/files/booster_mobile_c002971d-2871-41c6-82ae-6bb97761306c.jpg?v=1593515485') 47% 0% no-repeat; 	height: 125px; 	max-width: 120px; 	background-size: contain; 	margin: 1px; 	background-color: #f0f0f0; } .second_step_text { 	top: 124px; } .listitem2 .pf-p-variant-radio div div { 	margin-left: -10px !important; 	font-size: 11px; 	width: 112%; 	padding-right: 10px; } #second_item { 	margin-top: -3px !important; 	padding-right: 0px; } label[for="pf-v-4682089594959-112"] { 	margin-left: -15px; } .pf-p-variant.listitem2>.pf-p-variant-radio { 	flex-direction: row; } label[for="pf-v-4682089594959-102"]::after { 	top: 125px; 	left: 57px; 	font-size: 12px; 	white-space: nowrap; } label[for="pf-v-4682089594959-112"]::after { 	position: absolute; 	top: 124px; 	left: 69%; 	font-size: 9px !important; 	white-space: normal; 	width: 28% !important; 	line-height: 8px; 	text-align: left; 	padding-left: 0px; } label[for="pf-v-4682089594959-112"]::before { 	content: ''; 	display: inline-block; 	width: 1em; 	height: 1em; 	flex-shrink: 0; 	flex-grow: 0; 	border: 2px solid #041491; 	margin-right: 0.5em; 	font-size: 15px; 	position: relative; 	top: 108px; 	left: -8px; } .sc-pkvvt.cbrLgP.pf-797e8a72 { 	width: 50%; 	position: relative; 	top: 20px; } .step_two_down_text { 	width: 50%; 	position: relative; 	left: 124%; 	top: -280px; } .step_2_text { 	position: relative; 	top: -250px; 	margin-bottom: -350px; 	width: 50%; } .ow-step-text.ow-step-2-text.listitem2 { 	justify-content: center; } .pf-p-variant.listitem2 > .pf-p-variant-radio { 	top: -150px; } #image_column { 	position: absolute; 	top: -345px; 	left: 0px; } .sum_text { 	font-size: 10px !important; 	line-height: 15px !important; 	padding-top: 0px !important; } #add-to-cart-button { 	display: none; 	outline: none; 	color: #FFFFFF; 	background-color: #217241; 	border: none; 	box-shadow: none; 	font-size: 16px; 	font-weight: 500; 	line-height: 17px; 	padding: 20px 50px; 	letter-spacing: 4px; 	margin: -40px 0px -10px 0px; 	height: auto; 	border-radius: 0px; 	white-space: nowrap; 	text-align: center; 	left: 50%; } .item-name h2 { 	color: #fff; 	font-size: 14px; 	position: absolute; 	top: -10px; 	width: max-content; 	text-align: left; 	left: 100px; } .item-name h3 { 	color: #fff; 	font-size: 11px; 	position: absolute; 	top: 9px; 	left: 100px; 	width: max-content; } .item-plan h3 { 	font-size: 11px; 	color: #fff; 	text-transform: capitalize; 	border-left: 1px solid white; 	padding-left: 15px; 	position: absolute; 	left: 225px; 	line-height: 17px; 	text-align: left; 	width: max-content; 	top: -11px; 	white-space: nowrap; } .item-plan h4 { 	font-size: 11px; 	color: #fff; 	text-transform: capitalize; 	border-left: 1px solid white; 	padding-left: 15px; 	position: absolute; 	top: 6px; 	left: 225px; 	line-height: 17px; 	text-align: left; 	width: max-content; 	white-space: nowrap; } .checkout-btn { 	white-space: nowrap; } .mobile_hide { 	display: none; } div.bottom_info { 	display: inline-block; 	text-align: center; 	/* margin-left: -15px; 	*/ 		position: relative; 	left: -25px; } .item-image { 	top: -20px; } .item-name { 	margin-bottom: 16px; } #fixed_bar  { 	max-height: 121px !important; } .sc-qPjXN.eYzxUD.pf-c0aa1b29.pf-r.pf-r-eh { 	margin-top: 40px; } span.tooltip_2[tooltip] { 	left: -143px; } .tooltip_info_2 { 	position: relative; 	top: 3px; 	left: 148px; } .tooltip_2::before { 	bottom: -56% !important; 	border-bottom-width: 38px !important; 	border-top-color: #fff !important; 	left: 20px !important; } .tg .tg-33wd, .tg .tg-j28k { 	font-size: 18px !important; 	line-height: 18px !important; } .ow-step-text.ow-step-1-text.heading_1 div:nth-child(2) { 	display: none; } #product_variants { 	max-height: 220px; } #next_btn_second { 	margin-left: -5px; } } /*tablet*/ @media only screen and (min-width: 768px) and (max-width: 1024px) { 	label[for="pf-v-4682089594959-112"] { 	background: url('https://cdn.shopify.com/s/files/1/1600/5339/files/booster-tablet_c255c353-63ca-4ccc-ba1d-58f2e8034429.jpg?v=1593531333') 47% 2% no-repeat; } .tab-panel { 	height: 200px; } .listitem2 .pf-p-variant-radio div div { 	margin-left: -10px !important; 	font-size: 11px; 	width: 112%; 	padding-right: 10px; } #second_item { 	margin-top: -14px !important; 	padding-right: 0px; } #first_step_right_col{ 	margin-top: -45px; } #add-to-cart-button { 	display: none; 	outline: none; 	color: #FFFFFF; 	background-color: #217241; 	border: none; 	box-shadow: none; 	font-size: 16px; 	font-weight: 500; 	line-height: 17px; 	padding: 17px 33px; 	letter-spacing: 4px; 	margin: -39px 0px 0px 150px; 	height: auto; 	border-radius: 0px; 	white-space: nowrap; } .sc-pbYdQ.jklmHY.pf-c.pf-c-xs--12.pf-c-sm--4.pf-c-md--4.pf-c-lg--4 { 	max-width: 33%; } .line_number { 	left: 0%; } .ow-step-nav-three>.line_number::before { 	display: block; 	width: auto; 	min-width: 226px; } .ow-step-nav-two>.line_number::before { 	display: block; 	width: auto; 	min-width: 227px; } #ow-step-1>.line_number::before { 	display: block; 	width: auto; 	min-width: 112px; } .number_header { 	top: -23px; 	position: relative; 	font-size: 10px; 	text-align: center; 	color: #051699; } .ow-step-nav { 	display: inline-block; } .homeSliderNav>.slick-list>.slick-track>.slick-slide>img { 	border-radius: 50%; 	overflow: hidden; 	margin: 0 auto; 	object-fit: cover; 	width: 35px; 	height: 35px; 	margin-bottom: 15px; 	outline: none; 	cursor: pointer; } .homeSliderNav>.slick-list>.slick-track>.slick-slide.slick-current { 	border: 1px solid #041491; 	border-radius: 50%; 	width: 35px !important; 	height: 36px !important; 	margin-bottom: 15px; } .homeSliderNav>.slick-list>.slick-track>.slick-slide { 	width: 35px !important; } .sc-pkUyL.fTyjzF.pf-f1a88508 { 	position: relative; 	top: -50px; } .tooltip_info { 	position: relative; 	top: -67px; 	left: 155px; } .homeSliderNav { 	position: absolute; 	top: -20px; 	left: 20px; } .select_h2 { 	margin-top: -20px; 	margin-bottom: 40px; } .main_slider { 	margin-top: -40px; } [tooltip]:not([flow])::after, [tooltip][flow^="up"]::after { 	position: fixed; 	top: 12%; 	left: 59% !important; } .tooltip_2[tooltip]:not([flow])::after, .tooltip_2[tooltip][flow^="up"]::after { 	position: fixed; 	top: 9%; 	left: 59% !important; } [tooltip]:not([flow])::before, [tooltip]:not([flow])::after, [tooltip][flow^="up"]::before, [tooltip][flow^="up"]::after { 	left: 8px; 	transform: translate(-50%, -0.5em); } [tooltip]:not([flow])::before, [tooltip][flow^="up"]::before { 	bottom: -230%; 	border-bottom-width: 110px; 	border-top-color: #fff; 	margin-left: 7px; 	padding: 2px 1px; } .sc-pkfPC.jHjrlE.pf-68f8ca00 { 	display: none; } label[for="pf-v-4682089594959-001"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-001"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-011"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-011"]::after { 	top: 70px; 	left: -12px; 	font-size: 10px; 	width: 84px; } label[for="pf-v-4682089594959-021"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-021"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-031"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-031"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-041"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-041"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-051"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-051"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-061"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-061"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } label[for="pf-v-4682089594959-071"] { 	height: 55px; 	width: 55px; } label[for="pf-v-4682089594959-071"]::after { 	top: 70px; 	left: -10px; 	font-size: 10px; 	width: 80px; } .dTFuTq .pf-p-variant-radio { 	width: 400px; 	margin-left: 5px; } .pf-p-variant-radio div { 	margin-right: -2px !important; 	margin-bottom: 50px; } .pf-p-variant.listitem2>.pf-p-variant-radio { 	display: flex; 	position: relative; 	left: 0px; 	flex-direction: column; 	flex-wrap: nowrap; 	justify-content: center; 	align-items: center; 	align-content: center; } label[for="pf-v-4682089594959-102"]{ 	height: 187px; 	width: 290px; 	background-size: contain; 	margin-right: 10px; } label[for="pf-v-4682089594959-112"] { 	height: 187px; 	width: 180px; 	background-size: contain; 	margin-right: 10px; } .second_step_text { 	top: 215px; } label[for="pf-v-4682089594959-112"] { 	margin-left: -15px; } .pf-p-variant.listitem2>.pf-p-variant-radio { 	flex-direction: row; } label[for="pf-v-4682089594959-102"]::after { 	top: 165px; 	left: -157px; 	font-size: 12px; 	white-space: nowrap; 	position: absolute; } label[for="pf-v-4682089594959-112"]::after { 	position: absolute; 	top: 162px; 	left: 235%; 	font-size: 12px !important; 	text-align: left; 	padding-left: 0px; 	width: 125px; 	white-space: normal; 	line-height: 11px; } label[for="pf-v-4682089594959-112"]::before { 	content: ''; 	display: inline-block; 	width: 1em; 	height: 1em; 	flex-shrink: 0; 	flex-grow: 0; 	border: 2px solid #041491; 	margin-right: 0.5em; 	font-size: 18px; 	position: relative; 	top: 165px; 	left: 14px; } .sc-pkvvt.cbrLgP.pf-797e8a72 { 	width: 100%; 	position: relative; 	left: 52px; 	top: -5px; } .sc-pkvvt.cbrLgP.pf-68d0fc1f { 	width: 100%; 	position: relative; 	left: 4px; 	top: -5px; } .step_2_text { 	position: relative; 	top: -250px; 	margin-bottom: -200px; } .ow-step-text.ow-step-2-text.listitem2 { 	justify-content: center; } .pf-p-variant.listitem2>.pf-p-variant-radio { 	top: -150px; 	width: 50px; } #image_column { 	position: relative; 	top: -298px; } .sum_text { 	font-size: 13px !important; 	line-height: 15px !important; } .tab-panels { 	position: relative; 	top: -17px; } .sc-qZtVr.dLIPjF.pf-217cf1f0.pf-img-loaded { 	width: 320px; } .pf-p-variant.listitem3 { 	position: relative; 	top: -5px; } .ow-step-text.ow-step-3-text.listitem3 { 	position: relative; 	top: -75px; 	margin-bottom: -50px; } .sc-pkUyL.fTyjzF.pf-7cf1f0a9 { 	position: relative; 	top: -20px; } .sc-oTLFK.lcHmGL.pf-f0a9717b { 	margin-top: 0px; } .line_number { 	font-size: 16px; 	line-height: 28px; } .pf-p-variant.listitem2 { 	margin-top: 185px; } label[for="pf-v-4682089594959-203"]::after { 	content: 'SUBSCRIBE & SAVE (33%)'; 	color: #060E9F; 	font-size: 11px; 	position: relative; } label[for="pf-v-4682089594959-213"]::after { 	content: 'SINGLE PLAN'; 	color: #060E9F; 	font-size: 11px; 	position: relative; } .sc-pkUyL.fTyjzF.pf-7da853b9 { 	position: relative; 	top: 20px; } . bnext-buttons { 	padding: 20px 66px !important; 	margin: 2px 0px 0px 152px !important; 	height: 50px; } .sc-qPjXN.eYzxUD.pf-c0aa1b29.pf-r.pf-r-eh { 	margin-top: 40px; } .shades_description { 	margin: 37px 2px !important; } .item-image { 	left: 35px; 	width: 50px; 	height: 50px; 	top: -42px; } .tab-panel { 	height: 190px; } .next-buttons { 	font-size: 14px !important; } .pf-p-variant-radio label::after { 	width: max-content !important; 	font-size: 9px !important; 	line-height: 16px; } .pf-p-variant.listitem3 { 	margin-bottom: 0px !important; } .price_text { 	font-size: 11px !important; 	line-height: 20px !important; } .price_text.first { 	padding: 45px 0px 0px 0px !important; } .price_number::after { 	font-size: 8px  !important; 	line-height: 0px !important; } #select_h2_first_step { 	font-size: 22px; } #tabs .pf-c-xs--12 { 	width: 50% !important; 	max-width: 50% !important; } #tabs { 	flex-direction: row; } #next_btn_first { 	padding: 13px 45px 13px 18px; 	z-index: 1; } #color_info { 	margin: 41px 0px 0px -5px !important; 	position: relative; 	padding-bottom: 40px; } .item-name h2 { 	top: -25px !important; } .price_number { 	font-size: 41px; } #product_variants { 	max-height: 185px; } .frequency { 	margin-bottom: 50px; } .price_text.first { 	padding: 45px 0px 0px 0px !important; } .price_text.second { 	padding: 25px 0px 0px 0px; } #next_btn_second { 	margin-left: 40px; }   #bold_ { 	z-index: -1; } }  @media only screen and (min-width: 413px) and (max-width: 767px) { 	#next_btn_second { 	margin-left: -22px; } .pf-p-variant-radio div { 	margin: 13px 15px 35px 15px !important; } #product_variants { 	max-height: 270px; } .price_number { 	line-height: 23px; } .price_text.first { 	padding: 45px 0px 0px 0px !important; } .price_text.second { 	padding: 45px 0px 0px 0px; } .pf-p-variant-radio label::after { 	line-height: 30px; } }</style> {% if product_4682089594959 == null %}{%- assign product_4682089594959 = all_products['new-foam-hair-dye-for-men'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4682089594959"] = {
					id: {{product_4682089594959.id | json }},
					handle: {{product_4682089594959.handle | json }},
					title: {{product_4682089594959.title | json }},
					type: {{product_4682089594959.type | json }},
					url: {{product_4682089594959.url | json }},
					vendor: {{product_4682089594959.vendor | json }},
					variants: {{product_4682089594959.variants | json }},
					options: {{product_4682089594959.options | json }},
					media: {{product_4682089594959.media | json }},
					has_only_default_variant: {{product_4682089594959.has_only_default_variant | json }},
					options_with_values: {{product_4682089594959.options_with_values | json }},
					selected_variant: {{product_4682089594959.selected_variant | json }},
					selected_or_first_available_variant: {{product_4682089594959.selected_or_first_available_variant | json }},
					tags: {{product_4682089594959.tags | json }},
					template_suffix: {{product_4682089594959.template_suffix | json }},
					featured_image: {{product_4682089594959.featured_image | json }},
					featured_media: {{product_4682089594959.featured_media | json }},
					images: {{product_4682089594959.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-5edb8161"><div data-pf-type="Layout" class="pf-095edb81"><div data-container="false" class="sc-pZopv bjKdkd pf-4bb98479 pf-xs--hidden" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-f24bb984 pf-r pf-r-align--cm" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:0px;" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-b0f24bb9" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-b7b0f24b"><div class="ow-step-text ow-step-1-text heading_1">
  <div>
            <h2 id="select_h2_first_step" class="select_h2">Select Your Shade and Choose Your Frequency</h2>
  </div>
  <div>
	<span tooltip="True Sons custom shades are designed to look natural and subtle. Try to match your true hair color. Don’t go lighter. If you aren't sure, just select 'unknown' and one of our dye specialists will contact you to assist you in your selection.">
	<svg class="tooltip_info" width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="13.5" cy="14.5" r="12.5" stroke="#A7A7A7" stroke-width="2"></circle>
<path d="M11.5703 18.416C11.2656 18.416 11.0625 18.6445 11.0625 18.9238V20.1172C11.0625 20.4219 11.2656 20.625 11.5703 20.625H15.4297C15.709 20.625 15.9375 20.4219 15.9375 20.1172V18.9238C15.9375 18.6445 15.709 18.416 15.4297 18.416H14.9219V13.0078C14.9219 12.7285 14.6934 12.5 14.4141 12.5H11.5703C11.2656 12.5 11.0625 12.7285 11.0625 13.0078V14.2266C11.0625 14.5059 11.2656 14.7344 11.5703 14.7344H12.0781V18.416H11.5703ZM13.5 7.625C12.4844 7.625 11.6719 8.46289 11.6719 9.45312C11.6719 10.4688 12.4844 11.2812 13.5 11.2812C14.4902 11.2812 15.3281 10.4688 15.3281 9.45312C15.3281 8.46289 14.4902 7.625 13.5 7.625Z" fill="#A6A6A6"></path>
</svg></span>
  </div>
  
          </div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-a30dd5be" data-pf-type="Section"><div style="max-width: 1170px;" class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-d4a30dd5 pf-r pf-r-eh" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-9f06df23" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-b9847926"><div class="container main_slider">
  <div class="row">
    <div class="col-sm-6">
      <div class="homeSlider">
        <div class="active item">
          <img class="img1" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9137_1_1.jpg?v=1583267993">
        </div>
        <div class="item">
          <img class="img2" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9032_1.jpg?v=1583268012">
        </div>
        <div class="item">
          <img class="img3" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9036_1.jpg?v=1583268023">
        </div>
        <div class="item">
          <img class="img4" src="https://cdn.shopify.com/s/files/1/1600/5339/files/11111_e310c7d3-37e5-4a89-a928-2feef40a1741.jpg?v=1583269081">
        </div>
      </div>
      <div class="homeSliderNav">
        <div>
          <img class="img1" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9137_1_1.jpg?v=1583267993">
        </div>
        <div>
          <img class="img2" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9032_1.jpg?v=1583268012">
        </div>
        <div>
          <img class="img3" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9036_1.jpg?v=1583268023">
        </div>
        <div>
          <img class="img4" src="https://cdn.shopify.com/s/files/1/1600/5339/files/11111_e310c7d3-37e5-4a89-a928-2feef40a1741.jpg?v=1583269081">
        </div>
      </div>
    </div>
  </div>
</div></div><div data-pf-scrolltop="false" data-multiple="false" id="accordions" data-pf-type="Accordion2" class="sc-pkfPC jHjrlE pf-7a9f06df"><div class="sc-pJipy mZVAk pf-e42d1d84 accordion__item" data-pf-type="Accordion2.Content.Wrapper"><button type="button" class="sc-pBlxj gYSgcm pf-79266d82 accordion__header pf-anchor" data-header-id="d7f0a5db-700f-4590-8509-b959d3ccf12d" data-action="accordion2" data-preopen="false" data-active="false" data-pf-type="Accordion.Header"><i class="icon_position accordion__arrow fa fa-chevron-right"></i>Instructions + More Information</button><div class="sc-qYUWV exYsxy pf-36e42d1d accordion__content" mode="view" data-id="d7f0a5db-700f-4590-8509-b959d3ccf12d" style="display: none;" data-pf-type="Accordion2.Content"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-8236e42d"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6d8236e4">True Sons is a subtle hair dye designed to boost your natural color. Do a patch test before using True Sons or any other hair dye.You can change your shade up to one week before your next order ships. Contact support@truesons.com</span></p></div></div><div class="sc-pJipy mZVAk pf-1a7a9f06 accordion__item" data-pf-type="Accordion2.Content.Wrapper"><button type="button" class="sc-pBlxj gYSgcm pf-1d848c56 accordion__header pf-anchor" data-header-id="0509b959-d3cc-412d-a082-fc189c5a8754" data-action="accordion2" data-preopen="false" data-active="false" data-pf-type="Accordion.Header"><i class="icon_position accordion__arrow fa fa-chevron-right"></i>Ingredients</button><div class="sc-qYUWV exYsxy pf-fb1a7a9f accordion__content" mode="view" data-id="0509b959-d3cc-412d-a082-fc189c5a8754" style="display: none;" data-pf-type="Accordion2.Content"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-56fb1a7a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8c56fb1a">Water (Aqua), Ethanolamine, Isobutane, Toluene-2,5-diamine Sulfate, Resorcinol, Emulsifying Wax Nf, N, N Bis(2-hydroxyethyl)-P-Phenylenediamine Sulfate, Glycolstearate, Sodium Cocoyl Isethionate, Sd Alcohol 40 (Alcohol Denat.), Propane, Sodium Laureth Sulfate, Fragrance, Sodium Lauryl Sulfate, M-aminophenol, Tetrasodium Edta, P-aminophenol, Ascorbic Acid, 2,4 Diaminophenoxyethanol HCl, 2-methylresorcinol.</span></p></div></div></div><div id="second_left_block" data-pf-type="Block" class="sc-oUbqx bgMQOP pf-5dc48659 listitem3"><h3 id="popup_second" data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-6bf12885"><a data-color="inherit" data-popup-content="shopify" data-src="https://truesons.com/pages/how-our-cost-compares-to-drug" href="#" data-action="modal" data-width="854px" data-height="550px"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-716bf128">How our cost compares to drug store dyes</span></a></h3><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-f12885d4"><div class="ow-step-text ow-step-2-text-bottom step_3_bottom_text listitem3">
            <p>
              <strong>FREE CONSULTATION</strong> Every customer also gets a free 15-minute live video chat consult with our specialists so you’ll feel super-comfortable using the product. After you order you will receive an email to schedule your complimentary meeting.<br>
              <strong>SATISFACTION GUARANTEE</strong> If you’re not satisfied with your dye choice, we’ll let you keep your original order — and replace it with a shade of your choice!<br>
              <strong>NO OBLIGATION</strong> You can cancel at anytime.
            </p>        
          </div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-85d4a30d" id="first_step_right_col" data-pf-type="Column"><div class="sc-qPjXN eYzxUD pf-20a3089c pf-r pf-r-eh" style="--pf-s-lg:0px; --pf-s-md:0px; --pf-s-sm:0px; --pf-s-xs:0px;" id="tabs" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-948ad327" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-06df234c"><button id="next_btn_first" type="button" class="next-buttons">Select your Shade</button></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-d32711ac" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-234cc294"><button id="next_btn_second" type="button" class="next-buttons">Select your Frequency</button></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-11ac20a3" id="bold_" data-pf-type="Column"></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-2885d4a3 border"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-942f3873"><div id="color_info" class="bottom_info">
  <div class="item-image"><img src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown.png?v=1590161830" alt="" title="">   </div>
  <div class="item-name">
	  <h2>DARK BROWN</h2>
   </div>
</div>
</div><div data-product-id="4682089594959" data-display="radio" style="--pf-s-lg:100px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;" id="product_variants" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-2f38736f"><input data-productid="4682089594959" name="id" class="pf-input-variant-4682089594959" type="hidden" value="{{ product.variants.first.id }}"></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-38736fce"><div class="frequency">
      <section class="tab-panel" id="first_tab">
                <div id="Bi-Monthly" data-group="51167" data-freq="2" class="pickplan ow-step-freq-single ow-step-freq-two ow-freq-selected" data-freq-type="2" data-freq-text="SUBSCRIBE & SAVE <br> 2 bottles recurring" data-price="59.9">
                  <div class="selected"></div>
                  <p class="price_text first">2 bottles recurring</p>
				  <p class="price_number">$30</p>  
                  <p class="sum_text">$59.99 per order. We ship 2 bottles every other month.</p>      
                </div>
      </section>
      <section class="tab-panel" id="second_tab">
                <div id="onetime" data-group="51167" data-freq="1" class="pickplan ow-step-freq-single ow-step-freq-two" data-freq-type="2" data-freq-text="SINGLE PLAN <br> 2 bottles one-time purchase" data-price="89.9">
                  <div class="selected"></div>
                  <p class="price_text second">2 bottles one-time purchase</p>
                  <p class="price_number">$45</p> 
                  <p class="sum_text">$89.99. We ship 2 bottles in your order.</p>         
                  </div>
      </section>
    
    </div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-736fce84"><button id="next_btn_second_dbl" type="button" class="next-buttons">Next</button></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-d5bee020"><form id="bold_subscribe_form" method="POST" action="https://recurringcheckout.com/s/true-sons-tl/checkout/recurring_product?shop_url=true-sons-tl.myshopify.com">
    <!-- Changeable -->
    <input type="hidden" name="id" value="">
    <input type="hidden" name="product_id[]" id="product_id[]" value="">
    <input type="hidden" name="variant_id[]" id="variant_id[]" value="">
    <input type="hidden" name="discounted_price" value="">
    <input type="hidden" name="_ro_unformatted_price" value="">
    <!-- <input type="hidden" name="group_id" value="146989"> -->
    
    <!-- Unchangeable -->
    <input type="hidden" name="form_type" value="product">
    <input type="hidden" name="bold-ro__selector_radio_button" value="1">
    <input type="hidden" name="frequency_type" value="3">
    <input type="hidden" name="frequency_type_text" value="Month(s)">
    <input type="hidden" name="frequency_num" value="2">
    <input type="hidden" name="quantities[]" value="1">
    <input type="hidden" name="_ro_discount_percentage" value="0">
    <button type="button" onclick="subscribe();fbq('track', 'AddToCart');" id="add-to-cart-subscribe" class="checkout-btn">Add To Cart</button>
</form></div><button data-product-id="4682089594959" data-checkout="checkout" class="sc-pcjuG uJAsR pf-207c05bc checkout-btn" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" id="add-to-cart-otp" data-pf-type="ProductATC"><span>Add To Cart</span></button><h3 id="popup" data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-84950e71 listitem1"><a data-color="inherit" data-popup-content="shopify" data-src="https://truesons.com/pages/how-true-sons-is-different" href="#" data-action="modal" data-width="940px" data-height="510px" data-popup-animation="fadeIn"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ce84950e">How True Sons is Different</span></a></h3><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-950e716b"><div class="shades_description listitem1">
 <h5>
  Your selection is <span class="changing_color">DARK BROWN</span>
</h5>
<p class="changing_color_text">
  The Dark Brown shade is used by the largest number of guys. Light skin and very dark hair? Most caucasian men find this to be the darkest shade that they need.
</p> 
</div></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-bc095edb" data-pf-type="Section"><div style="max-width: 1170px;" class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-05bc095e pf-r pf-r-eh" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-0dd5bee0" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-7c05bc09" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.0","shopDomain":"true-sons-tl.myshopify.com","elementData":{},"pageTitle":"Get started - copy","pageType":"page","pageId":"451ee87e-4098-40b8-8dc5-16459fb13166","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":false,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-10-06T20:01:29.511Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.0/core/helper.js?t=20201006221043" defer></script><script>/*setTimeout(function () {
	var sticky = document.getElementById("bottom-fix-bar");
	var fixedPosition = $(window).innerHeight() - $(sticky).innerHeight();
	$(sticky).css("top", fixedPosition);
  }, 100);*/

jQuery(document).ready(function () {


    setTimeout(() => {
        //sections
        jQuery(document).find('.pf-p-variant:nth-child(1)').addClass("listitem1");
        jQuery(document).find('.pf-p-variant:nth-child(2)').addClass("listitem2");
        jQuery(document).find('.pf-p-variant:nth-child(3)').addClass("listitem3");

       

	  //opacity
	  
	  jQuery('label[for="pf-v-4682089594959-203"]').click(function() {
      jQuery(document).find('#first_tab, label[for="pf-v-4682089594959-203"]').css({"opacity":"1", "box-shadow":"none"});
	jQuery(document).find('#second_tab, label[for="pf-v-4682089594959-213"]').css({"opacity":"0.5", "box-shadow":"none"});
});
	   jQuery('label[for="pf-v-4682089594959-213"]').click(function() {
      jQuery(document).find('#first_tab, label[for="pf-v-4682089594959-203"]').css({"opacity":"0.5", "box-shadow":"none"});
	jQuery(document).find('#second_tab, label[for="pf-v-4682089594959-213"]').css({"opacity":"1", "box-shadow":"none"});
});
        //bottom bar info step 1
        jQuery('input:radio[name=pf-v-Color1]').click(function () {

            var newhtml = jQuery('input:radio[name=pf-v-Color1]:checked').val();
            var h2 = jQuery(document).find('.item-name h2');
            var img = jQuery(document).find('.item-image img');

            jQuery(h2).text(newhtml);

            switch (newhtml) {

                case 'Dark Brown':
                    img.attr("src", "https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown.png?v=1590161830");
                    break;

                case 'Medium Brown':
                    img.attr("src", "https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown_53ee8f49-46b2-4ee2-8662-7ff0fa8541e5.png?v=1590162132");
                    break;

                case 'Dirty Blond':
                    img.attr("src", "https://cdn.shopify.com/s/files/1/0297/8558/7772/files/dirty_blond.png?v=1590162213");
                    break;

                case 'Auburn':
                    img.attr("src", "https://cdn.shopify.com/s/files/1/0297/8558/7772/files/auburn_2f491543-93a4-4229-aeac-432642e4ad6a.png?v=1590162593");
                    break;

                case 'True Black':
                    img.attr("src", "https://cdn.shopify.com/s/files/1/0297/8558/7772/files/trueblack.png?v=1590162863");
                    break;

                case 'Light Brown':
                    img.attr("src", "https://cdn.shopify.com/s/files/1/0297/8558/7772/files/lightbrown.png?v=1590162813");
                    break;

                case 'Brown Black':
                    img.attr("src", "https://cdn.shopify.com/s/files/1/0297/8558/7772/files/BrownBlack.png?v=1590163073");
                    break;

                case 'IDK MY SHADE':
                    img.attr("src", "https://cdn.shopify.com/s/files/1/0297/8558/7772/files/questionmark-dye_100x_e7d6b11f-335f-4be8-ad33-a06db772203c.png?v=1590163073");
                    break;

                default:
                    img.attr("src", "https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown.png?v=1590161830");

            }

        });

      

        //bottom bar info step 3
        jQuery('input:radio[name=pf-v-Frequency3]').click(function () {

            var newfreq = jQuery('input:radio[name=pf-v-Frequency3]:checked').val();
            var h3freq = jQuery(document).find('.item-plan h3');
            var h4freq = jQuery(document).find('.item-plan h4');

            switch (newfreq) {

                case '2':
                    h3freq.text('SUBSCRIBE & SAVE');
                    h4freq.text('2 bottles recurring');
                    break;

                case 'One-Time':
                    h3freq.text('SINGLE PLAN ');
                    h4freq.text('2 bottles one-time purchase');
                    break;
                default:
                    h3freq.text('SUBSCRIBE & SAVE');
                    h4freq.text('2 bottles recurring');
            }
        });


        //switch button
        jQuery('input:radio[name=pf-v-Frequency3]').click(function () {

            var newfreq = jQuery('input:radio[name=pf-v-Frequency3]:checked').val();
            var btnMultiple = jQuery(document).find('#add-to-cart-subscribe');
            var btnOnetime = jQuery(document).find('#add-to-cart-otp');

            switch (newfreq) {

                case '2':
                    btnMultiple.css("display", "block");
                    btnOnetime.css("display", "none");
                    break;

                case 'One-Time':
                    btnMultiple.css("display", "none");
                    btnOnetime.css("display", "block");
                    break;
                default:
                    btnMultiple.css("display", "block");
                    btnOnetime.css("display", "none");
            }
        });

        //Shades Description
        jQuery('input:radio[name=pf-v-Color1]').click(function () {
            var shade = jQuery('.listitem1 div > input:checked').val();
            var heading = jQuery('.changing_color');
            var description = jQuery('.changing_color_text');

            switch (shade) {
                case 'Dark Brown':
                    heading.text('Dark Brown');
                    description.text('The Dark Brown shade is used by the largest number of guys. Light skin and very dark hair? Most caucasian men find this to be the darkest shade that they need.');
                    break;
                case 'Medium Brown':
                    heading.text('Medium Brown');
                    description.text('The Medium Brown is a mix of cool earth tones for guys who have rich, milk-chocolate tones. This shade is a solid golden brown that isn’t too dark.');
                    break;
                case 'Dirty Blond':
                    heading.text('Dirty Blond');
                    description.text('The Dirty Blond shade will work equally well for surfers and vikings; we let you stay ‘dirty’ by allowing a mix of shades to show through. Started off blond and darkened with age? Consider Light Brown instead.');
                    break;
                case 'Auburn':
                    heading.text('Auburn');
                    description.text('The Auburn shade is perfect for fiery gingers, strawberry blondes, and everyone in between. This shade mixes warm reds and bright golds for a true-to-life auburn hue.');
                    break;
                case 'Light Brown':
                    heading.text('Light Brown');
                    description.text('The Light Brown shade accentuates the lighter blond tones of your hair while keeping the brown tones below looking natural and authentic. Perfect for anyone who rocked blond hair in their glory days.');
                    break;
                case 'True Black':
                    heading.text('True Black');
                    description.text('The True Black shade is best for dark-haired, Latin, Asian, Middle Eastern, Black, or Black Irish men. If you have any hints brown in your hair, go for Brown Black instead.');
                    break;
                case 'Brown Black':
                    heading.text('Brown Black');
                    description.text('If you have very dark hair, the Brown Black could be your shade. Look at your hair after spending time in the sun; if you can see even the faintest flecks of gold in your dark hair, you’re probably Brown Black, not True Black.');
                    break;
                case 'IDK MY SHADE':
                    heading.text('IDK MY SHADE');
                    description.text("If you aren't sure, just select 'IDK my shade' and after you purchase, you'll be able to schedule a video consultation with one of our dye specialists to assist you in your selection.");
                    break;
            }
        });


        //Sale Popup

       /* jQuery('label[for="pf-v-4682089594959-041"]').click(function () {
            jQuery('.my_modal').show();
            jQuery('.my_modal-bg').show();
        });
        jQuery('.my_modal .close').click(function () {
            jQuery('.my_modal').hide();
            jQuery('.my_modal-bg').hide();
        })
          */

    }, 1000);


    //slider

    jQuery('.homeSlider').slick({
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.homeSliderNav',
        autoplay: true,
    });
    jQuery('.homeSliderNav').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        arrows: true,
        asNavFor: '.homeSlider',
        focusOnSelect: true,
        variableWidth: true,
        centerMode: true,
        centerPadding: '10px;',
    });

    //next-btn

    jQuery('#next_btn_first').click(
        function () {
        jQuery('.listitem3, #add-to-cart-subscribe, #add-to-cart-otp, #listitem3, #color_info, .frequency').css("display", "none");
		jQuery('#info_col_first_step').css({"display":"block", "top": "50px"});
		jQuery('#text_row_main').css("top","-180px");
		jQuery('.listitem1, #next_btn_second_dbl, #accordions').css("display", "block");
		jQuery('#next_btn_second').css("background","rgba(5, 22, 153, 0.14)");
		jQuery('#next_btn_first').css({'background-image': 'url("https://cdn.shopify.com/s/files/1/1600/5339/files/Vector_1.png?v=1601064693")', 'background-color' : '#051699', 'background-position': '90% 50%'});
        });


    jQuery('#next_btn_second').click(
        function () {
            
            jQuery('#info_col_first_step, #add-to-cart-otp, .listitem1, .listitem2, #add-to-cart-otp, #next_btn_second_dbl, #accordions').css("display", "none");
            jQuery('#add-to-cart-subscribe, label[for="pf-v-4682089594959-203"], label[for="pf-v-4682089594959-213"], .listitem3, #add-to-cart-subscribe, #listitem3, #color_info').css("display", "block");
            jQuery("#ow-step-3").addClass("tab-current");
            jQuery('.fixbar_item3').css("display", "list-item");
		  	jQuery('#text_row_main').css("top","-35px");
		    jQuery('#next_btn_second').css("background","rgb(4, 20, 145)");
		    jQuery('.frequency').css("display", "flex");
		    jQuery('#next_btn_first').css({'background-image': 'url("https://cdn.shopify.com/s/files/1/1600/5339/files/Vector_2.png?v=1601064586")', 'background-color' : '#010A51', 'background-position': '94% 50%'});

        });
  jQuery('#next_btn_second_dbl').click(
        function () {
            
            jQuery('#info_col_first_step, #add-to-cart-otp, .listitem1, .listitem2, #add-to-cart-otp, #next_btn_second_dbl, #accordions').css("display", "none");
            jQuery('#add-to-cart-subscribe, label[for="pf-v-4682089594959-203"], label[for="pf-v-4682089594959-213"], .listitem3, #add-to-cart-subscribe, #listitem3, #color_info').css("display", "block");
            jQuery("#ow-step-3").addClass("tab-current");
            jQuery('.fixbar_item3').css("display", "list-item");
		  	jQuery('#text_row_main').css("top","-35px");
		    jQuery('#next_btn_second').css("background","rgb(4, 20, 145)");
		    jQuery('.frequency').css("display", "flex");
		    jQuery('#next_btn_first').css({'background-image': 'url("https://cdn.shopify.com/s/files/1/1600/5339/files/Vector_2.png?v=1601064586")', 'background-color' : '#010A51', 'background-position': '94% 50%'});

        });

});
//end doc ready

//change slider

window.onload = function () {
    var darkBrown = document.getElementById("pf-v-4682089594959-001");
    darkBrown.onclick = function () {
        darkBrown.classList.add("border_round");
        var a = document.getElementsByTagName("img");
        for (i = 0; i < a.length; i++) {
            if (a[i].className == "img1") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A9137_1_1.jpg?v=1583267993";
            } else if (a[i].className == "img2") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A9032_1.jpg?v=1583268012";
            } else if (a[i].className == "img3") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A9036_1.jpg?v=1583268023";
            }
        }
    };
    var mediumBrown = document.getElementById("pf-v-4682089594959-011");
    mediumBrown.onclick = function () {
        mediumBrown.classList.add("border_round");
        var a = document.getElementsByTagName("img");
        for (i = 0; i < a.length; i++) {
            if (a[i].className == "img1") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A0562_2.jpg?v=1583267953";
            } else if (a[i].className == "img2") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A0591_1.jpg?v=1583267967";
            } else if (a[i].className == "img3") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A0598_1.png?v=1580940568";
            }
        }
    };

    var dirtyBlond = document.getElementById("pf-v-4682089594959-021");
    dirtyBlond.onclick = function () {
        dirtyBlond.classList.add("border_round");
        var a = document.getElementsByTagName("img");
        for (i = 0; i < a.length; i++) {
            if (a[i].className == "img1") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A9317_4.jpg?v=1583267848";
            } else if (a[i].className == "img2") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A9292_1.jpg?v=1583267869";
            } else if (a[i].className == "img3") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A9300_1.png?v=1580940318";
            }
        }
    }

    var auburn = document.getElementById("pf-v-4682089594959-031");
    auburn.onclick = function () {
        var a = document.getElementsByTagName("img");
        for (i = 0; i < a.length; i++) {
            if (a[i].className == "img1") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A0043_1.png?v=1580940004";
            } else if (a[i].className == "img2") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A0075_1.jpg?v=1583267808";
            } else if (a[i].className == "img3") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A0084_1.png?v=1580940025";
            }
        }
    };

    var trueBlack = document.getElementById("pf-v-4682089594959-041");
    trueBlack.onclick = function () {
        var a = document.getElementsByTagName("img");
        for (i = 0; i < a.length; i++) {
            if (a[i].className == "img1") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A9264_1.jpg?v=1583268093";
            } else if (a[i].className == "img2") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A9214_1.jpg?v=1583268109";
            } else if (a[i].className == "img3") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A9229_1.jpg?v=1583268123";
            }
        }
    };

    var lightBrown = document.getElementById("pf-v-4682089594959-051");
    lightBrown.onclick = function () {
        var a = document.getElementsByTagName("img");
        for (i = 0; i < a.length; i++) {
            if (a[i].className == "img1") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A9471_1.png?v=1582023289";
            } else if (a[i].className == "img2") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A9614.png?v=1582023973";
            } else if (a[i].className == "img3") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/111.png?v=1582024013";
            }
        }
    };

    var brownBlack = document.getElementById("pf-v-4682089594959-061");
    brownBlack.onclick = function () {
        var a = document.getElementsByTagName("img");
        for (i = 0; i < a.length; i++) {
            if (a[i].className == "img1") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A0301_1.jpg?v=1583268049";
            } else if (a[i].className == "img2") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A0373_2.jpg?v=1583268064";
            } else if (a[i].className == "img3") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/29A0276_1.jpg?v=1583268073";
            }
        }
    };

    var idk = document.getElementById("pf-v-4682089594959-071");
    idk.onclick = function () {
        var a = document.getElementsByTagName("img");
        for (i = 0; i < a.length; i++) {
            if (a[i].className == "img1") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/11111_e310c7d3-37e5-4a89-a928-2feef40a1741.jpg?v=1583269081";
            } else if (a[i].className == "img2") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/ddd_c27f1c02-b04d-419f-adfd-79740c2e5bbb.jpg?v=1583267829";
            } else if (a[i].className == "img3") {
                a[i].src = "https://cdn.shopify.com/s/files/1/1600/5339/files/TrueSons_Product_07_18_3895_3.png?v=1580940041";
            }
        }
    }


};


//Bold
function subscribe() {

    const productId = Object.keys(window.__pageflyProducts)[0]; //
    let tokens = [...document.querySelectorAll(".pf-p-variant-radio input:checked")].map(v => v.value).map(o => o.toUpperCase());
    let variant = window.__pageflyProducts[productId].variants.find(variant => {
        let options = variant.options.map(o => o.toUpperCase());
        return tokens.filter(t => options.indexOf(t) >= 0).length === tokens.length;
    });
    if ((variant || {}).id != null) {
        let form = document.getElementById("bold_subscribe_form");
        let elements = [...form.elements].filter(e => e.tagName === "INPUT");
        let input_ID = elements.find(e => e.getAttribute("name") === "id");
        let product_id = elements.find(e => e.getAttribute("name") === "product_id[]");
        let variant_id = elements.find(e => e.getAttribute("name") === "variant_id[]");
        let discounted_price = elements.find(e => e.getAttribute("name") === "discounted_price");
        let ro_unformatted_price = elements.find(e => e.getAttribute("name") === "_ro_unformatted_price");

        product_id.value = productId;
        input_ID.value = variant.id;
        variant_id.value = variant.id;
        ro_unformatted_price.value = variant.price;
        discounted_price.value = "$" + (variant.price / 100);
        console.log(elements);
        form.submit();
    } else {
        console.error("Cannot submit subscribe form because of undefined variant ID.");
    }
}

//Facebook
window.trekkie.load = function () {
    fbq('track', 'ViewContent');
};

window.addEventListener('load', function () {
    fbq('track', 'ViewContent');
});</script>