<link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.11.1/css/main-style.css?t=20200531230546"><link rel="stylesheet" href="{{ 'pagefly.d7c7d711.scss.css' | asset_url }}">
		  {% if product_4549484380220 == null %}{%- assign product_4549484380220 = all_products['new-foam-hair-dye-for-men'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4549484380220"] = {
					id: {{product_4549484380220.id | json }},
					handle: {{product_4549484380220.handle | json }},
					title: {{product_4549484380220.title | json }},
					type: {{product_4549484380220.type | json }},
					url: {{product_4549484380220.url | json }},
					vendor: {{product_4549484380220.vendor | json }},
					variants: {{product_4549484380220.variants | json }},
					options: {{product_4549484380220.options | json }},
					media: {{product_4549484380220.media | json }},
					first_available_variant: {{product_4549484380220.first_available_variant | json }},
					has_only_default_variant: {{product_4549484380220.has_only_default_variant | json }},
					options_with_values: {{product_4549484380220.options_with_values | json }},
					selected_variant: {{product_4549484380220.selected_variant | json }},
					selected_or_first_available_variant: {{product_4549484380220.selected_or_first_available_variant | json }},
					tags: {{product_4549484380220.tags | json }},
					template_suffix: {{product_4549484380220.template_suffix | json }},
					featured_image: {{product_4549484380220.featured_image | json }},
					featured_media: {{product_4549484380220.featured_media | json }},
					images: {{product_4549484380220.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-b1ca6e35"><div data-pf-type="Layout" class="pf-c156b1ca"><div data-container="true" class="sc-pZopv bjKdkd pf-39523163" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-3a63fc3a" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-8a943a63 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-31639815" data-pf-type="Column"><div data-product-id="4549484380220" data-display="radio" data-label="true" data-pf-type="ProductVariant" class="sc-pIgJL dTFuTq pf-b41689cc" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="4549484380220" name="id" class="pf-input-variant-4549484380220" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-98158a94" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-656a91b4"><div class="container main_slider">
  <div class="row">
    <div class="col-sm-6">
      <div class="homeSlider">
        <div class="active item">
          <img class="img1" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9137_1_1_1.png?v=1590183406">
        </div>
        <div class="item">
          <img class="img2" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9032_1.png?v=1590183406">
        </div>
        <div class="item">
          <img class="img3" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9036_1.png?v=1590183406">
        </div>
        <div class="item">
          <img class="img4" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/TrueSons_Product_0084_1_2.png?v=1590171457">
        </div>
      </div>
      <div class="homeSliderNav">
        <div>
          <img class="img1" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9137_1_1_1.png?v=1590183406">
        </div>
        <div>
          <img class="img2" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9032_1.png?v=1590183406">
        </div>
        <div>
          <img class="img3" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9036_1.png?v=1590183406">
        </div>
        <div>
          <img class="img4" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/TrueSons_Product_0084_1_2.png?v=1590171457">
        </div>
      </div>
    </div>
  </div>
</div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.11.1","shopDomain":"truesons-dev.myshopify.com","elementData":{},"pageTitle":"Find Your Shade","pageType":"page","pageId":"d7c7d711-ab19-47ec-a5b0-2e2b968c2337","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.11.1/core/helper.js?t=20200531230546" defer></script><script>
jQuery (document).ready(function () {


    
//slider

jQuery ('.homeSlider').slick({
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  asNavFor: '.homeSliderNav',
  autoplay: true,
});
jQuery ('.homeSliderNav').slick({
  slidesToShow: 5,
  slidesToScroll: 1,
  arrows: true,
  asNavFor: '.homeSlider',
  focusOnSelect: true,
  variableWidth: true,
  centerMode: true,
  centerPadding: '10px;', 
});

 
  
});
//change slider 

window.onload = function () {
  var darkBrown = document.getElementById("pf-v-4549484380220-001");
    darkBrown.onclick = function() {
	  darkBrown.classList.add("border_round");
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9137_1_1_1.png?v=1590183406";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9032_1.png?v=1590183406";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9036_1.png?v=1590183406";          
        }
    }
    }
  var mediumBrown = document.getElementById("pf-v-4549484380220-011");
    mediumBrown.onclick = function() {
	  	  mediumBrown.classList.add("border_round");
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0562_2.png?v=1590183530";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0591_1.png?v=1590183530";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0598_1.png?v=1590183530";          
        }
    }
    }
  
    var dirtyBlond = document.getElementById("pf-v-4549484380220-021");
    dirtyBlond.onclick = function() {
	  	dirtyBlond.classList.add("border_round");
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9317_4.png?v=1590169970";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9292_1.png?v=1590169969";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9300_1.png?v=1590169969";          
        }
    }
    }
  
    var auburn = document.getElementById("pf-v-4549484380220-031");
    auburn.onclick = function() {
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0043_1.png?v=1590182866";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0075_1.png?v=1590182865";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0084_1.png?v=1590182865";          
        }
    }
    }
  
   var trueBlack = document.getElementById("pf-v-4549484380220-041");
    trueBlack.onclick = function() {
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9264_1.png?v=1590171457";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9214_1.png?v=1590171457";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9229_1.png?v=1590171457";          
        }
    }
    }
  
 var lightBrown = document.getElementById("pf-v-4549484380220-051");
    lightBrown.onclick = function() {
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9471_1.png?v=1590183637";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9614.png?v=1590183637";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/111.png?v=1590183637";          
        }
    }
    }
  
  var brownBlack = document.getElementById("pf-v-4549484380220-061");
    brownBlack.onclick = function() {
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0301_1.png?v=1590183701";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0373_2.png?v=1590183701";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0276_1.png?v=1590183701";          
        }
    }
    }
  
  var idk = document.getElementById("pf-v-4549484380220-071");
    idk.onclick = function() {
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/True_Sons_Files_Shopify_-g_Mozilla_Firefox.jpg?v=1590183935";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/True_Sons_Files_Shopify_-_Mozilla_Firefox.jpg?v=1590183934";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/TrueSons_Product_07_18_3895_3_e1f100c1-3dfc-4cd5-a04d-a2f29dc41e3a.jpg_WEBP_568_x_352_-_Mozilla_Firefox.jpg?v=1590184002";          
        }
    }
    }
  
 
}



</script>