{% layout 'theme.pagefly' %}
<link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.12.0/css/main-style.css?t=20200609230644"><link rel="stylesheet" href="{{ 'pagefly.7f29d8cf.scss.css' | asset_url }}">
		  {% if product_4549484380220 == null %}{%- assign product_4549484380220 = all_products['new-foam-hair-dye-for-men'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4549484380220"] = {
					id: {{product_4549484380220.id | json }},
					handle: {{product_4549484380220.handle | json }},
					title: {{product_4549484380220.title | json }},
					type: {{product_4549484380220.type | json }},
					url: {{product_4549484380220.url | json }},
					vendor: {{product_4549484380220.vendor | json }},
					variants: {{product_4549484380220.variants | json }},
					options: {{product_4549484380220.options | json }},
					media: {{product_4549484380220.media | json }},
					first_available_variant: {{product_4549484380220.first_available_variant | json }},
					has_only_default_variant: {{product_4549484380220.has_only_default_variant | json }},
					options_with_values: {{product_4549484380220.options_with_values | json }},
					selected_variant: {{product_4549484380220.selected_variant | json }},
					selected_or_first_available_variant: {{product_4549484380220.selected_or_first_available_variant | json }},
					tags: {{product_4549484380220.tags | json }},
					template_suffix: {{product_4549484380220.template_suffix | json }},
					featured_image: {{product_4549484380220.featured_image | json }},
					featured_media: {{product_4549484380220.featured_media | json }},
					images: {{product_4549484380220.images | json }}
				};
window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					first_available_variant: {{product.first_available_variant | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-4880254d"><div data-pf-type="Layout" class="pf-925d4880"><div data-container="true" class="sc-pZopv bjKdkd pf-61cb3e0b" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1620px;"><div class="sc-qPjXN eYzxUD pf-a2a978d5 pf-bg-lazy pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-c5495e2d" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-5e2da2a9" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.12.0","shopDomain":"truesons-dev.myshopify.com","elementData":{},"pageTitle":"BIMU HOME DON`T EDIT","pageType":"page","pageId":"7f29d8cf-27d2-4096-b697-a2810ae5fda3","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.12.0/core/helper.js?t=20200609230644" defer></script>